.Layer__TransactionsActions {
  display: grid;

  grid-template-columns: auto minmax(0, 1fr) auto auto;
  gap: var(--spacing-xs);
  grid-template-areas:
    "toggle . download manage"
    "search search search search";

  @container (min-width: 640px) {
    grid-template-columns: auto minmax(0, 2fr) minmax(0, 3fr) auto auto;
    grid-template-areas: "toggle . search download manage";
  }

  @container (min-width: 780px) {
    grid-template-columns: auto minmax(0, 3fr) minmax(0, 2fr) auto auto;
    grid-template-areas: "toggle . search download manage";
  }

  @container (min-width: 1024px) {
    grid-template-columns: auto minmax(0, 3fr) minmax(0, 1fr) auto auto;
    grid-template-areas: "toggle . search download manage";
  }

  > [slot="toggle"] {
    grid-area: toggle;
  }

  > [slot="search"] {
    grid-area: search;
  }

  > [slot="download"] {
    grid-area: download;
  }

  > [slot="manage"] {
    grid-area: manage;
  }
}
