.Layer__PnlLegend {
  align-items: flex-start;
}

.Layer__PnlLegend__Swatch {
  display: inline-block;
  flex-shrink: 0;
  block-size: 0.625rem;
  inline-size: 0.625rem;
  border-radius: 50%;
}

.Layer__PnlLegend__Swatch--income {
  background-color: var(--bar-color-income);
}

.Layer__PnlLegend__Swatch--expenses {
  background-color: var(--bar-color-expenses);
}

.Layer__PnlLegend__Swatch--uncategorized {
  background-image:
    linear-gradient(
      45deg,
      var(--color-base-500) 25%,
      transparent 25%,
      transparent 50%,
      var(--color-base-500) 50%,
      var(--color-base-500) 75%,
      transparent 75%,
      transparent
    );
  background-size: 4px 4px;
}
