.Layer__ProfitAndLossSummaryCard {
  .Layer__chart-wrapper,
  .Layer__chart-container {
    height: 100%;
    min-block-size: 15.625rem;
  }

  div.recharts-responsive-container.Layer__chart-container {
    padding-block-start: var(--spacing-xs);
  }

  @media (width <= 760px) {
    .Layer__chart-wrapper {
      height: unset;
    }
  }
}
