.Layer__ProfitAndLossSummaryCard {
  .Layer__chart-wrapper,
  .Layer__chart-container {
    min-height: 250px;
  }

  .Layer__DetailedChart__container {
    height: unset;
    min-height: 250px;
  }

  div.recharts-responsive-container.Layer__chart-container {
    padding-top: var(--spacing-xs);
  }
}
