#layer-bar-stripe-pattern rect {
  fill: var(--color-light);
}

#layer-bar-stripe-pattern line {
  stroke: var(--color-light);
}

#layer-bar-stripe-pattern-dark rect {
  fill: var(--color-dark);
}

#layer-bar-stripe-pattern-dark line {
  stroke: var(--color-dark);
}
