#layer-bar-stripe-pattern rect {
  fill: var(--bar-color-income);
}

#layer-bar-stripe-pattern line {
  stroke: var(--bar-color-income);
}

#layer-bar-stripe-pattern-dark rect {
  fill: var(--bar-color-expenses);
}

#layer-bar-stripe-pattern-dark line {
  stroke: var(--bar-color-expenses);
}
