.Layer__ExpandableDataTable {
  &__FirstCell {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    inline-size: 100%;
    min-inline-size: 0;
  }

  &__ChevronSlot {
    flex: 0 0 auto;
    inline-size: 1rem;
  }

  &__PrefixSlot {
    flex: 0 0 auto;
  }

  &__FirstCell__Content {
    flex: 1 1 auto;
    min-inline-size: 0;
  }
}
