.Layer__SummaryCard {
  --layer-summary-card-desktop-height: 25rem;

  box-sizing: border-box;
  inline-size: 100%;
  min-inline-size: 0;
  box-shadow: 0 0 0 1px var(--border-color);

  &__Body {
    block-size: 100%;
    min-inline-size: 0;
  }

  &__Header {
    box-sizing: border-box;
    height: 5rem;
    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-lg);
    border-block-end: 1px solid var(--color-base-300);
  }

  &__HeaderTitle {
    min-inline-size: 0;
  }

  &__HeaderActions {
    flex-shrink: 0;
    min-inline-size: 0;
  }

  &__HeaderLegend {
    min-inline-size: 0;
  }

  &__HeaderPrimaryAction {
    flex-shrink: 0;
    min-inline-size: 0;

    .Layer__UI__Button {
      padding-inline: var(--spacing-2xs);
    }
  }

  &__Content {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-block-size: 0;
    min-inline-size: 0;
    padding: var(--spacing-sm);
  }
}

@media (width > 760px) {
  .Layer__SummaryCard {
    block-size: var(--layer-summary-card-desktop-height);
  }
}
