.Layer__Checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  [slot="checkbox"] {
    background-color: var(--checkbox-bg);
    color: transparent;
    border: 2px solid var(--checkbox-border-color);
    border-radius: var(--checkbox-radius);
    display: grid;
    place-items: center;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    transition: all 100ms ease-out;

    &[data-hovered] {
      box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);
    }
  }

  &[data-size="lg"] [slot="checkbox"] {
    width: var(--checkbox-size-lg);
    height: var(--checkbox-size-lg);
    border-radius: var(--checkbox-radius-lg);

    &[data-hovered] {
      box-shadow: 0 0 0 2px rgb(0 0 0 / 5%);
    }
  }

  svg {
    transition: all 100ms ease-out;
  }

  &[data-pressed] [slot="checkbox"] {
    border-color: var(--outline-active);
  }

  &[data-focus-visible] [slot="checkbox"] {
    outline: 1px solid var(--outline-active);
    outline-offset: 2px;
  }

  &[data-selected] [slot="checkbox"] {
    color: var(--checkbox-color-selected);
    background-color: var(--checkbox-bg-selected);
    border-color: var(--checkbox-border-color-selected);
  }

  &[data-selected][data-variant="success"] {
    [slot="checkbox"] {
      background-color: var(--checkbox-bg-success-selected);
      border-color: var(--checkbox-border-color-success-selected);
    }
  }

  &[data-disabled] {
    cursor: not-allowed;

    [slot="checkbox"] {
      background-color: var(--checkbox-bg-disabled);

      &[data-hovered] {
        box-shadow: 0 0 0 1px rgb(0 0 0 / 2%);
      }
    }
  }

  &[data-labeled] {
    gap: var(--spacing-xs);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--color-info-success-bg);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border-color: var(--color-base-300);
    }
  }
}
