.Layer__Checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  [slot='checkbox'] {
    box-sizing: border-box;
    display: grid;

    height: var(--size);
    width: var(--size);

    border-radius: var(--checkbox-radius);
    border: 2px solid var(--outline-default);

    background-color: var(--color-base-50);
    color: transparent;

    place-items: center;
    transition: all 100ms ease-out;

    --size: 1rem;
    --checkbox-radius: var(--border-radius-3xs);

    &[data-pressed] {
      border-color: var(--outline-active);
    }
  }

  &[data-size='lg'] [slot='checkbox'] {
    --size: 1.5rem;
    --checkbox-radius: var(--border-radius-2xs);
  }

  svg {
    transition: all 100ms ease-out;
  }

  &[data-readonly] [slot='checkbox'] {
    background-color: var(--bg-muted);
  }

  &[data-hovered] [slot='checkbox'],
  &[data-pressed] [slot='checkbox'] {
    border-color: var(--outline-active);
  }

  &[data-focus-visible] [slot='checkbox'] {
    outline: 1px solid var(--outline-active);
    outline-offset: 2px;
  }

  &[data-selected] [slot='checkbox'],
  &[data-indeterminate] [slot='checkbox'] {
    background-color: var(--fg-default);
    color: var(--bg-default);
    border-color: var(--fg-default);
  }

  &[data-variant='success'] {
    [slot='checkbox'] {
      background-color: var(--color-info-success);
    }
  }

  &[data-selected][data-variant='success'] {
    [slot='checkbox'] {
      border-color: var(--color-info-success);
    }
  }

  &[data-variant='error'] {
    [slot='checkbox'] {
      border-color: var(--color-info-error);
    }
  }

  &[data-selected][data-variant='error'] {
    [slot='checkbox'] {
      background-color: var(--color-info-error);
    }
  }

  &[data-selected][data-readonly] {
    [slot='checkbox'] {
      border-color: var(--fg-subtle);
      background-color: var(--fg-subtle);
    }
  }

  &[data-disabled] {
    cursor: not-allowed;

    [slot='checkbox'] {
      background-color: var(--color-base-200);
    }
  }

  &[data-labeled] {
    gap: var(--spacing-xs);
  }
}
