.Layer__InvoicePaymentForm {
  .Layer__InvoicePaymentForm__Field__InvoiceNo,
  .Layer__InvoicePaymentForm__Field__PaidAt,
  .Layer__InvoicePaymentForm__Field__PaymentMethod,
  .Layer__InvoicePaymentForm__Field__ReferenceNo,
  .Layer__InvoicePaymentForm__Field__Memo {
    grid-template-columns: 8rem auto;
    min-width: 16rem;
  }

  .Layer__InvoicePaymentForm__Field__Amount {
    grid-template-columns: 8rem 8rem;
    justify-content: end;
  }

  .Layer__InvoicePaymentForm__Field__OutstandingBalance {
    display: grid;
    grid-template-columns: 8rem 7.5rem;
    justify-content: end;
  }

  .Layer__InvoicePaymentForm__FormError {
    height: 4rem;

    padding-inline: var(--spacing-md);
    border-top: 1px solid var(--border-color);
  }

  .Layer__InvoicePaymentForm__Field__InvoiceNo {
    display: grid;
  }

  .Layer__InvoicePaymentForm__Section {
    padding: var(--spacing-md);
    border-top: 1px solid var(--border-color);

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .Layer__InvoicePaymentForm__Submit {
    display: grid;
  }
}
