.Layer__linked-accounts__options {
  position: relative;
  display: flex;

  &.--hide-ledger-balance {
    position: relative;
    display: block;
  }

  &:hover .Layer__linked-accounts__options-overlay,
  &:focus-within .Layer__linked-accounts__options-overlay,
  &:has([aria-expanded='true']) .Layer__linked-accounts__options-overlay {
    opacity: 1;
    touch-action: auto;

    .Layer__linked-accounts__options-overlay-button {
      transform: translate3d(0, 0, 0);
    }
  }

  .Layer__linked-accounts__options-overlay {
    position: absolute;
    z-index: 99;
    top: var(--spacing-2xs);
    right: var(--spacing-2xs);
    display: flex;
    justify-content: flex-end;
    height: 54px;
    width: 74px;
    border-top-right-radius: var(--border-radius-sm);
    background:
      linear-gradient(
        270deg,
        var(--color-base-50) 1.52%,
        color-mix(in srgb, var(--color-base-50) 0%, transparent) 99.75%
      );
    opacity: 0;
    touch-action: none;
    transition: 0.15s all ease-out;

    .Layer__linked-accounts__options-overlay-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      padding: 0;
      border-radius: var(--spacing-2xs);
      border: none;

      &:focus-visible {
        outline: 1px auto -webkit-focus-ring-color;
        outline-offset: 2px;
      }

      box-shadow:
        0 0 8px 0
        var(--base-transparent-12);
      margin: var(--spacing-xs);
      background: var(--color-base-0);
      cursor: pointer;
      color: var(--color-base-1000);
      transform: translate3d(5px, -5px, 0);
      transition: 0.15s all ease-out;
    }
  }
}

.Layer__linked-accounts__options-menu {
  &[data-entering] {
    animation: linked-accounts-options-menu-slide 150ms ease-out;
  }

  &[data-exiting] {
    animation: linked-accounts-options-menu-slide 150ms ease-out reverse;
  }
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes linked-accounts-options-menu-slide {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Layer__linked-accounts__options-menu-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  padding: var(--spacing-3xs);
  border-radius: var(--spacing-xs);
  box-shadow:
    0 0 0 1px rgb(25 25 25 / 6%),
    0 4px 12px 0 var(--base-transparent-1, rgb(16 24 40 / 1%)),
    0 2px 4px 0 rgb(25 25 25 / 6%);
  outline: none;
  background: var(--color-base-0);
}

.Layer__linked-accounts__options-menu-item {
  display: flex;
  align-items: center;
  padding: var(--spacing-3xs);
  padding-left: var(--spacing-xs);
  border-radius: var(--spacing-2xs);
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-base-500);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;

  .Layer__Span {
    line-height: normal;
  }

  &[data-hovered],
  &[data-focused] {
    background: var(--color-base-50);
    font-weight: 540;
    color: var(--color-base-800);
  }

  &[data-focus-visible] {
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 2px;
  }
}
