.Layer__MobileListItem {
  position: relative;
  display: grid;
  grid-template-areas:
    'content'
    'expanded'
    'footer';
  grid-template-columns: minmax(0, 1fr);
  overflow: hidden;

  border-radius: var(--border-radius-sm);

  border: 1px solid var(--border-color);
  background-color: var(--color-base-0);

  &[data-selectable] {
    grid-template-areas:
      'selection content'
      'expanded expanded'
      'footer footer';
    grid-template-columns: auto minmax(0, 1fr);
  }

  &[data-with-actions] .Layer__MobileListItemContent__TitleRow {
    padding-inline-end: var(--spacing-2xl);
  }

  [data-variant='compact'] & {
    border-radius: 0;
    border: none;
  }
}

.Layer__MobileListItem > .Layer__Checkbox {
  grid-area: selection;
  align-self: center;
  padding-inline-start: var(--spacing-sm);
}

.Layer__MobileListItem__Content {
  grid-area: content;
  padding: var(--spacing-sm);
}

.Layer__MobileListItem__Action {
  position: absolute;
  inset-block-start: var(--spacing-2xs);
  inset-inline-end: var(--spacing-2xs);
}

.Layer__MobileListItem__Expanded {
  grid-area: expanded;
  overflow: hidden;
}

.Layer__MobileListItem__Footer {
  grid-area: footer;
  overflow: hidden;
}

[data-variant='compact'] .Layer__MobileListItem__Content {
  padding-inline: 0;
}

[data-variant='compact'] .Layer__MobileListItem__Footer {
  border-radius: 0;
}
