.Layer__ChartTooltip {
  padding: var(--spacing-2xs) var(--spacing-sm);
  border-radius: var(--border-radius-3xs);
  background-color: var(--color-base-1000);
  font-size: var(--text-sm);
  color: var(--color-base-500);
}

.Layer__ChartTooltip__list {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    column-gap: var(--spacing-sm);
    justify-content: space-between;
    list-style: none;
  }
}
