.Layer__FormSwitchField {
  display: grid;
  grid-template-areas:
    'label'
    'switch';

  .Layer__FormSwitchField__LabelContent {
    width: max-content;
  }

  .Layer__FormSwitchField__LabelIcon {
    color: var(--color-base-700);
  }

  > [slot='switch'] {
    grid-area: switch;
    justify-self: center;

    margin-block: var(--spacing-2xs);
  }

  > [slot='label'] {
    grid-area: label;

    padding-block-end: var(--spacing-3xs);
  }

  &--inline {
    grid-template-areas: 'label switch';
    gap: var(--spacing-3xs);
    align-items: center;

    > [slot='label'] {
      padding-block-end: 0;
    }
  }
}
