.Layer__FormDatePickerField {
  display: grid;

  grid-template-areas:
    'label'
    'datepicker';

  &--inline {
    grid-template-areas: 'label datepicker';

    align-items: center;

    .Layer__DatePicker {
      display: contents;

      > .Layer__DatePicker__Label {
        grid-area: label;
      }

      > .Layer__UI__DatePicker {
        grid-area: datepicker;
      }
    }
  }

  .Layer__DatePicker {
    grid-area: datepicker;
  }
}
