.Layer__badge {
  --size: 27px;

  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacing-3xs);
  align-items: center;
  height: var(--size);
  min-inline-size: fit-content;

  padding: var(--spacing-3xs) var(--spacing-xs);
  border-radius: var(--border-radius-2xs);

  background-color: var(--badge-bg-color);

  font-size: var(--text-sm);
  color: var(--badge-color);

  transition: all var(--transition-speed) ease-in-out;

  &.Layer__badge--small {
    --size: 21px;

    font-size: var(--text-xs);
    line-height: 1.1;
  }

  &.Layer__badge--xs {
    --size: 17px;

    font-size: var(--text-2xs);
    line-height: 1;
  }

  &.Layer__badge--icon-only {
    justify-content: center;
    min-width: var(--size);
    padding: 0;
    border-radius: var(--border-radius-5xl);
  }

  &.Layer__badge--clickable {
    min-height: 21px;
    border-width: 0;
    cursor: pointer;
  }

  &.Layer__badge--default {
    background-color: var(--badge-bg-color);
    color: var(--badge-fg-color);
  }

  &.Layer__badge--info {
    background-color: var(--badge-bg-color-info);
    color: var(--badge-fg-color-info);
  }

  &.Layer__badge--success {
    background-color: var(--badge-bg-color-success);
    color: var(--badge-fg-color-success);
  }

  &.Layer__badge--warning {
    background-color: var(--badge-bg-color-warning);
    color: var(--badge-fg-color-warning);
  }

  &.Layer__badge--error {
    background-color: var(--badge-bg-color-error);
    color: var(--badge-fg-color-error);
  }

  &.Layer__badge--standard {
    background-color: var(--badge-bg-color-standard);
    color: var(--badge-fg-color-standard);
  }

  &.Layer__badge--with-hover:hover {
    &.Layer__badge--default {
      background-color: var(--badge-color);
      color: var(--badge-bg-color);
    }

    &.Layer__badge--info {
      background-color: var(--badge-color-info);
      color: var(--badge-bg-color-info);
    }

    &.Layer__badge--success {
      background-color: var(--badge-color-success);
      color: var(--badge-bg-color-success);
    }

    &.Layer__badge--warning {
      background-color: var(--badge-color-warning);
      color: var(--badge-bg-color-warning);
    }

    &.Layer__badge--error {
      background-color: var(--badge-color-error);
      color: var(--badge-bg-color-error);
    }
  }
}
