.Layer__tax-estimate__overview {
  background: var(--color-base-0);
}

.Layer__tax-estimate__breakdown {
  width: 100%;
}

.Layer__tax-estimate__due-date {
  margin-top: var(--spacing-sm);
}

.Layer__tax-estimate__tax-row {
  padding: var(--spacing-lg);
}

.Layer__tax-estimate__description-button {
  display: inline-block;

  .Layer__UI__Button {
    height: auto;
    min-height: auto;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--text-xs);
  }
}

.Layer__tax-estimate__row-label {
  height: 2rem;
  margin-top: var(--spacing-xs);
}

.Layer__tax-estimate__quarter-item {
  padding: var(--spacing-sm);
  cursor: pointer;

  &:hover {
    background: var(--color-base-50);
  }
}

.Layer__tax-estimate__overview-total {
  width: 15rem;
  padding: var(--spacing-lg);
  border-right: 1px solid var(--color-base-300);
}
