.Layer__bulk-actions-header__selection-container {
  height: 2.25rem;
  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--color-base-300);
  padding-inline-start: var(--spacing-lg);
  padding-inline-end: var(--spacing-3xl);
}
