.Layer__bulk-actions-header {
  height: 2.5rem;
}

.Layer__bulk-actions-header__selection-container {
  height: 2.25rem;
  min-width: 11rem;
  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--color-base-300);
}
