.Layer__InvoiceForm__LineItem {
  display: grid;

  --grid-cols-base:
    minmax(12rem, 4fr)
    minmax(4rem, 1fr)
    minmax(6rem, 1fr)
    minmax(6rem, 1fr)
    minmax(3rem, 0fr);

  grid-template-columns:
    var(--grid-cols-base)
    auto;

  width: 100%;

  &--readonly {
    grid-template-columns: var(--grid-cols-base);
  }
}

.Layer__InvoiceForm__LineItem__ExpandedContent {
  display: grid;
  grid-template-columns: minmax(10rem, 14rem) auto;

  width: fit-content;
}
