.Layer__bookkeeping-overview--view {
  .Layer__ViewPanel .Layer__ViewPanel__Content .Layer__ComponentHeader {
    z-index: 1;
  }

  .Layer__ViewPanel[data-open] .Layer__ViewPanel__Content {
    border-right: none;
  }

  .Layer__ViewPanel__Sidebar {
    padding: var(--spacing-lg);
    border-left: none;
    background: none;
  }

  .Layer__ViewPanel[data-open] .Layer__ViewPanel__Sidebar {
    max-width: 560px;
  }
}

@media screen and (width >= 1100px) {
  .Layer__bookkeeping-overview--view {
    .Layer__ViewPanel__Content {
      max-width: 1406px;
    }

    .Layer__view-main.Layer__view-main {
      padding-right: 0;
    }
  }
}

.Layer__BookkeepingOverview {
  &__ProfitAndLossContainer {
    display: flex;
    flex-direction: column;
  }

  &__ProfitAndLossHeader {
    padding-block-start: var(--spacing-lg);
    padding-block-end: 0;
    padding-inline: var(--spacing-lg);
  }

  &__ProfitAndLossCharts {
    max-inline-size: 1406px;
  }

  &__ProfitAndLossChart {
    box-sizing: border-box;
    inline-size: 100%;
  }
}
