.Layer__AdjustedGrossIncomeTable {
  width: 100%;
  table-layout: fixed;

  &__Header {
    display: none;
  }

  .Layer__UI__Table-Row {
    display: grid;
    grid-template-columns:
      minmax(2rem, 40%)
      minmax(15rem, 60%);

    &.Layer__AdjustedGrossIncomeTable__DeductionsRow {
      background-color: var(--color-base-50);

      .Layer__UI__Table-Cell {
        &:first-child {
          padding-left: var(--spacing-lg);
        }
      }
    }
  }

  .Layer__UI__Table-Cell {
    &:nth-child(2) {
      justify-content: flex-end;
      text-align: right;
    }
  }
}
