.Layer__ProfitAndLossChart {
  position: relative;

  &__Container {
    min-block-size: 18.75rem;
  }
}

.Layer__profit-and-loss-chart .recharts-cartesian-axis-tick-value tspan {
  font-size: 0.75rem;
}

.Layer__profit-and-loss-chart__bar--loading {
  fill: var(--color-base-50);
  animation: layer_chart_bar_loading_anim 2s linear infinite;
}

.Layer__profit-and-loss-chart__bar--income {
  fill: var(--bar-color-income);
}

.Layer__profit-and-loss-chart__bar--expenses {
  fill: var(--bar-color-expenses);
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes layer_chart_bar_loading_anim {
  0% {
    fill: var(--color-base-50);
  }

  50% {
    fill: var(--color-base-200);
  }

  100% {
    fill: var(--color-base-50);
  }
}

#layer-bar-stripe-pattern rect {
  fill: var(--color-light);
}

#layer-bar-stripe-pattern line {
  stroke: var(--color-light);
}

#layer-bar-stripe-pattern-dark rect {
  fill: var(--color-dark);
}

#layer-bar-stripe-pattern-dark line {
  stroke: var(--color-dark);
}
