$public-classname: '.Layer__Public';
$portal-classname: '.Layer__Portal';

/*
 * `box-sizing` is not an inheritable property.
 *
 * This change enforces a sensible default value for all elements nested
 * within a component exposed on the public API surface.
 */

@each $classname in $public-classname, $portal-classname {
  #{$classname},
  #{$classname}::before,
  #{$classname}::after,
  #{$classname} *,
  #{$classname} *::before,
  #{$classname} *::after {
    box-sizing: border-box;
  }
}
