.Layer__tasks-pending {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-md);
  border-top: 1px solid var(--color-base-300);

  .Layer__tasks-pending-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 36px;
    width: 100%;
  }

  .Layer__tasks-pending-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .Layer__tasks-pending-bar {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    padding: var(--spacing-3xs) var(--spacing-xs);
    border-radius: 8px;
    background-color: var(--color-base-50);

    .mini-chart {
      transform: rotate(90deg);
    }

    .Layer__tasks-pending-bar__status--done {
      color: var(--color-success);
    }

    .Layer__tasks-pending-bar__status--pending {
      color: var(--color-warning);
    }
  }
}
