.Layer__tabs {
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm);
  height: 38px;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  gap: var(--spacing-xs);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  border-bottom: 2px solid var(--color-base-100);

  .Layer__tabs-option-content {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

.Layer__tabs-option__icon {
  line-height: 11px;
}

.Layer__tabs-option {
  position: relative;
  cursor: pointer;
  z-index: 2;

  & input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }

  & input + span {
    box-sizing: border-box;
    padding: var(--spacing-xs);
    min-width: 40px;
    height: 36px;
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    font-variation-settings: 'wght' 460;
    cursor: pointer;
    transition: color var(--transition-speed) ease-in-out,
      background-color 150ms ease-in-out;
    justify-content: center;
    border-bottom: 2px solid transparent;
    position: relative;

    &:hover {
      color: var(--text-color-primary);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 0;
      background-color: var(--color-base-300);
      transition: opacity 120ms ease-out;
    }
  }

  & input:checked + span {
    color: var(--text-color-primary);
  }

  & input:disabled + span {
    cursor: not-allowed;
    color: var(--text-color-secondary);
  }

  &:hover input + span::after {
    opacity: 1;
  }

  &:hover input:disabled + span,
  &:hover input:checked + span {
    background-color: transparent;

    &::after {
      display: none;
    }
  }
}

.Layer__tabs.Layer__tabs--small .Layer__tabs-option {
  input + span {
    height: 32px;
    border-radius: 6px;
  }
}

.Layer__tabs__thumb {
  position: absolute;
  width: 100px;
  left: 0;
  bottom: -2px;
  z-index: 3;
  box-sizing: border-box;
  height: 2px;
  border-radius: 2px;
  background: var(--color-base-900);
}

.Layer__tabs--initialized {
  .Layer__tabs__thumb {
    transition: left 150ms ease,
      width 150ms ease;
  }
}
