.Layer__tabs__container {
  overflow: auto hidden;
  min-height: 50px;
}

.Layer__tabs {
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  height: 42px;
  width: fit-content;
  min-width: 100%;
  padding: 0 var(--spacing-sm);
  border-bottom: 2px solid var(--color-base-100);
  cursor: pointer;
  user-select: none;
  isolation: isolate;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  .Layer__tabs-option-content {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
  }
}

.Layer__tabs-option__icon {
  line-height: 11px;
}

.Layer__tabs-option {
  position: relative;
  z-index: 2;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }

  & input + span {
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    height: 36px;
    min-width: 40px;
    padding: var(--spacing-xs);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-size: var(--btn-font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-secondary);
    font-variation-settings: 'wght' 460;
    transition:
      color var(--transition-speed) ease-in-out,
      background-color 150ms ease-in-out;

    &:hover {
      color: var(--text-color-primary);
    }
  }

  & input:checked + span {
    color: var(--text-color-primary);
  }

  & input:disabled + span {
    cursor: not-allowed;
    color: var(--text-color-secondary);
  }

  &:hover input:disabled + span,
  &:hover input:checked + span {
    background-color: transparent;
  }
}

.Layer__tabs.Layer__tabs--small .Layer__tabs-option {
  input + span {
    height: 32px;
    border-radius: 6px;
  }
}

.Layer__tabs__thumb {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100px;
  border-radius: 2px;
  background: var(--color-base-900);
}

.Layer__tabs--initialized {
  .Layer__tabs__thumb {
    transition:
      left 150ms ease,
      width 150ms ease;
  }
}

@container (width <= 400px) {
  .Layer__tabs-option {
    .Layer__tasks__badge .Layer__tasks__badge__label {
      display: none;
    }

    .Layer__tasks__badge .Layer__tasks__badge__label-short {
      display: flex;
    }
  }
}
