.Layer__ComponentContainer.Layer__chart-of-accounts {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.Layer__chart-of-accounts .Layer__ViewPanel {
  max-width: 100%;
}

@container (max-width: 760px) {
  .Layer__chart-of-accounts {
    overflow: auto;
  }
}
