@use 'breakpoints' as bp;

.Layer__chart-of-accounts {
  position: relative;
  display: flex;
  align-items: stretch;

  --layout-container-overflow: hidden;

  @include bp.container-tablet-down {
    --layout-container-overflow: auto;
  }
}
