.Layer__MatchForm__Table {
  display: grid;
  grid-template-columns: 120px minmax(0, 1fr) 100px max-content;
  gap: var(--spacing-xs) 0;
  max-width: 40rem;
  margin-bottom: var(--spacing-sm);

  &:has(.Layer__MatchForm__Table__status) {
    grid-template-columns: 120px minmax(0, 1fr) 100px max-content min-content;
  }

  &:not(:has(.Layer__MatchForm__Table__link)) {
    grid-template-columns: 120px minmax(0, 1fr) 100px;
  }

  &:not(:has(.Layer__MatchForm__Table__link)):has(.Layer__MatchForm__Table__status) {
    grid-template-columns: 120px minmax(0, 1fr) 100px min-content;
  }

  .Layer__MatchForm__Table__header {
    display: contents;
    background: transparent;

    & > div {
      overflow: hidden;
      padding: var(--spacing-xs) var(--spacing-sm);
      font-size: var(--text-sm);
      color: var(--color-base-500);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .Layer__MatchForm__Table__date {
    box-sizing: border-box;
    width: 120px;
    padding: var(--spacing-xs) var(--spacing-sm);
  }

  .Layer__MatchForm__Table__amount {
    width: 100px;
    padding: var(--spacing-xs) var(--spacing-sm);
  }

  .Layer__MatchForm__Table__link {
    overflow: visible;
    white-space: nowrap;
  }

  .Layer__MatchForm__Table__status {
    width: 100px;
    text-align: right;

    &.no-match {
      display: none;
    }
  }

  .Layer__MatchForm__Table__desc {
    flex: 1;
    overflow: hidden;
    padding: var(--spacing-xs) var(--spacing-sm);
    white-space: nowrap;
    text-overflow: ellipsis;

    .Layer__tooltip-trigger {
      display: flex;
    }

    .Layer__MatchForm__Table__desc-tooltip {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;
    }
  }

  .Layer__text--error {
    padding: var(--spacing-2xs) 0;
    padding-bottom: var(--spacing-md);
    margin: 0;
  }
}

.Layer__MatchForm__Row {
  display: contents;
  align-items: stretch;
  overflow: hidden;
  cursor: pointer;

  .Layer__tooltip-trigger {
    padding-top: 0;
  }

  & > div {
    display: flex;
    align-items: center;

    overflow: hidden;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-top: 1px solid var(--color-base-300);
    border-bottom: 1px solid var(--color-base-300);
    font-size: var(--text-md);
    color: var(--color-base-500);

    &:first-child {
      border-top-left-radius: var(--border-radius-2xs);
      border-bottom-left-radius: var(--border-radius-2xs);
      border-left: 1px solid var(--color-base-300);
    }

    &:nth-child(3):last-of-type,
    &:nth-child(4) {
      border-top-right-radius: var(--border-radius-2xs);
      border-bottom-right-radius: var(--border-radius-2xs);
      border-right: 1px solid var(--color-base-300);
    }
  }

  & > div:nth-child(5),
  &:hover > div:nth-child(5) {
    border-color: transparent;
    background-color: transparent;
  }

  &:hover > div {
    border-top: 1px solid var(--color-base-300);
    border-bottom: 1px solid var(--color-base-300);
    background: var(--color-base-0);
    color: var(--color-base-700);

    &.Layer__MatchForm__Table__amount {
      color: var(--color-base-1000);
    }

    &:first-child {
      border-top-left-radius: var(--border-radius-2xs);
      border-bottom-left-radius: var(--border-radius-2xs);
      border-left: 1px solid var(--color-base-300);
    }

    &:nth-child(3):last-of-type,
    &:nth-child(4) {
      border-top-right-radius: var(--border-radius-2xs);
      border-bottom-right-radius: var(--border-radius-2xs);
      border-right: 1px solid var(--color-base-300);
    }
  }
}

.Layer__MatchForm__Row--selected {
  & > div {
    border-top: 1px solid var(--color-base-800);
    border-bottom: 1px solid var(--color-base-800);
    background: var(--color-base-0);
    color: var(--color-base-700);

    &.Layer__MatchForm__Table__amount {
      color: var(--color-base-1000);
    }
  }

  & > div:first-child {
    border-left: 1px solid var(--color-base-800);
  }

  & > div:nth-child(3):last-of-type,
  & > div:nth-child(4) {
    border-right: 1px solid var(--color-base-800);
  }
}

.Layer__MatchForm__Row--selected:hover {
  & > div {
    border-top: 1px solid var(--color-base-500);
    border-bottom: 1px solid var(--color-base-500);
    background: var(--color-base-0);
    color: var(--color-base-700);
  }

  & > div:first-child {
    border-left: 1px solid var(--color-base-500);
  }

  & > div:nth-child(3):last-of-type,
  & > div:nth-child(4) {
    border-right: 1px solid var(--color-base-500);
  }
}

@container (max-width: 714px) {
  .Layer__MatchForm__Table .Layer__MatchForm__Table__header {
    display: none;
  }

  .Layer__MatchForm__Row {
    flex-direction: column;
    border-radius: var(--border-radius-2xs);
    border: 1px solid var(--color-base-300);

    &:hover {
      border: 1px solid var(--color-base-500);
      background: var(--color-base-0);
      color: var(--color-base-700);
    }
  }

  .Layer__MatchForm__Row--selected {
    border: 1px solid var(--color-base-800);
    background: var(--color-base-0);
    color: var(--color-base-700);
  }

  .Layer__MatchForm__Row--selected:hover {
    border: 1px solid var(--color-base-800);
  }

  .Layer__MatchForm__Table__date {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }

  .Layer__MatchForm__Table__desc {
    gap: var(--spacing-sm);
    justify-content: space-between;

    & > span:first-child {
      width: calc(100% - 220px);
    }

    & > span:nth-child(2) {
      flex: 0;
    }
  }
}
