.Layer__MatchFormMobile {
  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--color-base-300);
  margin-block: var(--spacing-md);

  [data-selected] {
    background: var(--color-base-100);
  }
}
