.Layer__suggested-categorization-rule-updates {
  .Layer__UI__Button {
    width: 100%;
  }
}

.Layer__RuleUpdatesPromptStep {
  .Layer__UI__Button {
    min-inline-size: unset;
  }
}

.Layer__suggested-categorization-rule-updates-header {
  padding-bottom: var(--spacing-sm);
}
