.Layer__suggested-categorization-rule-updates-drawer {
  padding: var(--spacing-sm);
}

.Layer__suggested-categorization-rule-updates {
  .Layer__UI__Button {
    width: 100%;
  }
}

.Layer__suggested-categorization-rule-updates-header {
  padding-bottom: var(--spacing-sm);
}

.Layer__AffectedTransactionsTable {
  max-height: 500px;
  container-type: inline-size;

  --affected-transactions-table-cols:
    minmax(10rem, 25%)
    minmax(20rem, 50%)
    minmax(10rem, 25%);

  .Layer__UI__Table__AffectedTransactionsTable {
    table-layout: fixed;

    .Layer__UI__VirtualizedTable__row,
    .Layer__UI__VirtualizedTable__header > tr {
      display: grid;
      grid-template-columns: var(--affected-transactions-table-cols);
    }

    .Layer__UI__Table-Column__AffectedTransactionsTable,
    .Layer__UI__Table-Cell__AffectedTransactionsTable {
      &--Date {
        color: var(--color-base-600);
      }

      &--Amount {
        justify-content: flex-end;
      }
    }
  }

  @container (width <= 840px) {
    max-height: 300px;

    .Layer__UI__Table__AffectedTransactionsTable .Layer__UI__VirtualizedTable__row,
    .Layer__UI__Table__AffectedTransactionsTable .Layer__UI__VirtualizedTable__header > tr {
      grid-template-columns:
        minmax(4rem, 25%)     /* date */
        minmax(8rem, 50%)     /* description */
        minmax(4rem, 25%) !important; /* amount */
    }
  }
}
