.Layer__suggested-categorization-rule-updates {
  padding-block-end: var(--spacing-lg);

  .Layer__UI__Button {
    width: 100%;
  }
}

.Layer__suggested-categorization-rule-updates-header {
  padding-bottom: var(--spacing-sm);
}
