.Layer__TagSelectorLayoutGroup {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-xs);
}

.Layer__TagSelectorInputGroup {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;

  min-block-size: 2.5rem;

  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);

  background-color: var(--color-base-0);

  &[data-focus-visible] {
    outline-offset: 1px;
    outline: 1px solid var(--border-color);
  }
}
