.Layer__tasks-month-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xs);
  padding: var(--spacing-md);
  container-type: inline-size;

  @container (min-width: 680px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @container (max-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container (max-width: 340px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.Layer__tasks-month-selector__month {
  min-height: 32px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-radius-xs);
  padding: 0 var(--spacing-sm);
  background: var(--color-base-0);
  box-shadow: 0 1px 2px 0 var(--base-transparent-6), 0 0 0 1px var(--color-base-300);
  container-type: inline-size;

  &[data-active] {
    box-shadow: 0 0 0 1px var(--color-base-800), 0 0 0 3px var(--color-base-300);
  }

  &[data-disabled] {
    color: var(--color-base-500);
    cursor: not-allowed;
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--color-base-500), 0 0 0 3px var(--color-base-300);
  }

  .Layer__tasks-month-selector__month__str {
    min-width: 24px;
  }
}
