.Layer__tasks-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--color-base-300);
  background-color: var(--color-base-0);
}

.Layer__tasks-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-top: 1px solid var(--color-base-300);
  padding: var(--spacing-md);
  gap: var(--spacing-xs);

  .Layer__tasks-pending-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 36px;
  }

  .Layer__tasks-pending-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-2xs);
    box-sizing: border-box;
    width: 100%;
  }

  .Layer__tasks-pending-bar {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    font-weight: 540;
    padding: var(--spacing-3xs) var(--spacing-xs);
    background-color: var(--color-base-50);
    border-radius: 8px;

    .mini-chart {
      transform: rotate(90deg);
    }

    .Layer__tasks-pending-bar__status--done {
      color: var(--color-success);
    }

    .Layer__tasks-pending-bar__status--pending {
      color: var(--color-warning);
    }
  }
}

.Layer__tasks-header {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  container-type: inline-size;
}

.Layer__tasks__content {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.18s ease-out,
    opacity 0.2s ease-out;
}

.Layer__tasks__content.Layer__tasks__content--collapsed {
  opacity: 0.3;
  max-height: 0;
}

.Layer__tasks-list {
  background-color: var(--color-base-0);
  box-shadow: 0 0 0 1px var(--color-base-300);

  .Layer__tasks-list-item-wrapper {
    padding: var(--spacing-2xs);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-base-300);
    }

    .Layer__tasks-list-item {
      display: flex;
      flex-direction: column;
      transition: all 0.1s ease-in-out;

      &:hover,
      &.Layer__tasks-list-item__expanded {
        background: var(--color-base-50);
        border-radius: 6px;
      }

      .Layer__tasks-list-item__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);
        padding: var(--spacing-md);
        cursor: pointer;

        .Layer__tasks-list-item__head-info {
          display: flex;
          align-items: center;
          gap: var(--spacing-xs);

          .Layer__tasks-list-item__head-info__status {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-3xs);
            border-radius: 100%;
          }

          &.Layer__tasks-list-item--completed {
            color: var(--color-base-500);
            text-decoration: line-through;

            .Layer__tasks-list-item__head-info__status {
              color: var(--color-info-success);
            }
          }

          &.Layer__tasks-list-item--pending
          .Layer__tasks-list-item__head-info__status {
            color: var(--color-info-warning-fg);
            background: var(--color-info-warning-bg);
          }
        }
      }

      .Layer__tasks-list-item__body {
        padding-right: var(--spacing-md);
        padding-left: var(--spacing-3xl);
        margin-left: var(--spacing-3xs);
        padding-bottom: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.2s ease-out;

        .Layer__tasks-list-item__body-info {
          display: flex;
          flex-direction: column;

          .Layer__text {
            margin-bottom: var(--spacing-md);
          }

          .Layer__tasks-list-item__actions {
            margin-top: var(--spacing-xs);
          }

          .Layer__tasks-list__link-list {
            padding-top: var(--spacing-md);
          }

          .Layer__tasks-list__link-list-header {
            font-size: var(--text-sm);
          }

          .Layer__tasks-list-item__link {
            color: var(--color-primary);
            font-size: var(--text-sm);
          }

          .Layer__tasks-list__links-list {
            margin: 0;
            padding: var(--spacing-3xs) 0 var(--spacing-sm) var(--spacing-md);
          }
        }

        &.Layer__tasks-list-item--completed {
          color: var(--color-base-500);
        }

        &.Layer__tasks-list-item__body--expanded {
          padding-bottom: var(--spacing-sm);
          height: auto;
          opacity: 1;
        }
      }
    }
  }

  .Layer__tasks-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    text-align: center;
    padding: var(--spacing-md);
    color: var(--color-base-500);
  }
}

.Layer__tasks-list-item__actions {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  justify-content: flex-end;
}

.Layer__tasks-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: var(--color-base-50);
  box-shadow: 0 0 0 1px var(--color-base-300);
}

.Layer__tasks__expand-icon {
  transition: transform 150ms ease-out;
  color: var(--color-base-600);
  margin-left: -15px;
}

@container (width <= 400px) {
  .Layer__tasks-component {
    .Layer__tasks-pending {
      flex-direction: column;
      align-items: stretch;
      gap: var(--spacing-xs);

      .Layer__tasks-pending-bar {
        justify-content: space-between;
      }
    }

    .Layer__badge {
      white-space: nowrap;
    }
  }

  .Layer__tasks-list {
    .Layer__tasks-list-item-wrapper {
      .Layer__tasks-list-item {
        .Layer__tasks-list-item__head {
          padding: var(--spacing-xs);
        }

        .Layer__tasks-list-item__body {
          padding-right: var(--spacing-xs);
          padding-left: var(--spacing-xs);
        }
      }
    }
  }
}

.Layer__tasks-header__notification {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-xs) var(--spacing-2xs) var(--spacing-md);
  background: linear-gradient(0deg, var(--base-transparent-10) 0%, var(--base-transparent-10) 100%), var(--color-info-warning);
}

.Layer__tasks-header__notification__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  white-space: nowrap;
}

.Layer__tasks-header__notification__button {
  background: var(--color-info-warning-fg);
  color: var(--color-info-warning-bg);
  border: none;
  padding: var(--spacing-3xs) var(--spacing-xs);
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  transition: all 0.12s ease-in-out;
  white-space: nowrap;

  &:hover {
    background: var(--color-base-1000);
  }
}

.Layer__tasks__badge {
  display: flex;
  align-items: center;
  font-size: var(--text-xs);
  background: var(--color-info-warning);
  color: var(--color-info-warning-bg);
  padding: var(--spacing-3xs) var(--border-radius-2xs);
  border-radius: var(--border-radius-3xs);
  gap: var(--spacing-3xs);
  white-space: nowrap;

  .Layer__tasks__badge__label-short {
    display: none;
  }

  @container (width <= 130px) {
    .Layer__tasks__badge__label {
      display: none;
    }

    .Layer__tasks__badge__label-short {
      display: flex;
    }
  }

  &[data-icononly] {
    border-radius: 50%;
    gap: 0;
    padding: 0;
    width: 16px;
    height: 16px;
  }

  .Layer__text {
    line-height: 10px;
  }

  .Layer__tasks__badge__icon-wrapper {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &[data-status='info'] {
    color: var(--color-info-fg);
    background: var(--color-info-bg);
  }

  &[data-status='warning'] {
    color: var(--color-info-warning-bg);
    background: var(--color-info-warning);
  }

  &[data-status='success'] {
    color: var(--color-info-success-fg);
    background: var(--color-info-success-bg);
  }

  &[data-status='error'] {
    color: var(--color-info-error);
    background: var(--color-info-error-bg);
  }
}
