.Layer__BankTransactionsMobileSplitForm__AmountInputContainer {
  flex: 1 0 65%;
  min-inline-size: 0;

  .Layer__input-tooltip {
    flex: 1;
    inline-size: 100%;
  }
}

.Layer__BankTransactionsMobileSplitForm__AmountInput {
  inline-size: 100%;
  text-align: right;
}

.Layer__BankTransactionsMobileSplitForm__ActionButtonContainer {
  flex: 1 0 35%;
  min-inline-size: 0;
}

.Layer__BankTransactionsMobileSplitForm__TaxCodeSelect__Container {
  flex: 1 1 0;
  min-inline-size: 0;
}

.Layer__BankTransactionsMobileSplitForm__SplitButtonContainer {
  justify-content: flex-start;
}
