.Layer__BankTransactionsMobileListItem__Receipts--WithReceipts {
  & .Layer__file-upload {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .Layer__file-upload > .Layer__P {
    color: var(--color-base-500);
  }
}
