.Layer__BankTransactionsMobileListItem {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transform: scale(0.96);
  transition: all 180ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}

.Layer__BankTransactionsMobileListItem__HeadingContentLeft {
  overflow: hidden;
  min-width: 0;
}

.Layer__BankTransactionsMobileListItem__Receipts--WithReceipts {
  & .Layer__file-upload {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .Layer__file-upload > .Layer__P {
    color: var(--color-base-500);
  }
}
