.Layer__BankTransactionsMobileSplitForm {
  &__SplitGridContainer {
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    gap: var(--spacing-xs);
    align-items: center;
  }

  &__AmountInput {
    inline-size: 100%;
    text-align: right;
  }

  &__TotalAmountInput {
    width: 9rem;
  }
}
