.Layer__BankTransactionsMobileBulkActionsHeader {
  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);
  margin-left: var(--spacing-md);
  background-color: var(--color-base-100);
}
