.Layer__BankTransactionsMobileSplitForm {
  &__SplitEntry {
    max-inline-size: 100%;
  }

  &__AmountInputContainer {
    flex: 1 0 75%;
    min-inline-size: 0;

    .Layer__input-tooltip {
      flex: 1;
      inline-size: 100%;
    }
  }

  &__AmountInput {
    inline-size: 100%;
    text-align: right;
  }

  &__ActionButtonContainer {
    flex: 1 0 26%;
    min-inline-size: 0;
  }

  &__SplitSelectors {
    inline-size: 100%;
  }

  &__CategorySelect,
  &__TaxCodeSelect__Container {
    flex: 1 1 0;
    min-inline-size: 0;
  }
}
