.Layer__Square {
  display: grid;
  place-items: center;

  aspect-ratio: 1 / 1;

  &[data-inset] {
    --min-size: 2rem;

    min-block-size: var(--min-size);
    min-inline-size: var(--min-size);
  }
}
