.Layer__DetailedTable {
  .value-col {
    text-align: right;
  }

  &__table {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: var(--spacing-2xs) var(--spacing-xs);
        font-size: 12px;
        text-align: left;

        &:first-child {
          width: 20px;
          padding-right: 0;
        }

        &:last-child {
          text-align: right;
        }

        &.percent-col {
          width: 4ch;
          padding-left: 0;
          text-align: right;
        }
      }

      th {
        padding-bottom: var(--spacing-sm);
        border-bottom: 1px solid var(--color-base-300);
        cursor: pointer;
        transition: color 150ms ease-out;

        &:first-child {
          cursor: default;
        }
      }

      tbody tr {
        height: 2.5rem;
      }
    }
  }

  &__sortArrows {
    position: relative;
    top: 1px;
  }

  .color-col {
    .share-icon {
      height: 12px;
      width: 12px;
      border-radius: 2px;
    }
  }

  .percent-col .share-text {
    font-size: var(--text-sm);
    line-height: 140%;
  }

  &__row {
    border-radius: 2px;
    background: transparent;
    transition: background-color 300ms ease-out;

    &.active {
      background: var(--color-base-50);
    }
  }
}

@container (max-width: 1023px) and (min-width: 768px) {
  .Layer__DetailedTable {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

@container (max-width: 767px) {
  .Layer__DetailedTable {
    width: 100%;
    padding-inline: var(--spacing-md);
  }
}
