.Layer__ExpandedBankTransactionRow__Description {
  width: 55%;
}

@container (max-width: 760px) {
  .Layer__ExpandedBankTransactionRow__Description {
    width: 100%;
    padding-inline-end: var(--spacing-md);
  }
}
