.Layer__ExpandedBankTransactionRow {
  background-color: var(--bg-element-focus);
  transition:
    background-color var(--transition-speed) ease-in-out,
    height var(--transition-speed) ease-in-out;
}
