.Layer__UI__Table__UnifiedReport {
  min-width: 100%;

  .Layer__UI__Table-Column,
  .Layer__UI__Table-Cell {
    display: table-cell;
    text-align: end;

    &__UnifiedReport--displayName {
      text-align: start;
    }
  }
}
