.Layer__UnifiedReport__Header {
  height: 4.75rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__UnifiedReport__Filters {
  height: 4.75rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__UnifiedReport__ReportingBasisComboBox {
  width: 9rem;
}
