.Layer__UnifiedReport__Header {
  height: 4.75rem;
  border-bottom: 1px solid var(--border-color);

  @container (width <= 768px) {
    display: grid;
    grid-template-columns: 100%;
    height: fit-content;
    padding-block: var(--spacing-md);

    > :last-child {
      padding-block-start: var(--spacing-md);
    }

    > :not(:last-child) {
      padding-block-end: var(--spacing-md);
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.Layer__UnifiedReport__Header__SecondaryActions {
  gap: var(--spacing-xs);

  @media (width <= 500px) {
    gap: var(--spacing-3xs);
  }
}
