.Layer__category-select {
  max-width: 100%;
  overflow: hidden;

  [slot="trigger"] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    font-family: var(--font-family);
    font-size: var(--input-font-size);
    line-height: 140%;
    background-color: var(--color-base-0);
    position: relative;

    .Layer__input-tooltip {
      flex: 1;
      overflow: hidden;
    }
  }

  [data-focused="true"] [slot="trigger"] {
    border-color: var(--color-base-600);
  }

  [slot="trigger-input"] {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: none;
    margin: 0;
    max-width: 100%;
    padding-right: 34px;
    text-overflow: ellipsis;
  }

  [slot="trigger-button"] {
    background: transparent;
    border-width: 0;
    padding: var(--spacing-xs);
    padding-top: var(--spacing-sm);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  [slot='match-badge'] {
    margin: 0 var(--spacing-xs);
  }
}

.Layer__category-select__popover {
  z-index: 105 !important;
  background: var(--color-base-0);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 0 0 1px rgb(25 25 25 / 6%), 0 4px 12px 0 var(--base-transparent-1), 0 2px 4px 0 rgb(25 25 25 / 6%);
  overflow: auto;
  overscroll-behavior: none;

  &[data-trigger="ComboBox"] {
    min-inline-size: min(var(--trigger-width), 100svi);
  }

  [slot="header"] {
    color: var(--color-base-600);
    font-size: 12px;
    padding: var(--spacing-xs) var(--spacing-lg);
  }
}

.Layer__category-select__list-section {
  padding: var(--spacing-sm) 0;
  border-bottom: 1px solid var(--color-base-200);
}

.Layer__category-select__ms-list-item {
  display: grid;
  gap: var(--spacing-xs);
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-lg);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  grid-template-columns: 1fr auto 16px;
  grid-template-areas: "label tooltip icon";

  [slot="label"] {
    grid-area: label;
    max-width: 360px;
    overflow: hidden;
  }

  [slot="tooltip"] {
    grid-area: tooltip;
  }

  [slot="icon"] {
    grid-area: icon;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: var(--color-base-50);
  }

  &[data-focused] {
    background-color: var(--color-base-50);
    outline: var(--color-base-100) 1px solid;
  }
}

.Layer__category-select__list-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 16px;
  grid-template-areas: "name icon";
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  gap: var(--spacing-sm);
  padding: var(--spacing-xs) var(--spacing-lg);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-base-50);
  }

  &[data-focused] {
    background-color: var(--color-base-50);
    outline: var(--color-base-100) 1px solid;
  }

  [slot="name"] {
    grid-area: name;
    display: flex;
    gap: var(--spacing-xs);
  }

  [slot="icon"] {
    grid-area: icon;
    width: 16px;
    height: 16px;
  }

  [slot="tooltip-trigger"] {
    display: inline-flex;
  }
}
