.Layer__ExpandButton {
  height: 16px;
  min-width: 16px;
  transition: transform 0.1s ease-in-out;
  border-radius: 2px;

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &--collapsed {
    transform: rotate(0deg);
  }

  &--expanded {
    transform: rotate(180deg);
  }
}
