.Layer__Stack {
  display: flex;

  &[data-fluid] {
    flex: 1;
  }

  $directions: row, column;

  @each $direction in $directions {
    &[data-direction="#{$direction}"] {
      flex-direction: $direction;
    }
  }

  $alignments: start, center, end, baseline;

  @each $alignment in $alignments {
    &[data-align="#{$alignment}"] {
      align-items: $alignment;
    }
  }

  $justifications: start, center, end, space-between;

  @each $justification in $justifications {
    &[data-justify="#{$justification}"] {
      justify-content: $justification;
    }
  }

  $overflows: scroll, hidden, auto, clip, visible;

  @each $overflow in $overflows {
    &[data-overflow="#{$overflow}"] {
      overflow: $overflow;
    }
  }

  $spacings: 4xs, 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 5xl;

  @each $spacing in $spacings {
    &[data-gap="#{$spacing}"] {
      gap: var(--spacing-#{$spacing});
    }

    &[data-pb="#{$spacing}"] {
      padding-block: var(--spacing-#{$spacing});
    }

    &[data-pbe="#{$spacing}"] {
      padding-block-end: var(--spacing-#{$spacing});
    }

    &[data-pbs="#{$spacing}"] {
      padding-block-start: var(--spacing-#{$spacing});
    }

    &[data-pi="#{$spacing}"] {
      padding-inline: var(--spacing-#{$spacing});
    }

    &[data-pie="#{$spacing}"] {
      padding-inline-end: var(--spacing-#{$spacing});
    }

    &[data-pis="#{$spacing}"] {
      padding-inline-start: var(--spacing-#{$spacing});
    }
  }
}

.Layer__Spacer {
  flex: 1 1 0%;
}
