.Layer__ModalCloseButton {
  &--position-absolute {
    position: absolute;
    align-self: end;
  }
}

.Layer__ModalTitleWithClose {
  display: grid;
  grid-template-areas: 'title close';
  grid-template-columns: 1fr auto;
  gap: var(--spacing-sm);
  align-items: center;
  margin-block-end: var(--spacing-md);

  > [slot='title'] {
    grid-area: title;
  }

  > [slot='close'] {
    grid-area: close;
  }
}

.Layer__ModalOverlay[data-variant='mobile-drawer'] .Layer__ModalTitleWithClose__Wrapper {
  position: sticky;
}

.Layer__ModalTitleWithClose > .Layer__UI__Button {
  margin: 0 0 auto;
}

.Layer__ModalContent {
  display: grid;
  overflow-y: auto;
  block-size: 100%;

  > [slot='center'] {
    align-self: center;
    justify-self: center;
  }
}

.Layer__ModalActions {
  margin-block-start: var(--spacing-3xl);
}
