.Layer__ModalContextBar {
  display: grid;
  grid-template-areas: "back logo close";
  grid-template-columns: auto minmax(0, 1fr) auto;
  column-gap: var(--spacing-md);

  align-items: center;

  > [slot="back"] {
    grid-area: back;
  }

  > [slot="logo"] {
    grid-area: logo;
  }

  > [slot="close"] {
    grid-area: close;
  }
}

.Layer__ModalContent {
  display: grid;
  overflow-y: auto;
  block-size: 100%;

  > [slot="center"] {
    align-self: center;
    justify-self: center;
  }
}

.Layer__ModalActions {
  padding-block-start: var(--spacing-lg);
}
