.Layer__ModalOverlay {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: grid;

  background: rgb(0 0 0 / 50%);
  place-items: center;

  &[data-variant='mobile-drawer'],
  &[data-variant='drawer'] {
    &[data-entering] {
      animation: overlay-fade 250ms;
    }

    &[data-exiting] {
      animation: overlay-fade reverse 250ms;
    }
  }

  &[data-variant='drawer'] {
    place-items: end;
  }

  &[data-variant='mobile-drawer'] {
    place-items: end center;
  }
}

.Layer__Modal {
  block-size: min(42rem, 90%);
  inline-size: min(36rem, 90%);

  &[data-size='lg'] {
    inline-size: min(42rem, 90%);
  }

  &[data-size='xl'] {
    inline-size: min(70rem, 100%);
  }

  &[data-variant='drawer'] {
    block-size: 100%;

    &[data-entering] {
      animation: drawer-slide 250ms;
    }

    &[data-exiting] {
      animation: drawer-slide 250ms reverse ease-in;
    }
  }

  &[data-variant='mobile-drawer'] {
    position: fixed;
    bottom: var(--visual-viewport-offset-bottom, 0);

    overflow: hidden;
    block-size: min(80%, var(--visual-viewport-height, 100%));
    max-block-size: var(--visual-viewport-height, 100%);
    inline-size: 100%;

    border-radius: var(--border-radius-2xs) var(--border-radius-2xs) 0 0;

    &[data-entering] {
      animation: mobile-drawer-slide 250ms;
    }

    &[data-exiting] {
      animation: mobile-drawer-slide 250ms reverse ease-in;
    }
  }

  &[data-flex-block] {
    block-size: auto;
  }

  &[data-variant='mobile-drawer'][data-flex-block] {
    block-size: min(80%, var(--visual-viewport-height, 100%));
    max-block-size: var(--visual-viewport-height, 100%);
  }

  &[data-flex-inline] {
    inline-size: auto;
  }
}

.Layer__Dialog {
  display: flex;
  flex-direction: column;

  block-size: 100%;

  padding: var(--spacing-lg);
  border-radius: var(--border-radius-2xs);

  outline: none;
  background-color: white;

  [slot='content'] {
    flex: 1;
  }

  &[data-scrollable] {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &[data-scrollable] > :first-child {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: inherit;
  }

  &[data-variant='drawer'] {
    padding: 0;
    border-radius: 0;
  }

  &[data-variant='mobile-drawer'] {
    padding: 0;
    border-radius: var(--border-radius-2xs) var(--border-radius-2xs) 0 0;
  }

  &[data-variant='mobile-drawer'][data-scrollable] {
    overscroll-behavior: contain;
  }

  &[data-variant='mobile-popover'] {
    padding: 0;
  }
}

@keyframes drawer-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes mobile-drawer-slide {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes overlay-fade {
  from {
    background: rgb(0 0 0 / 0%);
  }

  to {
    background: rgb(0 0 0 / 50%);
  }
}
