.Layer__BankTransactionsRefreshAlert {
  background: var(--color-info-success-bg);
  color: var(--color-info-success-fg);

  &__action {
    justify-content: flex-start;
    inline-size: fit-content;
    white-space: normal;
  }

  &__action--mobile {
    inline-size: 100%;
  }

  &__content {
    min-inline-size: 0;
  }

  &__popover--mobile {
    inline-size: var(--trigger-width);
  }
}
