.Layer__BankTransactionsRefreshAlert {
  background: var(--color-info-success-bg);
  color: var(--color-info-success-fg);

  &__Action {
    justify-content: flex-start;
    inline-size: fit-content;
    white-space: normal;
  }

  &__Content {
    min-inline-size: 0;
  }

  &__Popover--mobile {
    inline-size: var(--trigger-width);
  }
}
