.Layer__Popover {
  display: grid;
  inline-size: min(90svi, 60ch);

  border-radius: var(--border-radius-xs);
  border: 2px solid var(--outline-default);

  background: var(--color-base-0);

  &[data-trigger='ComboBox'] {
    inline-size:
      clamp(
        min(var(--trigger-width), 90svi),
        calc(var(--trigger-width) * 1.5),
        min(80ch, 90svi),
      );
  }
}
