.Layer__Popover {
  display: grid;
  inline-size: min(90svi, 60ch);

  border-radius: var(--border-radius-xs);
  border: 1px solid var(--outline-default);

  background: var(--color-base-0);

  &[data-flex-inline] {
    inline-size: auto;
  }
}
