.Layer__ProfitAndLossSummariesSummary {
  display: grid;
  min-block-size: 3rem;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: var(--spacing-xs);
  row-gap: var(--spacing-3xs);
  grid-template-areas:
    'chart heading'
    'chart amount'
  ;

  &[data-size="lg"] {
    min-block-size: 6rem;
    column-gap: var(--spacing-md);
  }

  [slot=heading] {
    grid-area: heading;
    align-self: end;
  }

  [slot=amount] {
    grid-area: amount;
    align-self: start;
  }
}

.Layer__ProfitAndLossSummariesSummaryChartArea {
  grid-area: chart;

  align-content: center;
  border-radius: var(--border-radius-xs);
  background: var(--color-base-50);
}