@forward '../views/AccountingOverview/internal/transactions_to_review';

.Layer__accounting-overview-profit-and-loss-charts {
  max-width: 1406px;
}

.Layer__accounting-overview-profit-and-loss-chart {
  box-sizing: border-box;
  width: 100%;
}
