@forward '../views/AccountingOverview/internal/transactions_to_review';

.Layer__accounting-overview-profit-and-loss-charts {
  max-width: 1406px;
}

.Layer__component.Layer__accounting-overview-profit-and-loss .recharts-responsive-container {
  margin-top: -42px;
}

@container (max-width: 1023px) {
  .Layer__accounting-overview-profit-and-loss .recharts-legend-wrapper {
    margin-top: -40px;
  }
}

.Layer__accounting-overview-profit-and-loss-chart {
  box-sizing: border-box;
  width: 100%;
}

@container (max-width: 460px) {
  .Layer__component.Layer__accounting-overview-profit-and-loss .recharts-responsive-container {
    margin-top: -12px;
  }
}
