.Layer__accounting-overview__summaries-row {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  max-width: 1406px;
  width: 100%;

  .Layer__notification-card {
    width: calc(25% - 12px);
    height: 56px;
  }
}

.Layer__component.Layer__accounting-overview-profit-and-loss
  .recharts-responsive-container {
  margin-top: -42px;
}

@container (max-width: 796px) {
  .Layer__accounting-overview__summaries-row {
    flex-direction: column;

    .Layer__profit-and-loss-summaries {
      width: 100%;
      flex-direction: column;
    }

    .Layer__notification-card.Layer__txs-to-review {
      width: 100%;
    }
  }

  .accounting-overview-profit-and-loss-charts {
    flex-direction: column;
  }

  .Layer__component.Layer__accounting-overview-profit-and-loss-chart.accounting-overview-profit-and-loss-chart--hidden {
    display: none;
  }
}
