.Layer__badge {
  display: inline-flex;
  gap: var(--spacing-3xs);
  border-radius: var(--border-radius-5xl);
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: var(--spacing-3xs) var(--spacing-xs);
  font-size: var(--text-sm);
  align-items: center;
  transition: all var(--transition-speed) ease-in-out;
  border: 1px solid var(--base-transparent-5);
  box-sizing: border-box;
  height: 27px;

  &.Layer__badge--small {
    font-size: var(--text-xs);
    padding: var(--spacing-3xs) var(--spacing-xs);
    line-height: 1.1;
  }

  &.Layer__badge--clickable {
    cursor: pointer;

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-light);
      border-color: var(--color-dark);
    }
  }

  .Layer__badge__icon {
    margin-top: 2px;
  }
}