.Layer__balance-sheet {
  --border-color: #eaecf0;
  --font-color: #101828;
  --indicator-bar-color: #3c3c3c;
  --background-color: white;
  --active: #e0e9ff;
  --income-bar-color: #0c48e5;
  --expenses-bar-color: #6d8ee7;
  --transition-speed: 0.25s;

  width: 60rem;
  background-color: white;
  padding: 0.25rem;

  * {
    color: var(--font-color);
    stroke: var(--font-color);
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
  }
}

.Layer__balance-sheet__table {
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--border-color);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1px 0;
  font-size: 1rem;
}

.Layer__balance-sheet__header {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Layer__balance-sheet__title {
  display: inline;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Layer__balance-sheet__date {
  font-size: 0.75em;
  &::before {
    content: ' - as of ';
  }
}

.Layer__balance-sheet__download-button {
  align-self: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: var(--active);
  }

  & svg {
    margin-right: 0.5rem;
  }
}

.Layer__balance-sheet-date-picker {
  align-items: center;
  justify-content: center;
  display: flex;

  & button {
    position: relative;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: var(--active);
    }

    & svg {
      margin-right: 0.5rem;
    }

    & input {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 100%;
    }
  }
}

.Layer__balance-sheet-row {
  padding: 1em;
  background-color: var(--background-color);
  font-size: 1em;

  * {
    min-height: 0;
  }
}

.Layer__balance-sheet-row__children {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transition-speed);
}

.Layer__balance-sheet-row__children--expanded {
  grid-template-rows: 1fr;
}

.Layer__balance-sheet-row__children--content {
  min-height: 0;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.Layer__balance-sheet-row__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  svg {
    stroke: var(--font-color);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    transition: transform var(--transition-speed);
    transform: rotate(-90deg);
  }
}

.Layer__balance-sheet-row__label--expanded {
  svg {
    transform: rotate(0deg);
  }
}

.Layer__balance-sheet-row__value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg {
    stroke: var(--font-color);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
  }
}

.Layer__balance-sheet-row__value--amount-positive {
  &::before {
    content: '$';
  }
}

.Layer__balance-sheet-row__value--amount-negative {
  &::before {
    content: '-$';
  }
}

.Layer__balance-sheet-row__label--depth-0 {
  font-weight: 700;
}

.Layer__balance-sheet-row__value--depth-0 {
  font-weight: 700;
}

.Layer__balance-sheet-row__label--depth-1 {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 0.8em;
}

.Layer__balance-sheet-row__value--depth-1 {
  font-size: 0.8em;
}

.Layer__balance-sheet-row__label--depth-2 {
  padding-right: 2em;
  padding-left: 4em;
  font-size: 0.8em;
}

.Layer__balance-sheet-row__value--depth-2 {
  font-size: 0.8em;
}

.Layer__balance-sheet-row__label--display-children-true {
  font-weight: bold;
}

.Layer__balance-sheet-row__value--display-children-true {
  font-weight: bold;
}

.Layer__balance-sheet-row__label--display-children-false {
  font-weight: normal;
  svg {
    display: none;
  }
}

.Layer__balance-sheet-row__label--display-children-false {
  font-weight: normal;
  svg {
    display: none;
  }
}
