.Layer__balance-sheet {
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);
  background-color: var(--background-color);

  * {
    font-family: var(--font-family);
    font-feature-settings:
      'cv10' on,
      'cv01' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
  }

  .Layer__balance-sheet__title {
    display: inline;
    flex: 1;
    font-size: var(--text-heading);
    margin: 0;
  }
}

.Layer__balance-sheet__table {
  width: 100%;
  border-collapse: collapse;

  .Layer__balance-sheet-row {
    font-size: 1em;
    height: 52px;

    .Layer__balance-sheet-cell__value {
      .Layer__table-cell-content {
        justify-content: flex-end;
      }
    }

    &.Layer__balance-sheet-row--depth-0 {
      .Layer__balance-sheet-cell__label {
        .Layer__table-cell-content {
          font-size: var(--text-lg);
          font-weight: 540;
          color: var(--text-color-primary);
        }
      }
    }

    &.Layer__balance-sheet-row--depth-1 {
      &:not(.Layer__balance-sheet-row--display-children-true) {
        background-color: var(--color-base-50);
      }
      .Layer__balance-sheet-cell__label {
        padding-left: calc(40px - var(--spacing-sm));
      }
      .Layer__table-cell-content {
        font-size: var(--text-md);
        font-variation-settings: 'wght' var(--font-weight-bold);
        color: var(--color-base-700);
      }
    }

    &.Layer__balance-sheet-row--depth-2 {
      &:not(.Layer__balance-sheet-row--display-children-true) {
        background-color: var(--color-base-50);
      }
      .Layer__balance-sheet-cell__label {
        padding-left: calc(80px - var(--spacing-sm));
      }
      .Layer__table-cell-content {
        font-size: var(--text-md);
        font-weight: 460;
        color: var(--text-color-secondary);
      }
    }

    &.Layer__balance-sheet-row--display-children-true {
      font-weight: bold;
      cursor: pointer;
    }

    &.Layer__balance-sheet-row--display-children-false {
      font-weight: normal;
    }

    &.Layer__balance-sheet-row--variant-summation {
      background: var(--color-base-100);
      .Layer__table-cell-content {
        font-size: var(--text-md);
        font-variation-settings: 'wght' var(--font-weight-bold);
        color: var(--text-color-primary);
      }
    }

    &.Layer__balance-sheet-row--expanded {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  .Layer__table-cell--last {
    text-align: right;
  }

  .Layer__table-cell__content-wrapper {
    display: flex;
    align-items: center;
    .Layer__table__expand-icon {
      margin: 0;
      transition: transform var(--transition-speed);
      transform: rotate(-90deg);
    }
  }

  .Layer__balance-sheet-row {
    border-left: 4px solid transparent;
    &:not(.Layer__balance-sheet-row--display-children-true) {
      border-left: 4px solid var(--color-base-400);
    }
  }

  .Layer__balance-sheet-cell__label {
    .Layer__table-cell-content {
      padding-left: 0;
    }
  }

  .Layer__balance-sheet-cell__value--positive .Layer__table-cell-content {
    &::before {
      content: '$';
    }
  }

  .Layer__balance-sheet-cell__value--negative .Layer__table-cell-content {
    &::before {
      content: '-$';
    }
  }
}
