.Layer__balance-sheet {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);

  * {
    font-family: var(--font-family);
    font-feature-settings:
      'cv10' on,
      'cv01' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
  }

  .Layer__balance-sheet__title {
    display: inline;
    flex: 1;
    margin: 0;
    font-size: var(--text-heading);
  }
}
