.Layer__bank-transactions__mobile-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  list-style: none;

  .Layer__bank-transaction-mobile-list-item:first-child {
    margin-top: 0;
  }
}

.Layer__bank-transaction-mobile-list-item {
  box-sizing: border-box;
  width: 95%;
  padding: 0;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  margin: var(--spacing-2xs) var(--spacing-md);
  background: var(--color-base-0);
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transform: scale(0.96);
  transition: all 180ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  &.show.Layer__bank-transaction-row--removing {
    opacity: 0;
    transition:
      all 500ms ease-in-out,
      opacity 80ms ease-out;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;

    .Layer__bank-transaction-mobile-list-item__heading {
      transition: height 180ms ease-out;
      height: 0 !important;
    }
  }
}

.Layer__bank-transaction-mobile-list-item .Layer__text--error {
  padding: var(--spacing-sm) 0;
  font-size: 12px;
  text-align: center;
}

.Layer__bank-transaction-mobile-list-item__value {
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-3xs);
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  height: 0;
  padding: 0 var(--spacing-sm);
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
  background-color: var(--base-transparent-2);
  transition: all 180ms ease-in-out;
  opacity: 0;

  &.open {
    height: auto;
    padding: var(--spacing-sm);
    opacity: 1;
  }

  & > .Layer__text {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.Layer__bank-transaction-mobile-list-item__toggle-row {
  display: flex;
  gap: var(--spacing-3xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-4xs) var(--spacing-sm);
}

.Layer__bank-transaction-mobile-list-item__business-form {
  width: 100%;

  .Layer__actionable-list {
    margin-bottom: var(--spacing-md);
  }
}

.Layer__bank-transaction-mobile-list-item__categories_list-container {
  height: 100%;
  padding-inline: var(--spacing-sm);
  padding-top: var(--spacing-sm);
}

.Layer__bank-transaction-mobile-list-item__categories_list {
  overflow-y: auto;
}
