.Layer__bank-transaction-row .Layer__table-cell {
  border-top: 1px solid var(--border-color);
}

.Layer__bank-transaction-row .Layer__table-cell {
  background-color: transparent;
  transition: background-color var(--transition-speed) ease-out;
}

.Layer__bank-transaction-row--expanded .Layer__table-cell {
  background-color: var(--bg-element-focus);
}

.Layer__expanded-bank-transaction-row {
  background-color: transparent;
  transition: background-color var(--transition-speed) ease-out;
}

.Layer__expanded-bank-transaction-row.Layer__expanded-bank-transaction-row--expanded {
  background-color: var(--bg-element-focus);
}

.Layer__expanded-bank-transaction-row .Layer__expanded-bank-transaction-row__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  overflow: hidden;
  max-height: 0px;
  transition: max-height var(--transition-speed) ease-out;
}

.Layer__expanded-bank-transaction-row--expanded .Layer__expanded-bank-transaction-row__wrapper {
  max-height: 360px;
}

.Layer__expanded-bank-transaction-row__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 680px;
}

.Layer__expanded-bank-transaction-row__content-toggle {
  padding: var(--spacing-sm) var(--spacing-md);
}

.Layer__expanded-bank-transaction-row__splits {
  display: flex;
  gap: var(--spacing-md);
  padding: 0 var(--spacing-md);
}

.Layer__expanded-bank-transaction-row__splits-inputs {
  flex: 1;
}

.Layer__expanded-bank-transaction-row__splits-buttons button {
  min-width: 102px;
}

// @TODO
.Layer__bank-transaction-row__table-cell--amount-credit {
  justify-content: flex-end;
  color: var(--text-color-transaction-credit);
}

.Layer__bank-transaction-row__table-cell--amount-debit {
  justify-content: flex-end;
  color: var(--text-color-varying-amount);
}

.Layer__expanded-bank-transaction-row__description {
  padding: 0 var(--spacing-md);

  & textarea {
    width: 100%;
    max-width: 680px;
    height: 100px;
  }
}

.Layer__expanded-bank-transaction-row__file-upload {
  padding: 0 var(--spacing-md);
  padding-bottom: var(--spacing-sm);
}

.Layer__bank-transaction-row__actions-cell {
  border-left: 1px solid var(--border-color);
  transition: border 5s ease-out;
  width: 0%;
}

.Layer__bank-transaction-row__actions-cell--open {
  border-left: 1px solid transparent;
}

.Layer__bank-transaction-row__actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.Layer__bank-transaction-row__expand-button .Layer__chevron {
  // @TODO - fix to proper color after importing all icons:
  opacity: 0.4;
  cursor: pointer;
}

.Layer__expanded-bank-transaction-row__table-cell--split-entry {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  gap: var(--spacing-md);
}

.Layer__expanded-bank-transaction-row__split-amount--negative {
  font-weight: bold;
  color: var(--error-color);
  border: 2.5px dotted var(--error-color);
}
