.Layer__bookkeeping-overview--view {
  .Layer__panel .Layer__panel__content .Layer__component-header {
    z-index: 1;
  }

  .Layer__panel.Layer__panel--open .Layer__panel__content {
    border-right: none;
  }

  .Layer__panel__sidebar {
    padding: var(--spacing-lg);
    border-left: none;
    background: none;
  }

  .Layer__panel.Layer__panel--open .Layer__panel__sidebar {
    max-width: 560px;
  }
}

@media screen and (width >= 1100px) {
  .Layer__bookkeeping-overview--view {
    .Layer__panel__content {
      max-width: 1406px;
    }

    .Layer__view-main {
      padding-right: 0;
    }
  }
}

.Layer__bookkeeping-overview-profit-and-loss-chart {
  width: calc(50% - var(--spacing-md) / 2);
}

.Layer__bookkeeping-overview-profit-and-loss-charts {
  display: flex;
  gap: var(--spacing-md);
  max-width: 1406px;

  > .Layer__UI__Toggle {
    display: none;
  }
}

.Layer__bookkeeping-overview-profit-and-loss .recharts-legend-wrapper {
  top: 16px !important;
}

@container (max-width: 796px) {
  .Layer__bookkeeping-overview-profit-and-loss-chart {
    width: 100%;
  }

  .Layer__bookkeeping-overview-profit-and-loss-charts {
    flex-direction: column;
  }

  .Layer__bookkeeping-overview-profit-and-loss-charts > .Layer__UI__Toggle {
    display: flex;
  }

  .Layer__component.Layer__bookkeeping-overview-profit-and-loss-chart.bookkeeping-overview-profit-and-loss-chart--hidden {
    display: none;
  }
}

@container (max-width: 460px) {
  .Layer__component.Layer__bookkeeping-overview-profit-and-loss .recharts-responsive-container {
    margin-top: -12px;
  }
}
