.Layer__btn {
  position: relative;
  border-radius: var(--btn-border-radius);
  border-width: 0px;
  font-family: var(--font-family);
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'cv10' on, 'cv05' on, 'cv08' on, 'ss03' on;
  padding: 0;
  cursor: pointer;
  min-height: 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--color-base-300), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.04), 0px 3px 4px 0px rgba(0, 0, 0, 0.02), 0px 4px 5px 0px rgba(0, 0, 0, 0.01);
  transition: all 100ms ease-out;

  .Layer__btn-icon {
    color: var(--btn-color-icon);
    background: var(--btn-bg-color-icon);
    // padding: 10px var(--spacing-md);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    transition: all 150ms ease-out;

    & .Layer__btn-icon--on-active {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(25, 25, 25, 0.06), 0px 4px 12px 0px var(--neutral-8, rgba(26, 26, 26, 0.08)), 0px 0px 0px 1px rgba(25, 25, 25, 0.06);
  }

  &:disabled {
    box-shadow: none;
  }
}

.Layer__btn--secondary {
  color: var(--btn-secondary-color);
  background: var(--btn-secondary-bg-color);
}

.Layer__btn--primary {
  color: var(--btn-color);
  background: var(--btn-bg-color);

  &:hover:not([disabled]), &.Layer__btn--active:not([disabled]) {
    color: var(--btn-color-hover);
    background: var(--btn-bg-color-hover);

    .Layer__btn-icon {
      color: var(--btn-color-icon-hover);
      background: var(--btn-bg-color-icon-hover);

      & .Layer__btn-icon--on-active {
        display: block;
      }
      
      & .Layer__btn-icon--on-inactive {
        display: none;
      }
    }
  }
}

.Layer__btn-content {
  padding: 2px;
  display: flex;
  align-items: center;
  font-size: var(--btn-font-size);
  line-height: 100%;
}

.Layer__btn-text {
  font-family: var(--font-family);
  font-size: var(--btn-font-size);
  padding: 0 14px;
}

.Layer__btn-icon--left {
  margin-right: -4px;
}

.Layer__btn-icon--right {
  margin-left: -4px;
}

.Layer__btn--icon-only {
  .Layer__btn-icon--right {
    margin-left: 0;
  }
  .Layer__btn-icon--left {
    margin-right: 0;
  }
}
