.Layer__component .recharts-responsive-container {
  box-sizing: border-box;
  padding: 4px;
  border-radius: var(--border-radius-xs);

  .recharts-cartesian-axis-line {
    stroke: var(--color-base-300);
  }

  .recharts-cartesian-axis-tick-line {
    stroke: var(--color-base-300);
  }
}

.Layer__component .recharts-wrapper {
  svg:focus,
  path:focus,
  g:focus {
    outline: none;
  }
}

.Layer__component .recharts-responsive-container.Layer__chart-container {
  padding-top: 42px;
}

.Layer__chart-wrapper {
  position: relative;
}

.Layer__chart-container {
  min-height: 300px;
}

.Layer__chart-legend-list {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  font-size: 12px;
  list-style: none;
}
