.Layer__component .recharts-responsive-container {
  box-sizing: border-box;
  padding: 4px;
  border-radius: var(--border-radius-xs);

  .recharts-cartesian-axis-line {
    stroke: var(--color-base-300);
  }

  .recharts-cartesian-axis-tick-line {
    stroke: var(--color-base-300);
  }
}

.Layer__component .recharts-wrapper {
  svg:focus,
  path:focus,
  g:focus {
    outline: none;
  }
}

.Layer__UI__Chart--focusReset {
  .recharts-wrapper:focus,
  .recharts-wrapper :focus,
  .recharts-surface:focus,
  .recharts-bar-rectangle:focus {
    outline: none;
  }
}
