.Layer__chart-of-accounts {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);

  * {
    color: var(--text-color);
    stroke: var(--text-color);
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
  }
}

.Layer__chart-of-accounts__table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  gap: 1px 0;
  font-size: 1rem;
}

.Layer__chart-of-accounts__header {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.Layer__chart-of-accounts__title {
  display: inline;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.Layer__chart-of-accounts__actions {
  display: flex;
  flex-direction: row;
}

.Layer__chart-of-accounts__download-button {
  align-self: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: var(--corner-radius);
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 600;

  &:active {
    background-color: var(--active);
  }

  & svg {
    margin-right: 0.5rem;
  }
}
.Layer__chart-of-accounts__edit-accounts-button {
  align-self: center;
  border: 2px solid var(--button-color-dark);
  border-radius: var(--corner-radius);
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  background-color: var(--button-color-dark);
  padding: 0.5rem 1rem;
  font-weight: 600;

  & svg {
    margin-right: 0.5rem;
  }

  &:active {
    background-color: var(--active);
  }
}

.Layer__chart-of-accounts__table-cell--header {
  font-weight: 700;
}

.Layer__chart-of-accounts__table-cell--header,
.Layer__chart-of-accounts-row__table-cell {
  background-color: var(--background-color);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Layer__chart-of-accounts__table-cell--header-balance,
.Layer__chart-of-accounts-row__table-cell--balance {
  justify-content: flex-end;
}

.Layer__chart-of-accounts-row__table-cell--amount-positive {
  &::before {
    content: '$';
  }
}

.Layer__chart-of-accounts-row__table-cell--amount-negative {
  &::before {
    content: '-$';
  }
}

.Layer__chart-of-accounts-row__table-cell--depth-0 {
  font-weight: 700;
}

.Layer__chart-of-accounts-row__table-cell--depth-1.Layer__chart-of-accounts-row__table-cell--name {
  padding-right: 2em;
  padding-left: 2em;
}

.Layer__chart-of-accounts-row__table-cell--depth-2.Layer__chart-of-accounts-row__table-cell--name {
  padding-right: 2em;
  padding-left: 4em;
}

.Layer__chart-of-accounts-row__view-entries-button {
  align-self: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: var(--corner-radius);
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 600;

  &:active {
    background-color: var(--active);
  }
}

.Layer__chart-of-accounts-new-form {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);
  font-size: 1rem;
}

.Layer__chart-of-accounts-new-form__field {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;

  padding: 0.5rem;
  margin: 0.5rem;

  span {
    padding-right: 0.5rem;
    align-self: center;
  }
}
