.Layer__component-container.Layer__chart-of-accounts {
  display: flex;
  align-items: stretch;
  position: relative;
}

.Layer__chart-of-accounts__loader-container {
  padding: var(--spacing-2xl);
}

.Layer__chart-of-accounts__table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.Layer__chart-of-accounts__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.Layer__table-cell.Layer__coa__name,
.Layer__table-cell.Layer__coa__balance {
  color: var(--color-base-800);
}

.Layer__table-header.Layer__coa__name {
  padding-left: var(--spacing-xl);
}

.Layer__table-cell.Layer__coa__name {
  width: calc(100% - 192px - 50%);
}

.Layer__table-cell.Layer__coa__type,
.Layer__table-cell.Layer__coa__subtype {
  width: calc(100% - 192px - 75%);
}

.Layer__table-cell.Layer__coa__balance {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__chart-of-accounts__table
  .Layer__table-row--depth-0
  .Layer__table-cell.Layer__coa__name {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__coa__balance {
  text-align: right;
  justify-content: flex-end;
}

.Layer__table-cell.Layer__coa__actions {
  width: 160px;

  .Layer__table-cell-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: var(--spacing-3xs);
    padding-bottom: var(--spacing-3xs);
    padding-right: var(--spacing-xl);
    gap: var(--spacing-xs);

    & > .Layer__btn {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease-out;
      transform: scale(0.92);
    }
  }

  .Layer__btn--icon-only {
    width: 32px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding: 0;
    box-sizing: border-box;
  }
}

.Layer__chart-of-accounts__table
  .Layer__table-row:hover
  .Layer__coa__actions
  .Layer__btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.Layer__chart-of-accounts__sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-md);

  .actions {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }
}

.Layer__chart-of-accounts__form .actions {
  display: none;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--spacing-xl);
}

.Layer__chart-of-accounts__table .Layer__table-row {
  &:not(.Layer__table-row--header) {
    cursor: pointer;
  }

  &:not(.Layer__table-row--header):hover {
    background-color: var(--color-base-50);
  }
}

.Layer__table__expand-icon {
  transition: transform 150ms ease-out;
  color: var(--color-base-600);
  margin-left: -15px;
  padding: var(--spacing-sm);
}

.Layer__chart-of-accounts__table
  .Layer__table-row:not(.Layer__table-row--depth-0):not(
    .Layer__table-row--header
  ) {
  background-color: var(--color-base-50);

  &:hover {
    background-color: var(--color-base-100);
  }
}

.Layer__chart-of-accounts__table
  .Layer__table-row--collapsed
  .Layer__table__expand-icon {
  transform: rotate(-90deg);
}

.Layer__chart-of-accounts__form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl) var(--spacing-md);

  .Layer__input-group.Layer__input-group--inline {
    padding: var(--spacing-xs) 0;
    label {
      width: 140px;
      min-width: 140px;
      max-width: 140px;
      padding-left: 0;
    }
  }
}

.Layer__chart-of-accounts__form-edit-entry {
  padding: var(--spacing-md) var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);

  .Layer__text {
    margin: 0;
  }
}

.Layer__chart-of-accounts__form__error-message {
  padding: var(--spacing-4xs) var(--spacing-xl);
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  color: var(--color-danger);
}

.Layer__chart-of-accounts__form-row {
  display: flex;
  gap: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-md);
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  background-color: var(--color-base-100);

  &.Layer__chart-of-accounts__form-row--depth-0 {
    background-color: var(--color-base-50);
  }

  .Layer__btn {
    align-self: flex-start;
    min-width: 120px;
  }
}

// @TODO change to JS and dynamically mount row to decrease number of nodes
.Layer__chart-of-accounts__row---mobile {
  visibility: hidden;
  display: none;

  .Layer__chart-of-accounts__mobile-row-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
    padding-right: var(--spacing-md);
    padding-top: var(--spacing-3xs);
    padding-bottom: var(--spacing-3xs );
  }
}

.Layer__chart-of-accounts__mobile-row-content__top-row,
.Layer__chart-of-accounts__mobile-row-content__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Layer__chart-of-accounts__mobile-row-content__name {
  color: var(--color-base-800);
}

.Layer__chart-of-accounts__mobile-row-content__balance {
  color: var(--color-base-800);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__chart-of-accounts__row---mobile.Layer__table-row--depth-0
  .Layer__chart-of-accounts__mobile-row-content__name {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__chart-of-accounts__mobile-row-content__types {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);

  .Layer__text {
    color: var(--color-base-700);
  }
}

.Layer__chart-of-accounts__mobile-row-content__separator {
  height: 12px;
  width: 1px;
  background: var(--color-base-200);
}

.Layer__chart-of-accounts {
  .Layer__desktop--hidden {
    display: none;
  }
}

.Layer__coa__type--mobile {
  color: var(--color-base-800);
}

.Layer__chart-of-accounts .Layer__panel {
  max-width: 100%;
}

.Layer__chart-of-accounts__table-container {
  max-width: 100%;
  overflow: auto;
}

@container (min-width: 1400px) {
  .Layer__chart-of-accounts
    .Layer__panel__sidebar
    .Layer__chart-of-accounts__form {
    padding: var(--spacing-xl);
  }

  .Layer__chart-of-accounts__form-edit-entry {
    padding: var(--spacing-md) var(--spacing-xl);
  }
}

@container (max-width: 1024px) {
  .Layer__table-cell.Layer__coa__actions .Layer__table-cell-content {
    padding-right: var(--spacing-md);
  }

  .Layer__chart-of-accounts__sidebar__header .actions {
    display: none;
  }

  .Layer__chart-of-accounts__form .actions {
    display: flex;
  }

  .Layer__chart-of-accounts.Layer__component
    .Layer__panel__sidebar
    .Layer__panel__sidebar-content {
    width: 100%;

    .Layer__form .Layer__input-group,
    .Layer__form .Layer__chart-of-accounts__form__input-group__title {
      box-sizing: border-box;
      max-width: 600px;
      width: 100%;
      margin: auto;
    }

    .Layer__form .Layer__chart-of-accounts__form-edit-entry {
      box-sizing: border-box;
      max-width: calc(600px + (var(--spacing-xl) * 2));
      padding: var(--spacing-md) var(--spacing-xl);
      width: 100%;
      margin: auto;
    }

    .Layer__form .Layer__header__col {
      width: 100%;
      margin: auto;
      padding: var(--spacing-md) var(--spacing-xl);
      max-width: calc(600px + (var(--spacing-xl) * 2));
    }

    .actions {
      max-width: 600px;
      width: 100%;
      margin: auto;
    }
  }
}

@container (min-width: 761px) and (max-width: 1024px) {
  .Layer__chart-of-accounts {
    .Layer__mobile--hidden {
      display: none;
    }

    .Layer__desktop--hidden {
      &.Layer__table-header {
        display: table-cell;
      }

      &.Layer__table-cell-content {
        display: flex;
      }
    }

    .Layer__coa__type .Layer__table-cell-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.Layer__mobile--hidden {
        display: none;
      }
    }

    .Layer__table-cell.Layer__coa__actions {
      width: 64px;
    }
  }
}

@container (max-width: 760px) {
  .Layer__table-cell.Layer__coa__actions {
    width: 64px;
  }

  .Layer__chart-of-accounts__row---mobile {
    visibility: visible;
    display: table-row;
  }

  .Layer__chart-of-accounts__row---desktop {
    visibility: hidden;
    display: none;
  }

  .Layer__chart-of-accounts__form {
    padding: var(--spacing-xl);
  }

  .Layer__chart-of-accounts__form-row {
    flex-direction: column;

    .Layer__chart-of-accounts__form-row__name_field {
      flex: 1;
      width: 100%;
    }
  }

  .Layer__chart-of-accounts__actions.Layer__header__actions {
    flex-direction: column;
    align-items: flex-start;
  }
}
