.Layer__component .recharts-responsive-container {
  box-sizing: border-box;
  padding: 4px;
  border-radius: var(--border-radius-xs);

  .recharts-cartesian-axis-line {
    stroke: var(--color-base-300);
  }

  .recharts-cartesian-axis-tick-line {
    stroke: var(--color-base-300);
  }
}

.Layer__component .recharts-wrapper {
  svg:focus,
  path:focus,
  g:focus {
    outline: none;
  }
}

.Layer__component .recharts-responsive-container.Layer__chart-container {
  padding-top: 42px;
}

.Layer__chart-wrapper {
  position: relative;
}

.Layer__chart-container {
  min-height: 300px;
}

.Layer__chart-legend-list {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  font-size: 12px;
  list-style: none;
}

.Layer__chart__tooltip {
  padding: var(--spacing-2xs) var(--spacing-sm);
  border-radius: var(--border-radius-3xs);
  background-color: var(--color-base-1000);
  font-size: var(--text-sm);
  color: var(--color-base-500);
}

.Layer__chart__tooltip-list {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    column-gap: var(--spacing-sm);
    justify-content: space-between;
    list-style: none;
  }

  .Layer__chart__tooltip-label {
    color: var(--color-base-500);
  }

  .Layer__chart__tooltip-value {
    color: var(--color-base-300);

    &.positive {
      color: var(--color-success);
    }

    &.negative {
      color: var(--color-danger);
    }
  }
}

.Layer__chart_y-axis-tick {
  tspan {
    font-size: var(--text-sm);
  }
}
