/** Utils */
.Layer__flex-1 {
  flex: 1;
}

/** Containers */

.Layer__component-container {
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  overflow: hidden;
}

.Layer__component-header {
  padding: var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Headings & Typography */

.Layer__heading {
  color: var(--text-color-primary);
  font-size: var(--text-heading);
  font-variation-settings: 'wght' var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: -0.12px;
  margin: 0;
  align-self: center;
}

.Layer__heading--secondary,
.Layer__heading.Layer__heading--secondary {
  color: var(--text-color-primary);
  font-size: var(--text-heading-sm);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__text {
  font-family: var(--font-family);
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'cv10' on, 'cv05' on, 'cv08' on, 'ss03' on;
  line-height: 140%;
}

.Layer__text--sm {
  font-size: var(--spacing-sm);
}

.Layer__text--md {
  font-size: var(--spacing-md);
}

.Layer__text--bold,
.Layer__text.Layer__text--bold {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

/** Table */

.Layer__table {
  width: 100%;
  border-collapse: collapse;
}

.Layer__table-header {
  color: var(--text-color-secondary);
  font-size: var(--text-sm);
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'cv10' on, 'cv05' on, 'cv08' on, 'ss03' on;
  text-overflow: ellipsis;
  line-height: 140%;
  letter-spacing: -0.06px;
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: left;
}

.Layer__table-header.Layer__table-header--primary {
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__table-cell {
  font-size: var(--text-md);
  text-align: left;
  color: var(--text-color-secondary);
}

.Layer__table-cell--amount {
  justify-content: flex-end;
  text-align: right;
}

.Layer__table-cell-content {
  display: block;
  top: 0px;
  padding: var(--spacing-sm) var(--spacing-md);
  box-sizing: border-box;
  transition: all var(--transition-speed) ease-out;
}

.Layer__bank-transaction-row--removing {
  .Layer__table-cell-content {
    max-height: 0px;
    top: 1px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}

/** Inputs */

::placeholder {
  color: var(--input-placeholder-color);
}

.Layer__input-group {
  display: flex;
  flex-direction: column;
}

.Layer__input-label {
  padding: var(--spacing-2xs);
  color: var(--label-color);
}

.Layer__input {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  border-width: 0px;
  box-shadow: 0px 0px 0px 1px var(--input-border-color);
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  line-height: 140%;
}

.Layer__textarea {
  padding: 10px 14px;
  border-radius: var(--input-border-radius);
  border-width: 0px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--input-border-color);
  font-family: var(--font-family);
  font-size: var(--input-font-size);
}


.Layer__toggle {
  display: flex;
  width: max-content;
  align-items: center;
  box-sizing: border-box;
  border-radius: 52px;
  padding: 2px;
  height: 38px;
  background: var(--color-neutral-100);
  box-shadow: 0px 0px 0px 1px var(--color-neutral-300);
  cursor: pointer;
}

.Layer__toggle.Layer__toggle--small {
  height: 36px;
  border-radius: 6px;
}

.Layer__toggle-option {
  position: relative;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }

  & input + span {
    box-sizing: border-box;
    padding: 8px 16px;
    height: 36px;
    border-radius: 52px;
    font-family: var(--font-family);
    font-size: var(--btn-font-size);
    cursor: pointer;
  }

  & input:checked + span {
    background: var(--color-white);
    box-shadow: 0px 0px 0px 1px var(--color-neutral-300), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.04), 0px 3px 4px 0px rgba(0, 0, 0, 0.02), 0px 4px 5px 0px rgba(0, 0, 0, 0.01);
  }
}

.Layer__toggle.Layer__toggle--small .Layer__toggle-option {
  input + span {
    height: 32px;
    border-radius: 6px;
  }
}

.Layer__select {
  border-width: 0px;
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  line-height: 140%;

  & .Layer__select__control {
    border-width: 0px;
    border-radius: var(--input-border-radius);
    box-shadow: 0px 0px 0px 1px var(--color-neutral-300);
    min-height: 36px;
  }

  & .Layer__select__indicator-separator {
    display: none;
  }

  & .Layer__select__indicator {
    padding: 7px;
  }
}

.Layer__select__menu-portal {
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  line-height: 140%;

  .Layer__select__option {
    font-family: var(--font-family);
    font-size: 12px;
    color: #636665;
    cursor: pointer;
    transition: all 200ms ease-out;

    &.Layer__select__option--is-selected {
      color: #1A1A1A;
      background: #FAFCFC;
    }

    &:hover {
      color: #1A1A1A;
      background: #FAFCFC;
    }
  }

  .Layer__select__menu-notice {
    font-family: var(--font-family);
    font-size: 12px;
    color: #999999;
  }
}

.Layer__category-menu {
  width: 15rem;
}

.Layer__category-menu.Layer__category-menu--full {
  width: 100%;
  max-width: 100%;
  flex: 1;
}

/** Buttons */

.Layer__btn {
  border-radius: var(--btn-border-radius);
  border-width: 0px;
  padding: 0;
  cursor: pointer;
  min-height: 36px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--color-neutral-300), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.04), 0px 3px 4px 0px rgba(0, 0, 0, 0.02), 0px 4px 5px 0px rgba(0, 0, 0, 0.01);
  transition: all var(--transition-speed) ease-out;

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(25, 25, 25, 0.06), 0px 4px 12px 0px var(--neutral-8, rgba(26, 26, 26, 0.08)), 0px 0px 0px 1px rgba(25, 25, 25, 0.06);
  }
}

.Layer__btn--secondary {
  color: var(--btn-secondary-color);
  background: var(--btn-secondary-bg-color);
}

.Layer__btn--primary {
  color: var(--btn-color);
  background: var(--btn-bg-color);
}

.Layer__btn-content {
  padding: 10px var(--spacing-md);
  display: flex;
  align-items: center;
  gap:  var(--spacing-sm);
  font-size: var(--btn-font-size);
  line-height: 100%;
}

.Layer__btn-text {
  font-family: var(--font-family);
  font-size: var(--btn-font-size);
}
