/** Headings */

.Layer__heading {
  color: var(--text-color-primary);
  font-size: var(--text-heading);
  font-variation-settings: 'wght' var(--font-weight-normal);
  line-height: 150%;
  letter-spacing: -0.12px;
  margin: 0;
  align-self: center;
}

.Layer__table-header {
  color: var(--text-color-secondary);
  font-size: var(--text-sm);
  font-variation-settings: 'wght' 460;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'cv10' on, 'cv05' on, 'cv08' on, 'ss03' on;
  text-overflow: ellipsis;
  line-height: 140%;
  letter-spacing: -0.06px;
  padding: 12px 16px;
}

/** Table */

.Layer__table-header.Layer__table-header--primary {
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__table-cell {
  font-size: var(--text-md);
}