.Layer__component-container {
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  overflow: auto;
  container-type: inline-size;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.Layer__component-header {
  padding: var(--spacing-xl);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md); 
}

@container (max-width: 700px) {
  .Layer__component-header {
    padding: var(--spacing-md);
  }
}
