.Layer__component {
  max-width: 1406px;
  font-family: var(--font-family);
}

.Layer__component-container {
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  container-type: inline-size;

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e2e2e2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.Layer__component.Layer__component--elevated {
  border-width: 0;
  box-shadow:
    0 4px 12px 0 var(--base-transparent-8),
    0 2px 4px 0 var(--base-transparent-6),
    0 0 0 1px var(--base-transparent-4);
}

.Layer__component--no-bg {
  border-width: 0;
  box-shadow: none;
  background: transparent;
}

.Layer__component-header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg);

  &.Layer__component-header--next-line-actions {
    flex-direction: column;
    align-items: flex-start;

    .Layer__heading {
      align-self: flex-start;
    }

    .Layer__header__actions {
      width: 100%;
    }
  }
}

.Layer__component-header__title-wrapper {
  position: relative;
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

.Layer__header__actions {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: space-between;
}

.Layer__error-boundary {
  padding: var(--spacing-xl);

  .Layer__data-state__description {
    margin-bottom: 0;
  }
}
