.Layer__data-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--spacing-xl);

  &.Layer__data-state--spacing {
    padding: var(--spacing-xl);
  }
}

.Layer__data-state__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: var(--spacing-3xs);
  box-shadow: 0 0 0 1px var(--color-base-300);
  margin-bottom: var(--spacing-md);
  background: transparent;
  color: var(--fg-default);
}

.Layer__data-state__icon--neutral {
  box-shadow: 0 0 3px 0 rgb(23 51 45 / 4%) inset;
  background: var(--bg-muted);
  color: var(--fg-default);
}

.Layer__data-state__icon--success {
  box-shadow: 0 0 3px 0 rgb(23 51 45 / 4%) inset;
  background: var(--color-info-success-bg);
  color: var(--color-info-success-fg);
}

.Layer__data-state__icon--error {
  background: transparent;
  color: var(--color-danger);
}

.Layer__data-state__title {
  display: block;
  margin-bottom: var(--spacing-2xs);
  text-align: center;
  color: var(--color-base-700);
}

.Layer__data-state__description {
  display: block;
  margin-bottom: var(--spacing-xl);
  text-align: center;
  color: var(--color-base-500);
}

.Layer__data-state--inline {
  flex-direction: row;
  gap: var(--spacing-xs);

  .Layer__data-state__title,
  .Layer__data-state__description {
    margin-bottom: 0;
    text-align: left;
  }

  .Layer__data-state__icon {
    margin-bottom: 0;
  }
}
