@forward '../components/DatePicker/ModeSelector/date-picker-mode-selector';

.Layer__datepicker__wrapper,
#Layer__datepicker__portal {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-height: 36px;
  border-radius: var(--input-border-radius);
  box-shadow:
    0 0 0 1px var(--input-border-color),
    0 0 0 2px rgb(0 0 0 / 0%);

  &:focus-within {
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
    outline: none;
  }

  &.Layer__datepicker__wrapper--arrows {
    .react-datepicker__input-container {
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  & > div {
    width: 100%;
    max-width: 100%;
  }

  .Layer__datepicker__next-button {
    padding: 0 var(--spacing-xs);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--input-border-color);
    box-shadow: none;

    .Layer__btn-text {
      position: relative;
    }
  }

  .Layer__datepicker__prev-button {
    padding: 0 var(--spacing-xs);
    border-radius: 0;
    border-left: 1px solid var(--input-border-color);
    box-shadow: none;

    .Layer__btn-text {
      position: relative;
    }
  }

  .Layer__datepicker__nav-arrow-highlight {
    position: absolute;
    top: -4px;
    right: -5px;
    display: flex;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--color-info-warning);
  }

  .Layer__datepicker__current-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--input-border-color);
    box-shadow: none;
  }

  .react-datepicker__input-container {
    input,
    button {
      box-sizing: border-box;
      position: relative;
      max-width: 170px;
      padding: 8px;
      border-radius: var(--input-border-radius);
      border: none;
      margin: 1px;
      font-size: var(--input-font-size);
      line-height: 140%;
      font-family: var(--font-family);

      &:focus,
      &:active,
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .Layer__datepicker__popper {
    z-index: 105;
    min-width: 275px;
    max-width: 275px;
    border-radius: 8px;

    &.Layer__datepicker__time__popper {
      min-width: auto;
    }

    * {
      outline-color: var(--color-base-800);
    }

    .react-datepicker__triangle {
      display: none;
    }

    .Layer__datepicker__calendar {
      border: none;
      box-shadow:
        0 0 0 1px var(--input-border-color),
        0 0 0 2px rgb(0 0 0 / 0%);

      .react-datepicker__navigation--previous {
        right: 42px;
        left: auto;
      }

      .react-datepicker__navigation--previous,
      .react-datepicker__navigation--next {
        .react-datepicker__navigation-icon::before {
          position: absolute;
          top: 11px;
          display: block;
          height: 6px;
          width: 6px;
          border-width: 1px 1px 0 0;
          border-color: var(--color-base-800);
          border-style: solid;
          content: '';
        }
      }

      .react-datepicker__month-container {
        min-width: 275px;
      }

      .react-datepicker__month-container,
      .react-datepicker__year--container {
        max-width: 275px;

        .react-datepicker__header {
          padding: var(--spacing-sm) 0 0;
          border: none;
          background: white;
        }

        .react-datepicker-year-header {
          padding: var(--spacing-sm);
          border-bottom: 1px solid var(--color-base-200);
          background-color: var(--color-base-0);
          font-size: 14px;
          font-family: var(--font-family);
          font-weight: 460;
          text-align: left;
          font-feature-settings:
            'cv10' on,
            'cv05' on,
            'cv08' on,
            'ss03' on;
        }

        .react-datepicker__current-month {
          padding: 0 var(--spacing-md) var(--spacing-sm);
          border-bottom: 1px solid var(--color-base-200);
          font-size: 14px;
          font-family: var(--font-family);
          font-weight: 460;
          text-align: left;
          font-feature-settings:
            'cv10' on,
            'cv05' on,
            'cv08' on,
            'ss03' on;
        }
      }

      .react-datepicker__day-names {
        padding: var(--spacing-xs) var(--spacing-xs) 0;

        .react-datepicker__day-name {
          height: 32px;
          width: 32px;
          font-size: 12px;
          line-height: 1.7rem;
          color: var(--color-base-500);
        }
      }

      .react-datepicker__month,
      .react-datepicker__year {
        .react-datepicker__week,
        .react-datepicker__month-wrapper,
        .react-datepicker__year-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          .react-datepicker__day,
          .react-datepicker__month-text,
          .react-datepicker__year-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 460;
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: var(--color-base-400);
              color: var(--color-base-800);
            }

            &.react-datepicker__day--outside-month {
              color: var(--color-base-500);
            }

            &.react-datepicker__day--disabled,
            &.react-datepicker__month-text--disabled,
            &.react-datepicker__year-text--disabled {
              cursor: not-allowed;
              color: var(--color-base-300);
            }

            &.react-datepicker__day--keyboard-selected,
            &.react-datepicker__month-text--keyboard-selected {
              background-color: var(--color-base-0);
              color: var(--color-base-800);
              border-color: var(--color-base-800);
              outline-color: var(--color-base-800);
            }

            &.react-datepicker__day--selected,
            &.react-datepicker__month-text--selected,
            &.react-datepicker__year-text--selected {
              background-color: var(--color-base-800);
              font-weight: 460;
              color: var(--color-base-100);
            }

            &.react-datepicker__day--in-range,
            &.react-datepicker__day--in-selecting-range,
            &.react-datepicker__month-text--in-range,
            &.react-datepicker__month-text--in-selecting-range,
            &.react-datepicker__year-text--in-range,
            &.react-datepicker__year-text--in-selecting-range {
              background-color: var(--color-base-200);
              color: var(--color-base-800);
            }

            &.react-datepicker__day--range-start,
            &.react-datepicker__day--range-end,
            &.react-datepicker__month-text--range-start,
            &.react-datepicker__month-text--range-end,
            &.react-datepicker__year-text--range-start,
            &.react-datepicker__year-text--range-end {
              background-color: var(--color-base-800);
              color: var(--color-base-100);
            }
          }

          .react-datepicker__day {
            height: 32px;
            width: 32px;
          }

          .react-datepicker__month-text,
          .react-datepicker__year-text {
            height: 32px;
            width: 100%;
          }
        }
      }
    }
  }

  .react-datepicker__children-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .Layer__datepicker__popper__custom-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--spacing-md) var(--spacing-xs);
    border-top: 1px solid var(--color-base-200);

    .Layer__text-btn {
      padding: var(--spacing-xs) var(--spacing-xs);
      font-weight: 460;
      color: var(--color-base-800);
      text-decoration: none;
    }
  }

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: var(--color-base-800);
    font-weight: 460;
    color: var(--color-base-100);
  }

  .react-datepicker--time-only {
    .react-datepicker__time-container {
      .react-datepicker__time-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--color-base-400);
          color: var(--color-base-800);
        }

        &.react-datepicker__time-list-item--selected {
          background-color: var(--color-base-800);
          font-weight: 460;
          color: var(--color-base-100);
        }
      }

      .react-datepicker__header {
        padding: var(--spacing-sm) 0 0;
        border: none;
        background: white;

        &.react-datepicker__header--time--only {
          padding: 0;
        }

        .react-datepicker-time__header {
          display: none;
          padding: 0 var(--spacing-md) var(--spacing-sm);
          border-bottom: 1px solid var(--color-base-200);
          font-size: 14px;
          font-family: var(--font-family);
          font-weight: 460;
          text-align: left;
          font-feature-settings:
            'cv10' on,
            'cv05' on,
            'cv08' on,
            'ss03' on;
        }
      }
    }
  }
}

.Layer__datepicker__time__wrapper {
  max-width: 98px;

  .react-datepicker__header {
    padding: 0 !important;
  }

  .react-datepicker-time__header {
    display: none;
  }

  .Layer__datepicker__time {
    input {
      max-width: 84px;
    }
  }

  .Layer__datepicker__popper {
    min-width: auto;
    max-width: auto;

    .react-datepicker__month-container {
      min-width: auto;
      max-width: auto;
    }
  }

  .react-datepicker__input-container {
    margin-right: 1px;
  }

  .react-datepicker__input-container > input {
    max-width: 84px;
  }
}

@media screen and (width <= 760px) {
  .Layer__datepicker__wrapper {
    .Layer__datepicker__current-button {
      display: none;
    }

    &.Layer__datepicker__wrapper--arrows {
      box-shadow: none;

      .react-datepicker__input-container {
        input {
          max-width: 90px;
          border-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          box-shadow:
            0 0 0 1px var(--input-border-color),
            0 0 0 2px rgb(0 0 0 / 0%);
          margin-right: 8px;
        }
      }
    }

    .Layer__datepicker__next-button {
      padding: 0 var(--spacing-xs);
      border-radius: 8px;
      border: none;
      box-shadow:
        0 0 0 1px var(--input-border-color),
        0 0 0 2px rgb(0 0 0 / 0%);
      margin-left: 8px;
    }

    .Layer__datepicker__prev-button {
      padding: 0 var(--spacing-xs);
      border-radius: 8px;
      border: none;
      box-shadow:
        0 0 0 1px var(--input-border-color),
        0 0 0 2px rgb(0 0 0 / 0%);
    }
  }

  #Layer__datepicker__portal {
    &.Layer__datepicker__portal--opened {
      .react-datepicker__portal {
        background-color: rgb(36 36 36 / 40%);

        .Layer__datepicker__calendar {
          bottom: 0;

          @media screen and (resolution >= 2dppx) {
            padding-bottom: 96px;
          }
        }
      }
    }

    &.Layer__datepicker__portal--closed {
      .react-datepicker__portal {
        .Layer__datepicker__calendar {
          bottom: -100%;
        }
      }
    }

    .react-datepicker__portal {
      z-index: 105;
      align-items: flex-end;
      background-color: rgb(36 36 36 / 0%);
      transition: all 180ms ease-in-out;

      * {
        outline-color: var(--color-base-800);
      }

      .react-datepicker__time {
        overflow: clip;
        border-radius: var(--spacing-md);
      }

      .react-datepicker__time-container {
        width: 100%;

        .react-datepicker__time-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        .react-datepicker__time-list {
          display: flex;
          flex-wrap: wrap;
          gap: var(--spacing-2xs);
          justify-content: space-between;
          width: 100%;
          padding: var(--spacing-md) var(--spacing-xs);
          border-radius: var(--spacing-md);

          .react-datepicker__time-list-item {
            width: 100%;
            border-radius: 0.3rem;
            font-size: 15px;
            word-spacing: 8px;
          }
        }
      }

      .react-datepicker__header {
        border-radius: var(--spacing-md) var(--spacing-md) 0 0;
      }

      .react-datepicker__triangle {
        display: none;
      }

      .Layer__datepicker__calendar {
        position: relative;
        bottom: -100px;
        width: 100%;
        max-width: 414px;
        border-radius: var(--spacing-md);
        border: none;
        box-shadow:
          0 0 0 1px var(--input-border-color),
          0 0 0 2px rgb(0 0 0 / 0%);
        margin: 0 var(--spacing-md) 32px var(--spacing-md);
        transition: bottom 0.2s ease-in-out;

        .react-datepicker__navigation--previous {
          right: 42px;
          left: auto;
        }

        .react-datepicker__navigation--previous,
        .react-datepicker__navigation--next {
          .react-datepicker__navigation-icon::before {
            position: absolute;
            top: 11px;
            display: block;
            height: 6px;
            width: 6px;
            border-width: 1px 1px 0 0;
            border-color: var(--color-base-800);
            border-style: solid;
            content: '';
          }
        }

        .react-datepicker__month-container,
        .react-datepicker__year--container {
          width: 100%;
          min-width: 275px;
          max-width: 100%;

          .react-datepicker__header {
            padding: var(--spacing-sm) 0 0;
            border: none;
            background: white;
          }

          .react-datepicker-year-header {
            padding: var(--spacing-sm);
            border-radius: var(--spacing-md) var(--spacing-md) 0 0;
            border-bottom: 1px solid var(--color-base-200);
            background-color: var(--color-base-0);
            font-size: 14px;
            font-family: var(--font-family);
            font-weight: 460;
            text-align: left;
            font-feature-settings:
              'cv10' on,
              'cv05' on,
              'cv08' on,
              'ss03' on;
          }

          .react-datepicker__current-month {
            padding: 0 var(--spacing-md) var(--spacing-sm);
            border-bottom: 1px solid var(--color-base-200);
            font-size: 14px;
            font-family: var(--font-family);
            font-weight: 460;
            text-align: left;
            font-feature-settings:
              'cv10' on,
              'cv05' on,
              'cv08' on,
              'ss03' on;
          }
        }

        .react-datepicker__day-names {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: var(--spacing-xs) var(--spacing-xs) 0;

          .react-datepicker__day-name {
            height: 32px;
            width: 100%;
            font-size: 12px;
            line-height: 1.7rem;
            color: var(--color-base-500);
          }
        }

        .react-datepicker__month,
        .react-datepicker__year {
          padding: var(--spacing-xs) 0;

          .react-datepicker__week,
          .react-datepicker__month-wrapper,
          .react-datepicker__year-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .react-datepicker__day,
            .react-datepicker__month-text,
            .react-datepicker__year-text {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 460;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: var(--color-base-400);
                color: var(--color-base-800);
              }

              &.react-datepicker__day--outside-month {
                color: var(--color-base-500);
              }

              &.react-datepicker__day--disabled,
              &.react-datepicker__month-text--disabled,
              &.react-datepicker__year-text--disabled {
                cursor: not-allowed;
                color: var(--color-base-300);
              }

              &.react-datepicker__day--keyboard-selected,
              &.react-datepicker__month-text--keyboard-selected,
              &.react-datepicker__year-text--keyboard-selected {
                background-color: var(--color-base-400);
                color: var(--color-base-800);
                border-color: var(--color-base-800);
                outline-color: var(--color-base-800);
              }

              &.react-datepicker__day--selected,
              &.react-datepicker__month-text--selected,
              &.react-datepicker__year-text--selected {
                background-color: var(--color-base-800);
                font-weight: 460;
                color: var(--color-base-100);
              }

              &.react-datepicker__day--in-range,
              &.react-datepicker__day--in-selecting-range,
              &.react-datepicker__month-text--in-range,
              &.react-datepicker__month-text--in-selecting-range,
              &.react-datepicker__year-text--in-range,
              &.react-datepicker__year-text--in-selecting-range {
                background-color: var(--color-base-200);
                color: var(--color-base-800);
              }

              &.react-datepicker__day--range-start,
              &.react-datepicker__day--range-end,
              &.react-datepicker__month-text--range-start,
              &.react-datepicker__month-text--range-end,
              &.react-datepicker__year-text--range-start,
              &.react-datepicker__year-text--range-end {
                background-color: var(--color-base-800);
                color: var(--color-base-100);
              }
            }

            .react-datepicker__day {
              height: 32px;
              width: 100%;
            }

            .react-datepicker__month-text,
            .react-datepicker__year-text {
              height: 32px;
              width: 100%;
            }
          }

          .react-datepicker__year-wrapper {
            margin: auto;
          }
        }
      }
    }
  }
}

@media screen and (width <= 500px) {
  #Layer__datepicker__portal {
    .react-datepicker__portal {
      .Layer__datepicker__calendar {
        border-radius: var(--spacing-md) var(--spacing-md) 0 0;
        margin: 0;
      }

      .react-datepicker__time {
        border-radius: var(--spacing-md) var(--spacing-md) 0 0;
      }

      .react-datepicker__time-container {
        .react-datepicker__time-list {
          border-radius: var(--spacing-md) var(--spacing-md) 0 0;
        }
      }
    }
  }
}

@media screen and (resolution >= 2dppx) {
  .Layer__component .react-datepicker__input-container input {
    min-height: 36px;
    max-height: 36px;
    font-size: 16px;
  }
}

.Layer__datepicker__year-content {
  position: relative;
}

.Layer__datepicker__date-dot {
  position: absolute;
  top: 50%;
  right: -16px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--color-info-warning);
  transform: translateY(-50%);
}
