.Layer__datetime {
  display: inline-flex;
  gap: var(--spacing-md);
  align-items: center;
}

.Layer__datetime__date {
  min-width: 75px;
  color: var(--color-base-800);
}

.Layer__datetime__time {
  color: var(--color-base-600);
}
