.Layer__date-month-picker__wrapper {
  display: flex;
  align-items: center;
  position: relative;

  .Layer__date-month-picker__current-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@container (min-width: 760px) {
  .Layer__date-month-picker__wrapper {
    &.Layer__date-month-picker__wrapper--current-date-option {
      .Layer__date-month-picker {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .Layer__date-month-picker__current-button {
      border: 1px solid var(--input-border-color);
      border-left: none;
      box-shadow: none;
    }
  }
}

.Layer__date-month-picker {
  width: 210px;
  font-size: 14px;
  padding: 0.25rem;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.Layer__date-month-picker__button {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-base-0);
  border: 0;
  border-radius: var(--input-border-radius);
  z-index: 3;
  position: relative;

  &:active {
    background-color: var(--color-base-0);
  }
}

.Layer__date-month-picker__button-icon path {
  stroke: var(--text-color);
}

.Layer__date-month-picker__button--disabled
  .Layer__date-month-picker__button-icon
  path {
  stroke: var(--color-base-500);
}

.Layer__date-month-picker__label {
  flex: 1;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 var(--spacing-xs);
  transition:
    opacity 0.7s ease-in-out,
    transform 0.4s ease-in-out;
  width: 33%;
  position: relative;
  padding-left: 20px;
}

.Layer__date-month-picker__labels-container {
  display: flex;
  width: 660px;
  position: absolute;
}

.Layer__date-month-picker__effect-blur {
  width: 120px;
  height: 100%;
  position: absolute;
  right: -10px;
  bottom: 1px;
  background: linear-gradient(-90deg, #fff 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

@container (max-width: 760px) {
  .Layer__date-month-picker__wrapper {
    .Layer__date-month-picker {
      border: none;
      background: none;
      width: 175px;
    }

    .Layer__date-month-picker__button {
      margin: 0 0.125rem;
      box-shadow:
        0px 1px 2px 0px var(--base-transparent-6, rgba(16, 24, 40, 0.06)),
        0px 0px 0px 1px var(--color-base-300);
      border-radius: 4px;
    }

    .Layer__date-month-picker__effect-blur {
      right: 0;
      max-width: 70px;
      background: linear-gradient(
        -90deg,
        #f7f8fa 75%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .Layer__date-month-picker__button--disabled {
      background-color: var(--color-base-200);
    }

    .Layer__date-month-picker__labels-container {
      width: 550px;
    }

    .Layer__date-month-picker__label {
      padding-left: 0;
      padding-right: 75px;
      justify-content: flex-end;
      font-size: 12px;
    }
  }
}
