.Layer__details-list {
  display: flex;
  flex-direction: column;
}

.Layer__details-list__actions > .Layer__details-list__close-btn {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;

  @container (max-width: 64rem) {
    display: none;
  }
}

.Layer__journal__entry-details__mobile-header {
  display: none;
}

@container (max-width: 64rem) {
  .Layer__journal__entry-details__mobile-header {
    display: flex;
  }
}

.Layer__details-list .Layer__component-header {
  padding-bottom: 0;
}

.Layer__details-list__list {
  box-sizing: border-box;
  padding: var(--spacing-md) 0;
  list-style: none;
  margin: 0;
}

.Layer__details-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  padding: 0 var(--spacing-md);
}

.Layer__details-list-item__label {
  box-sizing: border-box;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: var(--text-sm);
  line-height: 140%;
  font-weight: var(--font-weight-normal);
  color: var(--color-base-600);
}

.Layer__details-list-item__value {
  box-sizing: border-box;
  display: flex;
  padding: var(--spacing-xs) var(--spacing-md);
}
