.Layer__drawer-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition:
    background 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &.open.closing {
    opacity: 0;
  }

  &.open {
    display: block;
    opacity: 0.4;
    background: #242424;
  }
}

.Layer__drawer {
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: -100%;
  left: 0;
  display: flex;
  overflow-y: auto;
  max-height: 80%;
  width: 100%;
  padding: 0 14px;
  border-radius: var(--spacing-md) var(--spacing-md) 0 0;
  border: 28px solid var(--color-base-0);
  border-right: 14px solid var(--color-base-0);
  border-left: 14px solid var(--color-base-0);
  background: var(--color-base-0);
  transition: bottom 0.2s ease-in-out;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    height: 5px;
    width: 37px;
    border-radius: 80px;
    background-color: var(--color-base-50);
    content: '';
    transform: translateX(-50%);
  }

  &.open:not(.closing) {
    bottom: 0;
  }
}

@media (width >= 414px) {
  .Layer__drawer {
    max-height: calc(82% - 32px);
    max-width: 414px;
    border-radius: var(--spacing-md);
    margin-right: auto;
    margin-left: auto;

    &.open:not(.closing) {
      bottom: 32px;
    }
  }
}
