.Layer__due-status {
  display: flex;
  flex-direction: column;
}

.Layer__due-status--overdue {
  .Layer__due-status__title {
    color: var(--color-info-error);
  }
}

.Layer__due-status--today {
  .Layer__due-status__title {
    color: var(--color-info-warning);
  }
}

.Layer__due-status--soon {
  .Layer__due-status__title {
    color: var(--color-base-800);
  }
}

.Layer__due-status--before {
  .Layer__due-status__title {
    color: var(--color-base-800);
  }
}
