.Layer__file-thumb {
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: var(--spacing-2xs);
  align-items: flex-start;
  justify-content: space-between;
  min-height: 38px;
  container-type: normal;

  &:not(.Layer__file-thumb--floating) {
    width: 100%;
    max-width: 680px;
  }

  @container (max-width: 300px) {
    &:not(.Layer__file-thumb--floating) {
      flex-direction: column;
      border-bottom: 1px solid var(--color-base-300);

      .Layer__file-thumb__actions:not(.Layer__file-thumb__actions--floating) {
        padding-right: 0;
        padding-left: 0;
        margin-left: -6px;

        .Layer__icon-btn {
          height: 26px;
          width: 26px;

          svg {
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }
}

.Layer__file-thumb__main {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: var(--spacing-2xs);
}

.Layer__file-thumb__actions {
  display: flex;
  gap: var(--spacing-4xs);
  padding: var(--spacing-4xs);

  .Layer__icon-btn.Layer__icon-btn--active {
    background-color: var(--color-base-50);

    &:hover {
      background-color: var(--color-base-100);
    }
  }

  .Layer__file-thumb__actions__remove {
    color: var(--color-danger);
  }

  &.Layer__file-thumb__actions--floating {
    position: absolute;
    top: -20px;
    right: -10px;
    display: none;
    border-radius: var(--border-radius-3xs);
    box-shadow:
      0 1px 2px 0 var(--base-transparent-6),
      0 0 0 1px var(--color-base-300);
    background-color: var(--color-base-0);
    transform: scale(0.8);
  }
}

.Layer__file-thumb:hover .Layer__file-thumb__actions--floating {
  display: flex;
}

.Layer__file-thumb__img {
  height: 100%;
  height: 38px;
  width: 100%;
  width: 38px;
  border-radius: var(--border-radius-3xs, 4px);
  box-shadow:
    0 1px 2px 0 var(--base-transparent-6),
    0 0 0 1px var(--color-base-300);
  background: var(--color-base-300);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.Layer__file-thumb__details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-4xs) var(--spacing-2xs);
  font-size: var(--text-sm);
}

.Layer__file-thumb__details__date {
  color: var(--color-base-600);
}

.Layer__file-thumb__details__uploading {
  display: flex;
  gap: var(--spacing-3xs);
  align-items: center;
  color: var(--color-info-fg);
}

.Layer__file-thumb__details__error {
  color: var(--color-danger);
}

.Layer__file-thumb__details__name {
  word-break: break-all;
}
