.Layer__component * {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e2e2e2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.Layer__sortable-col {
  &.value-col {
    text-align: right;
  }

  .Layer__sort-arrows {
    .desc-arrow,
    .asc-arrow {
      stroke: var(--color-base-500);
    }
  }

  &.sort--desc {
    .Layer__sort-arrows {
      .desc-arrow {
        stroke: var(--color-base-1000);
      }
    }
  }

  &.sort--asc {
    .Layer__sort-arrows {
      .asc-arrow {
        stroke: var(--color-base-1000);
      }
    }
  }
}
