.Layer__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Layer__header--sticky {
  position: sticky;
  z-index: 10;
  top: 0;
  background: rgb(255 255 255 / 50%);
  backdrop-filter: blur(6px);
}

.Layer__header--top-rounded {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.Layer__header__row {
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--spacing-md);
  border-bottom: 1px solid var(--border-color);

  &[data-direction='col'] {
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: flex-start;
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);

    .Layer__header__col {
      min-height: 36px;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @container (min-width: 1400px) {
    padding: 0 var(--spacing-xl);
  }
}

.Layer__header__col {
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  min-height: 68px;

  &[data-no-padding='true'] {
    padding-right: 0;
    padding-left: 0;
  }

  &[data-fluid='true'] {
    flex: 1 1;
  }
}
