.Layer__chevron {
  stroke: var(--color-base-900);
  transition: transform 0.33s;
}

.Layer__chevron__down {
  transform: rotate(0deg);
}

.Layer__chevron__up {
  transform: rotate(180deg);
}

.Layer__chevron__up--counterclockwise {
  transform: rotate(-180deg);
}

.Layer__icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: var(--border-radius-3xs);
  background-color: var(--color-base-0);
  color: var(--color-base-1000);
}
