::placeholder {
  color: var(--input-placeholder-color);
}

.Layer__input-group {
  display: flex;
  flex-direction: column;

  &.Layer__input-group--inline {
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;

    & label {
      width: 33%;
      flex: 1 1 auto;
      display: flex;
    }

    & input {
      flex: 3 3 auto;
    }

    .Layer__input-tooltip {
      flex: 3 3 auto;
      width: 100%;
    }

    .Layer__input {
      width: 100%;
    }
  }
}

.Layer__input-label {
  padding: var(--spacing-2xs);
  color: var(--label-color);
}

.Layer__input {
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  border-width: 0px;
  box-shadow:
    0px 0px 0px 1px var(--input-border-color),
    0px 0px 0px 2px rgba(0, 0, 0, 0);
  margin: 1px;
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  line-height: 140%;

  &.Layer__input--error {
    box-shadow:
      0px 0px 0px 1px var(--color-base-300),
      0px 0px 0px 2px var(--color-danger);
  }

  &:disabled {
    background-color: var(--color-base-100);
    color: var(--color-base-800);
  }

  &:focus,
  &:active,
  &:focus-visible {
    box-shadow:
      0px 0px 0px 3px rgba(26, 26, 26, 0.08),
      0px 0px 0px 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__input--with-left-text {
  padding-left: 60px;
}

.Layer__input-left-text {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  padding: var(--spacing-xs);
  padding-right: var(--spacing-sm);
  box-sizing: border-box;
  border-right: 1px solid var(--input-border-color);
  color: var(--color-base-700);
  font-size: var(--text-sm);
}

.Layer__input-tooltip {
  flex: 0;
  position: relative;
}

.Layer__textarea {
  padding: 10px 14px;
  border-radius: var(--input-border-radius);
  border-width: 0px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--input-border-color);
  margin: 1px;
  font-family: var(--font-family);
  font-size: var(--input-font-size);

  &:focus,
  &:active,
  &:focus-visible {
    box-shadow:
      0px 0px 0px 3px rgba(26, 26, 26, 0.08),
      0px 0px 0px 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__toggle {
  display: flex;
  width: max-content;
  align-items: center;
  box-sizing: border-box;
  border-radius: 52px;
  padding: 2px;
  height: 38px;
  background: var(--color-base-100);
  box-shadow: 0px 0px 0px 1px var(--color-base-300);
  margin: 1px;
  cursor: pointer;
  position: relative;
  isolation: isolate;

  .Layer__toggle-option-content {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

.Layer__toggle-option__icon {
  line-height: 11px;
}

.Layer__toggle.Layer__toggle--small {
  height: 36px;
  border-radius: 6px;
}

.Layer__toggle-option {
  position: relative;
  cursor: pointer;
  z-index: 2;

  & input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }

  & input + span {
    box-sizing: border-box;
    padding: 8px 16px;
    height: 36px;
    border-radius: 52px;
    color: var(--text-color-secondary);
    font-family: var(--font-family);
    font-size: var(--btn-font-size);
    cursor: pointer;
    transition:
      color var(--transition-speed) ease-in-out,
      background-color 150ms ease-in-out;
    justify-content: center;

    &:hover {
      color: var(--text-color-primary);
    }
  }

  & input:checked + span {
    color: var(--text-color-primary);
  }

  & input:disabled + span {
    cursor: not-allowed;
    color: var(--text-color-secondary);
  }

  &:hover input + span {
    background-color: var(--color-base-200);
  }

  &:hover input:disabled + span,
  &:hover input:checked + span {
    background-color: transparent;
  }
}

.Layer__toggle.Layer__toggle--small .Layer__toggle-option {
  input + span {
    height: 32px;
    border-radius: 6px;
  }
}

.Layer__toggle__thumb {
  position: absolute;
  width: 100px;
  left: 0;
  top: 1px;
  z-index: 1;

  box-sizing: border-box;
  padding: 8px 16px;
  height: 36px;
  border-radius: 52px;

  background: var(--color-white);
  box-shadow:
    0px 0px 0px 1px var(--color-base-300),
    0px 1px 1px 0px rgba(0, 0, 0, 0.04),
    0px 2px 3px 0px rgba(0, 0, 0, 0.04),
    0px 3px 4px 0px rgba(0, 0, 0, 0.02),
    0px 4px 5px 0px rgba(0, 0, 0, 0.01);
}

.Layer__toggle.Layer__toggle--small .Layer__toggle__thumb {
  height: 34px;
  border-radius: 6px;
}

.Layer__toggle--initialized {
  .Layer__toggle__thumb {
    transition:
      left 150ms ease,
      width 150ms ease;
  }
}

.Layer__select {
  border-width: 0px;
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
  line-height: 140%;
  width: 100%;

  & .Layer__select__control {
    border-width: 0px;
    border-radius: var(--input-border-radius);
    box-shadow: 0px 0px 0px 1px var(--color-base-300);
    margin: 1px;
    min-height: 36px;
  }

  & .Layer__select__control--is-focused {
    box-shadow:
      0px 0px 0px 3px rgba(26, 26, 26, 0.08),
      0px 0px 0px 1px var(--color-base-700);
  }

  .Layer__select__multi-value {
    border-radius: var(--border-radius-3xs);
    background-color: var(--color-base-100);
    color: var(--color-base-700);

    .Layer__select__multi-value__remove:hover {
      background: #f3b9b9;
      color: var(--color-danger);
      cursor: pointer;
    }
  }

  .Layer__select__multi-all-placeholder-badge {
    border-radius: var(--border-radius-3xs);
    background-color: var(--color-base-100);
    color: var(--color-base-700);
    padding: var(--spacing-2xs) var(--spacing-sm);
    line-height: 120%;
    height: 24px;
    box-sizing: border-box;
  }

  .Layer__select__menu-notice {
    white-space: nowrap;
    font-size: 12px;
  }

  & .Layer__select__indicator-separator {
    display: none;
  }

  & .Layer__select__indicator {
    padding: 7px;
  }

  & .Layer__select__placeholder {
    color: var(--color-base-500);
    font-family: var(--font-family);
    font-variation-settings: 'wght' var(--font-weight-normal);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings:
      'cv10' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
  }

  .Layer__select__option-label {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xs);
  }
}

.Layer__select__menu-portal {
  font-family: var(--font-family);
  font-size: var(--input-font-size);
  line-height: 140%;

  .Layer__select__group-heading {
    color: var(--color-base-500);
    font-size: var(--text-xs);
    padding: var(--spacing-xs) var(--spacing-md);
  }

  .Layer__select__option {
    font-family: var(--font-family);
    font-size: var(--text-md);
    color: var(--color-base-900);
    cursor: pointer;
    transition: all 200ms ease-out;
    background: var(--color-white);
    padding: var(--spacing-xs) var(--spacing-md);

    &.Layer__select__option--is-selected {
      color: var(--text-color-primary);
    }

    &.Layer__select__option--is-focused,
    &.Layer__select__option--is-selected,
    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within {
      color: var(--text-color-primary);
      background: var(--color-base-100);
    }
  }

  .Layer__select__menu-notice {
    font-family: var(--font-family);
    font-size: 12px;
    color: #999999;
  }

  .Layer__select__option-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Layer__select__option-menu-content-check {
    margin-top: 2px;
  }

  .Layer__select__group-heading--main {
    font-size: var(--text-xs);
    color: var(--color-base-700);
    padding: var(--spacing-xs) var(--spacing-md);
    border-bottom: 1px solid var(--color-base-200);
  }

  .Layer__select__option--separator {
    font-size: var(--text-xs);
    color: var(--color-base-700);
    padding: var(--spacing-xs);
    padding-top: var(--spacing-md);
  }

  .Layer__select__option--hidden {
    display: none;
  }

  .Layer__select__option-content__match {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    .Layer__select__option-content__match__main-row {
      display: flex;
      gap: var(--spacing-3xs);
      flex-direction: column;
    }

    .Layer__select__option-content__match__date {
      font-size: var(--text-sm);
      color: var(--color-base-600);
      white-space: nowrap;
    }

    .Layer__select__option-content__match__description {
      font-size: var(--text-sm);
      color: var(--color-base-700);
    }

    .Layer__select__option-content__match__amount-row {
      display: flex;
    }

    .Layer__select__option-content__match__amount {
      font-size: var(--text-sm);
      color: var(--color-base-900);
      font-variation-settings: 'wght' var(--font-weight-bold);
    }
  }
}

.Layer__select__menu.Layer__select__menu--lg {
  width: calc(100% + 60px);
  margin-left: -30px;
}

.Layer__category-menu {
  width: 17rem;
}

.Layer__category-menu.Layer__category-menu--full {
  width: 100%;
  max-width: 100%;
  flex: 1;
}

@media screen and (max-width: 400px) {
  .Layer__select__menu-portal .Layer__select__option {
    font-size: var(--text-sm) !important;
  }
}

.Layer__profit-and-loss-date-picker {
  width: 210px;
  font-size: 14px;
  padding: 0.25rem;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.Layer__profit-and-loss-date-picker__button {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-base-0);
  border: 0;
  border-radius: var(--input-border-radius);
  z-index: 3;
  position: relative;

  &:active {
    background-color: var(--color-base-0);
  }
}

.Layer__profit-and-loss-date-picker__button-icon path {
  stroke: var(--text-color);
}

.Layer__profit-and-loss-date-picker__label {
  flex: 1;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 var(--spacing-xs);
  transition:
    opacity 0.7s ease-in-out,
    transform 0.4s ease-in-out;
  width: 33%;
  position: relative;
  padding-left: 20px;
}

.Layer__profit-and-loss-date-picker__labels-container {
  display: flex;
  width: 660px;
  position: absolute;
}

.Layer__profit-and-loss-date-picker__effect-blur {
  width: 120px;
  height: 100%;
  position: absolute;
  right: -10px;
  bottom: 1px;
  background: linear-gradient(-90deg, #fff 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
