::placeholder {
  color: var(--input-placeholder-color);
}

.Layer__input-group {
  display: flex;
  flex-direction: column;

  &.Layer__input-group--inline {
    flex: 1;
    flex-direction: row;
    gap: var(--spacing-sm);
    align-items: center;
    width: 100%;

    & label {
      display: flex;
      flex: 1 1 auto;
      width: 33%;
    }

    & input {
      flex: 3 3 auto;
    }

    .Layer__input-tooltip {
      flex: 3 3 auto;
      width: 100%;
    }

    .Layer__input {
      width: 100%;
    }
  }
}

.Layer__input-label {
  padding: var(--spacing-2xs);
  color: var(--label-color);
}

.Layer__amount-input {
  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }
}

.Layer__textarea {
  box-sizing: border-box;
  min-height: 100px;

  width: 100%;

  padding: var(--spacing-xs);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);
  border-width: 0;
  box-shadow:
    0 0 0 1px var(--input-border-color),
    0 0 0 2px rgb(0 0 0 / 0%);
  margin: 1px;

  background-color: var(--color-base-0);
  font-size: var(--input-font-size);
  line-height: 140%;

  font-family: var(--font-family);

  resize: none;

  &.Layer__textarea--error {
    box-shadow:
      0 0 0 1px var(--color-base-300),
      0 0 0 2px var(--color-danger);
  }

  &:disabled {
    background-color: var(--color-base-100);
    color: var(--color-base-800);
  }

  &:focus,
  &:active,
  &:focus-visible {
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__input {
  box-sizing: border-box;
  position: relative;
  padding: 8px;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);
  border-width: 0;
  box-shadow:
    0 0 0 1px var(--input-border-color),
    0 0 0 2px rgb(0 0 0 / 0%);
  margin: 1px;
  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);

  &.Layer__input--error {
    box-shadow:
      0 0 0 1px var(--color-base-300),
      0 0 0 2px var(--color-danger);
  }

  &:disabled {
    background-color: var(--color-base-100);
    color: var(--color-base-800);
  }

  &:focus,
  &:active,
  &:focus-visible {
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__input--with-left-text {
  padding-left: 60px;
}

.Layer__input-left-text {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacing-xs);
  padding-right: var(--spacing-sm);
  border-right: 1px solid var(--input-border-color);
  font-size: var(--text-sm);
  color: var(--color-base-700);
}

.Layer__input-tooltip {
  position: relative;
  flex: 0;
}

.Layer__toggle {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  height: 38px;
  width: max-content;
  padding: 2px;
  border-radius: 52px;
  box-shadow: 0 0 0 1px var(--color-base-300);
  margin: 1px;
  background: var(--color-base-100);
  cursor: pointer;
  user-select: none;
  isolation: isolate;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  .Layer__toggle-option-content {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
  }
}

.Layer__toggle-option__icon {
  line-height: 11px;
}

.Layer__toggle.Layer__toggle--small {
  height: 36px;
  border-radius: 6px;
}

.Layer__toggle.Layer__toggle--xsmall {
  height: 36px;
  border-radius: 6px;

  .Layer__toggle-option {
    input + span {
      height: 32px;
      border-radius: 6px;
    }

    .Layer__toggle-option-content {
      font-size: 12px;
    }
  }

  .Layer__toggle__thumb {
    height: 34px;
    border-radius: 6px;
  }
}

.Layer__toggle-option {
  position: relative;
  z-index: 2;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    width: 1px;
  }

  & input + span {
    box-sizing: border-box;
    justify-content: center;
    height: 36px;
    padding: 8px 16px;
    border-radius: 52px;
    cursor: pointer;
    font-size: var(--btn-font-size);
    font-family: var(--font-family);
    color: var(--text-color-secondary);
    transition:
      color var(--transition-speed) ease-in-out,
      background-color 150ms ease-in-out;

    &:hover {
      color: var(--text-color-primary);
    }
  }

  & input:checked + span {
    color: var(--text-color-primary);
  }

  & input:disabled + span {
    cursor: not-allowed;
    color: var(--text-color-secondary);
  }

  &:hover input + span {
    background-color: var(--color-base-200);
  }

  &:hover input:disabled + span,
  &:hover input:checked + span {
    background-color: transparent;
  }
}

.Layer__toggle.Layer__toggle--small .Layer__toggle-option {
  input + span {
    height: 32px;
    border-radius: 6px;
  }
}

.Layer__toggle__thumb {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 0;
  height: 36px;
  width: 100px;
  padding: 8px 16px;
  border-radius: 52px;
  box-shadow:
    0 0 0 1px var(--color-base-300),
    0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 3px 0 rgb(0 0 0 / 4%),
    0 3px 4px 0 rgb(0 0 0 / 2%),
    0 4px 5px 0 rgb(0 0 0 / 1%);
  background: var(--color-white);
}

.Layer__toggle.Layer__toggle--small .Layer__toggle__thumb {
  height: 34px;
  border-radius: 6px;
}

.Layer__toggle--initialized {
  .Layer__toggle__thumb {
    transition:
      left 150ms ease,
      width 150ms ease;
  }
}

.Layer__select {
  width: 100%;
  border-width: 0;
  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;

  & .Layer__select__control {
    min-height: 36px;
    border-radius: var(--input-border-radius);
    border-width: 0;
    box-shadow: 0 0 0 1px var(--color-base-300);
    margin: 1px;
  }

  & .Layer__select__control--is-focused {
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
  }

  &.Layer__select--error .Layer__select__control {
    box-shadow:
      0 0 0 1px var(--color-base-300),
      0 0 0 2px var(--color-danger);
  }

  .Layer__select__multi-value {
    border-radius: var(--border-radius-3xs);
    background-color: var(--color-base-100);
    color: var(--color-base-700);

    .Layer__select__multi-value__remove:hover {
      background: #f3b9b9;
      cursor: pointer;
      color: var(--color-danger);
    }
  }

  .Layer__select__multi-all-placeholder-badge {
    box-sizing: border-box;
    height: 24px;
    padding: var(--spacing-2xs) var(--spacing-sm);
    border-radius: var(--border-radius-3xs);
    background-color: var(--color-base-100);
    line-height: 120%;
    color: var(--color-base-700);
  }

  .Layer__select__menu-notice {
    white-space: nowrap;
    font-size: 12px;
  }

  & .Layer__select__indicator-separator {
    display: none;
  }

  & .Layer__select__indicator {
    padding: 7px;
  }

  & .Layer__select__placeholder {
    overflow: hidden;
    max-width: 100%;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--color-base-500);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings:
      'cv10' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .Layer__select__option-label {
    display: flex;
    gap: var(--spacing-2xs);
    align-items: center;
  }
}

.Layer__select__menu-portal {
  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);

  .Layer__select__group-heading {
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--text-xs);
    color: var(--color-base-500);
  }

  .Layer__select__option {
    padding: var(--spacing-xs) var(--spacing-md);
    background: var(--color-white);
    cursor: pointer;
    font-size: var(--text-md);
    font-family: var(--font-family);
    color: var(--color-base-900);
    transition: all 200ms ease-out;

    &.Layer__select__option--is-selected {
      color: var(--text-color-primary);
    }

    &.Layer__select__option--is-focused,
    &.Layer__select__option--is-selected,
    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within {
      background: var(--color-base-100);
      color: var(--text-color-primary);
    }
  }

  .Layer__select__menu-notice {
    font-size: 12px;
    font-family: var(--font-family);
    color: #999;
  }

  .Layer__select__option-menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Layer__select__option-menu--name {
      display: flex;
      gap: var(--spacing-2xs);
      align-items: center;
    }
  }

  .Layer__select__option-menu-content-check {
    margin-top: 2px;
  }

  .Layer__select__group-heading--main {
    padding: var(--spacing-xs) var(--spacing-md);
    border-bottom: 1px solid var(--color-base-200);
    font-size: var(--text-xs);
    color: var(--color-base-700);
  }

  .Layer__select__option--separator {
    padding: var(--spacing-xs);
    padding-top: var(--spacing-md);
    font-size: var(--text-xs);
    color: var(--color-base-700);
  }

  .Layer__select__option--hidden {
    display: none;
  }
  
  .Layer__select__option-content__loading {
    cursor: default;
    &.Layer__select__option--is-focused,
    &.Layer__select__option--is-selected,
    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within {
      background: transparent;
      color: inherit;
    }
  }

  .Layer__select__option-content__match {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    .Layer__select__option-content__match__main-row {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-3xs);
    }

    .Layer__select__option-content__match__date {
      font-size: var(--text-sm);
      color: var(--color-base-600);
      white-space: nowrap;
    }

    .Layer__select__option-content__match__description {
      font-size: var(--text-sm);
      color: var(--color-base-700);
    }

    .Layer__select__option-content__match__amount-row {
      display: flex;
    }

    .Layer__select__option-content__match__amount {
      font-size: var(--text-sm);
      font-weight: var(--font-weight-bold);
      color: var(--color-base-900);
    }
  }
}

.Layer__select__menu.Layer__select__menu--lg {
  width: calc(100% + 60px);
  margin-left: -30px;
}

.Layer__category-menu.Layer__category-menu--full {
  flex: 1;
  width: 100%;
  max-width: 100%;
}

.Layer__category-menu__drawer-btn {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 36px;
  width: 100%;
  padding: 8px;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);
  border-width: 0;
  box-shadow:
    0 0 0 1px var(--input-border-color),
    0 0 0 2px rgb(0 0 0 / 0%);
  margin: 1px;
  background-color: var(--color-base-0);
  cursor: pointer;
  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);
  color: var(--color-base-500);

  &:hover {
    background-color: var(--color-base-50);
    color: var(--text-color-primary);
  }

  &.Layer__category-menu__drawer-btn--selected {
    color: var(--text-color-primary);
  }

  & .Layer__category-menu__drawer-btn__arrow {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

@media screen and (width <= 400px) {
  .Layer__select__menu-portal .Layer__select__option {
    font-size: var(--text-sm) !important;
  }
}

.Layer__profit-and-loss-date-picker {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  width: 210px;
  padding: 0.25rem;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  font-size: 14px;
}

.Layer__profit-and-loss-date-picker__button {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: var(--input-border-radius);
  border: 0;
  background-color: var(--color-base-0);
  text-align: center;

  &:active {
    background-color: var(--color-base-0);
  }
}

.Layer__profit-and-loss-date-picker__button-icon path {
  stroke: var(--color-base-900);
}

.Layer__profit-and-loss-date-picker__label {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  padding: 0 var(--spacing-xs);
  padding-left: 20px;
  font-size: 14px;
  text-align: center;
  transition:
    opacity 0.7s ease-in-out,
    transform 0.4s ease-in-out;
}

.Layer__profit-and-loss-date-picker__labels-container {
  position: absolute;
  display: flex;
  width: 660px;
}

.Layer__profit-and-loss-date-picker__effect-blur {
  position: absolute;
  z-index: 2;
  right: -10px;
  bottom: 1px;
  height: 100%;
  width: 120px;
  background: linear-gradient(-90deg, #fff 50%, rgb(255 255 255 / 0%) 100%);
}

.Layer__input-with-badge {
  position: relative;
  display: flex;
  align-items: center;

  .Layer__badge {
    position: absolute;
    z-index: 1;
    right: 8px;
  }
}

.Layer__compare__options {
  .Layer__select {
    width: max-content;
  }
}

.Layer__input--static-value {
  padding: 0 calc(var(--spacing-xs) + 1px);
}

@media screen and (resolution >= 2dppx) {
  .Layer__view,
  .Layer__component,
  .Layer__Portal {
    .Layer__textarea,
    .Layer__select__control,
    .Layer__input {
      min-height: 36px;
      font-size: 16px;
    }

    .Layer__bank-transaction-list-item__expanded-row .Layer__select .Layer__select__control {
      min-height: 36px;
    }
  }
}

.Layer__form .Layer__form-section {
  padding: var(--spacing-xl) 0;

  .Layer__form-section__title {
    padding: 0 var(--spacing-2xs);
  }

  .Layer__input-group {
    width: 100%;
  }

  .Layer__input {
    width: 100%;
  }

  @container (width > 500px) {
    & > * {
      max-width: 560px;
    }
  }
}

.Layer__form .Layer__form-section:not(:last-of-type) {
  border-bottom: 1px solid var(--color-base-300);
}
