.Layer__view,
.Layer__component,
.Layer__Portal,
.Layer__select__menu-portal {
  /*
   * Background
   */
  --bg-default: var(--color-base-0);
  --bg-subtle: var(--color-base-50);
  --bg-muted: var(--color-base-100);

  /*
   * Foreground
   */
  --fg-default: var(--color-base-800);
  --fg-subtle: var(--color-base-500);

  /*
   * Outlines
   */
  --outline-subtle: var(--color-base-200);
  --outline-default: var(--color-base-300);
  --outline-active: var(--color-base-500);

  /*
   * Buttons
   */
  --button-bg-default: var(--color-base-1000);
  --button-bg-disabled: var(--color-base-200);
  --button-bg-active: var(--color-base-800);

  --button-fg-default: var(--color-base-0);
  --button-fg-disabled: var(--color-base-500);
  --button-fg-ghost: var(--color-base-800);

  --button-border-color-ghost: var(--color-base-300);
  --button-border-color-ghost-active: var(--color-base-800);
}
