.Layer__view,
.Layer__component,
.Layer__Portal {
  /*
   * Base
   */
  --bg-default: var(--color-base-0);
  --bg-subtle: var(--color-base-50);

  --fg-default: var(--color-base-900);

  --outline-subtle: var(--color-base-100);
  --outline-default: var(--color-base-200);
  --outline-active: var(--color-base-400);

  /*
   * Buttons
   */
  --button-bg-default: var(--color-base-900);
  --button-bg-active: var(--color-base-1000);
  --button-bg-disabled: var(--color-base-700);

  --button-fg-default: var(--color-base-0);
  --button-fg-disabled: var(--color-base-200);

  --button-bg-ghost-active: var(--color-base-50);
  --button-outline-ghost-active: var(--color-base-100);

  --button-fg-ghost: var(--color-base-900);
  --button-fg-ghost-active: var(--color-base-1000);
}
