.Layer__component-container.Layer__journal {
  display: flex;
  align-items: stretch;
  position: relative;
}

@container (min-width: 1025px) {
  .Layer__component-container.Layer__journal {
    overflow: unset;
  }
}

.Layer__journal .Layer__journal__bottom-actions {
  display: none;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-xl);
}

.Layer__journal .Layer__panel {
  max-width: 100%;
}

.Layer__journal__table-container {
  max-width: 100%;
  overflow: auto;
}

.Layer__journal-table .Layer__table-cell-content::before {
  background: var(--color-base-400);
}

.Layer__journal__arrow .Layer__table-cell-content {
  padding-right: 0 !important;
}

.Layer__journal__table
  .Layer__table-cell
  .Layer__table-cell-content
  .Layer__table-cell-content::before {
  height: 52px;
}

.Layer__journal__loader-container {
  padding: var(--spacing-2xl);
}

.Layer__table-cell-hidden {
  visibility: hidden;
}

.Layer__journal__table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.Layer__journal__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.Layer__table-cell.Layer__journal__arrow,
.Layer__table-cell.Layer__journal__balance {
  color: var(--color-base-800);
}

.Layer__table-header.Layer__journal__arrow {
  padding-left: var(--spacing-xl);
}

.Layer__table-cell.Layer__journal__arrow {
  cursor: pointer;
  width: 25px;

  .Layer__table-cell-content-indentation {
    margin-left: -8px;
  }
}

.Layer__table-cell.Layer__journal__type,
.Layer__table-cell.Layer__journal__subtype {
  width: calc(100% - 192px - 75%);
}

.Layer__table-cell.Layer__journal__balance {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__journal__table
  .Layer__table-row--depth-0
  .Layer__table-cell.Layer__journal__arrow {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__journal__balance {
  text-align: right;
  justify-content: flex-end;
}

.Layer__table-cell.Layer__journal__actions {
  width: 160px;

  .Layer__table-cell-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: var(--spacing-3xs);
    padding-bottom: var(--spacing-3xs);
    gap: var(--spacing-xs);

    & > .Layer__btn {
      opacity: 0;
      visibility: hidden;
      transition: all 300ms ease-out;
      transform: scale(0.92);
    }
  }

  .Layer__btn--icon-only {
    width: 32px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding: 0;
    box-sizing: border-box;
  }
}

.Layer__journal-line__table-row {
  background-color: var(--color-base-50);
}

.Layer__journal__table
  .Layer__table-row:hover
  .Layer__journal__actions
  .Layer__btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.Layer__journal__table .Layer__journal-table-row {
  cursor: pointer;
  &:not(.Layer__table-row--header):hover {
    background-color: var(--color-base-50);
  }
}

.Layer__journal-entry-table-row,
.Layer__journal-table-row {
  .Layer__table-cell {
    transition: all 150ms ease-out;
    height: var(--spacing-5xl);
  }
}

.Layer__table-row--hidden .Layer__table-cell {
  height: 0px;
}

.Layer__row--expanded .Layer__table-cell {
  background-color: var(--bg-element-focus);
}

.Layer__journal__form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);

  .Layer__input-group.Layer__input-group--inline {
    padding: var(--spacing-xs) 0;
    label {
      width: 140px;
      min-width: 140px;
      max-width: 140px;
    }
  }
}

.Layer__journal__form-edit-entry {
  padding: var(--spacing-md) var(--spacing-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);

  .Layer__text {
    margin: 0;
  }
}

.Layer__journal {
  .Layer__desktop--hidden {
    display: none;
  }
}

.Layer__journal__type--mobile {
  color: var(--color-base-800);
}

@container (max-width: 1024px) {
  .Layer__journal.Layer__component
    .Layer__panel__sidebar
    .Layer__panel__sidebar-content {
    width: 100%;

    .Layer__details-list-item {
      padding-left: 0;
    }

    .Layer__ledger-account__entry-details__line-items {
      max-width: 600px;
    }
  }
}

@container (min-width: 761px) and (max-width: 1024px) {
  .Layer__journal {
    .Layer__mobile--hidden {
      display: none;
    }

    .Layer__desktop--hidden {
      &.Layer__table-header {
        display: table-cell;
      }

      &.Layer__table-cell-content {
        display: flex;
      }
    }

    .Layer__journal__type .Layer__table-cell-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.Layer__mobile--hidden {
        display: none;
      }
    }

    .Layer__table-cell.Layer__journal__actions {
      width: 64px;
    }
  }
}

@container (max-width: 760px) {
  .Layer__table-cell.Layer__journal__actions {
    width: 64px;
  }

  .Layer__journal__row---mobile {
    visibility: visible;
    display: table-row;
  }

  .Layer__journal__row---desktop {
    visibility: hidden;
    display: none;
  }

  .Layer__journal__form-row {
    flex-direction: column;

    .Layer__journal__form-row__name_field {
      flex: 1;
      width: 100%;
    }
  }
}

.Layer__journal__pagination {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md);
  padding-bottom: 0;

  .Layer__pagination {
    margin-bottom: 0;
  }
}

.Layer__journal__entry-details__title {
  .Layer__component-header {
    padding-bottom: var(--spacing-3xs);
  }
  .Layer__journal__entry-details__back-btn {
    display: flex;
    background: var(--color-base-0);
  }
}

@container (min-width: 1400px) {
  .Layer__table-cell.Layer__journal__arrow {
    .Layer__table-cell-content-indentation {
      margin-left: 0px;
    }
  }
}

@container (max-width: 1024px) {
  .Layer__journal__panel .Layer__panel__sidebar .Layer__panel__sidebar-content {
    width: 100%;
  }

  .Layer__journal .Layer__journal__sidebar__header .actions {
    display: none;
  }

  .Layer__journal .Layer__journal__sidebar__header .actions {
    display: none;
  }

  .Layer__journal .Layer__journal__bottom-actions {
    display: flex;
  }

  .Layer__journal .Layer__panel.Layer__panel--open {
    overflow: hidden;
  }

  .Layer__journal__form__input-group.Layer__journal__form__input-group__textarea {
    background: transparent;
  }
}

@container (min-width: 500px) and (max-width: 1024px) {
  .Layer__journal__panel .Layer__details-list .Layer__component-header {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
}

@container (max-width: 499px) {
  .Layer__journal__panel .Layer__details-list .Layer__details-list-item__label,
  .Layer__journal__panel .Layer__details-list .Layer__details-list-item__value {
    padding: var(--spacing-xs);
  }

  .Layer__journal__panel .Layer__details-list .Layer__details-list-item {
    padding: 0 var(--spacing-xs);
  }

  .Layer__journal__entry-details__line-items {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .Layer__card {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .Layer__journal__panel .Layer__panel__sidebar {
    background: var(--color-base-0);
  }

  .Layer__journal__entry-details__back-btn {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }

  .Layer__input-group.Layer__input-group--inline {
    flex-direction: column;
    gap: var(--spacing-2xs);
    align-items: flex-start;
    padding-top: var(--spacing-sm);

    & > label {
      width: 100%;
    }
  }
}

.Layer__journal__form__input-group__line-item {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md) 0;
  gap: var(--spacing-2xs);

  &:not(:first-of-type) {
    border-top: 1px solid var(--color-base-300);
  }
}

.Layer__remove__button {
  box-shadow:
    0px 0px 0px 1px var(--input-border-color),
    0px 0px 0px 2px rgba(0, 0, 0, 0);
  padding: 8px;
  margin-left: 8px;
}

.Layer__journal__form__input-group {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  gap: var(--spacing-3xs);

  &__textarea {
    background: var(--color-base-50);
    textarea {
      margin: var(--spacing-sm) 0;
    }
  }

  &__border {
    border-bottom: 1px solid var(--color-base-300);
  }

  .Layer__input-group {
    .Layer__journal__datepicker__wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--spacing-xs);
    }
  }

  .Layer__input-label {
    padding: 0;
  }
}

.Layer__journal__sidebar__header {
  .actions {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }
}

.Layer__journal__form__error-message {
  padding: var(--spacing-4xs) var(--spacing-xl);
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  color: var(--color-danger);
}

.Layer__journal__add-entry-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md) 0 0;
}
