.Layer__ledger-account__index {
  background-color: var(--color-base-0);
  width: 100%;
  border-top-right-radius: var(--border-radius-sm);
  border-top-left-radius: var(--border-radius-sm);
}

.Layer__ledger-account__panel {
  min-height: 800px;
}

.Layer__ledger-account-table .Layer__table-row--active {
  background-color: var(--color-base-50);
}

.Layer__ledger-account-table .Layer__table-cell-content {
  min-height: 52px;
}

.Layer__ledger-account__panel .Layer__panel__sidebar {
  background-color: var(--color-base-50);

  .Layer__ledger-account__entry-details .Layer__details-list {
    background: var(--color-base-0);
  }
}

.Layer__ledger-account__title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.Layer__ledger-account__balance-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.Layer__ledger-account__balance-label {
  color: var(--color-base-600);
}

.Layer__ledger-account__entry-details__title-container > .Layer__text {
  font-size: 24px;
}

.Layer__ledger-account__entry-details__line-items {
  padding: var(--spacing-md);
}

.Layer__ledger-account__pagination {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md);
  padding-bottom: 0;

  .Layer__pagination {
    margin-bottom: 0;
  }
}

.Layer__ledger-account__entry-details__back-btn {
  display: none;
  background: var(--color-base-0);
  border-top-right-radius: var(--border-radius-sm);
  border-top-left-radius: var(--border-radius-sm);
}

.Layer__ledger-account-table__tablet-main-col {
  .Layer__table-cell-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
  }

  .Layer__ledger-account-table__tablet-main-col__date {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

.Layer__ledger_account-table__journal-id {
  color: var(--color-base-800);
}

.Layer__ledger_account-table__balances-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-xs);
}

.Layer__ledger_account-table__balance-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .Layer__ledger_account-table__balances-mobile__value {
    font-variation-settings: 'wght' var(--font-weight-bold);
    color: var(--color-base-900);
  }
}

@container (max-width: 1024px) {
  .Layer__ledger-account__panel
    .Layer__panel__sidebar
    .Layer__panel__sidebar-content {
    width: 100%;
  }

  .Layer__ledger-account__entry-details__back-btn {
    display: flex;
  }
}

@container (min-width: 500px) and (max-width: 1024px) {
  .Layer__ledger-account__panel .Layer__details-list .Layer__component-header {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
  }
}

@container (max-width: 499px) {
  .Layer__ledger-account__panel
    .Layer__details-list
    .Layer__details-list-item__label,
  .Layer__ledger-account__panel
    .Layer__details-list
    .Layer__details-list-item__value {
    padding: var(--spacing-xs);
  }

  .Layer__ledger-account__panel .Layer__details-list .Layer__details-list-item {
    padding: 0 var(--spacing-xs);
  }

  .Layer__ledger-account__entry-details__line-items {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    .Layer__card {
      box-shadow: none;
      border-radius: 0;
    }
  }

  .Layer__ledger-account__panel .Layer__panel__sidebar {
    background: var(--color-base-0);
  }
}

.Layer__ledger-account__entry-details__table {
  .Layer__table-row.Layer__table-row--variant-default,
  .Layer__table-row.Layer__table-row--variant-summation {
    background-color: var(--color-base-0);
  }
  tr td:first-child {
    width: 75%;
  }
}

@container (min-width: 1400px) {
  .Layer__ledger-account__entry-details__table
    tr
    td:first-child
    .Layer__table-cell-content,
  .Layer__ledger-account__entry-details__table
    tr
    td:last-child
    .Layer__table-cell-content,
  .Layer__ledger-account__entry-details__table
    tr
    th:first-child.Layer__table-header,
  .Layer__ledger-account__entry-details__table
    tr
    th:last-child.Layer__table-header {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}
