.Layer__ledger-account__index {
  width: 100%;
  background-color: var(--color-base-0);
}

.Layer__ledger-account__panel {
  min-height: 800px;
}

.Layer__ledger-account-table .Layer__table-row--active {
  background-color: var(--color-base-50);
}

.Layer__ledger-account-table .Layer__table-cell-content {
  min-height: 52px;
}

.Layer__ledger-account__panel .Layer__panel__sidebar {
  background-color: var(--color-base-50);

  .Layer__ledger-account__entry-details .Layer__details-list {
    background: var(--color-base-0);
  }
}

.Layer__ledger-account__entry-details__header {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  background: var(--color-base-0);
}

.Layer__ledger-account__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.Layer__ledger-account__balance-container {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.Layer__ledger-account__balance-label {
  color: var(--color-base-600);
}

.Layer__ledger-account__entry-details__back-btn {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  padding-bottom: var(--spacing-md);
}

.Layer__ledger-account__entry-details__title-container > .Layer__text {
  font-size: 24px;
}

.Layer__ledger-account__entry-details__line-items {
  padding: var(--spacing-md);
}

.Layer__ledger-account__entry-details__back-btn {
  display: none;
  padding-top: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  padding-left: var(--spacing-xl);
  background: var(--color-base-0);
}

.Layer__ledger-account-table__tablet-main-col {
  .Layer__table-cell-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: flex-start;
  }

  .Layer__ledger-account-table__tablet-main-col__date {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
  }
}

.Layer__ledger_account-table__journal-id {
  color: var(--color-base-800);
}

.Layer__ledger_account-table__balances-mobile {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.Layer__ledger_account-table__balance-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .Layer__ledger_account-table__balances-mobile__value {
    font-weight: var(--font-weight-bold);
    color: var(--color-base-700);
  }
}

@container (max-width: 1024px) {
  .Layer__ledger-account__panel .Layer__panel__sidebar .Layer__panel__sidebar-content {
    width: 100%;
  }

  .Layer__ledger-account__entry-details__back-btn {
    display: flex;
  }
}

@container (min-width: 500px) and (max-width: 1024px) {
  .Layer__ledger-account__panel .Layer__details-list .Layer__component-header {
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);
  }
}

@container (max-width: 499px) {
  .Layer__ledger-account__panel .Layer__details-list .Layer__details-list-item__label,
  .Layer__ledger-account__panel .Layer__details-list .Layer__details-list-item__value {
    padding: var(--spacing-xs);
  }

  .Layer__ledger-account__panel .Layer__details-list .Layer__details-list-item {
    padding: 0 var(--spacing-xs);
  }

  .Layer__ledger-account__entry-details__line-items {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    .Layer__card {
      border-radius: 0;
      box-shadow: none;
    }
  }

  .Layer__ledger-account__panel .Layer__panel__sidebar {
    background: var(--color-base-0);
  }

  .Layer__ledger-account__entry-details__back-btn {
    padding-right: var(--spacing-md);
    padding-left: var(--spacing-md);
  }
}

.Layer__ledger-account__entry-details__table {
  .Layer__table-row.Layer__table-row--variant-default,
  .Layer__table-row.Layer__table-row--variant-summation {
    background-color: var(--color-base-0);
  }

  tr td:first-child {
    width: 75%;
  }
}

@container (min-width: 1400px) {
  .Layer__ledger-account__entry-details__table tr td:first-child .Layer__table-cell-content,
  .Layer__ledger-account__entry-details__table tr td:last-child .Layer__table-cell-content,
  .Layer__ledger-account__entry-details__table tr th:first-child.Layer__table-header,
  .Layer__ledger-account__entry-details__table tr th:last-child.Layer__table-header {
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
  }
}

@container (max-width: 1023px) and (min-width: 700px) {
  .Layer__ledger-account__entry-details__table {
    .Layer__table-row.Layer__table-row--variant-default,
    .Layer__table-row.Layer__table-row--variant-summation {
      background-color: var(--color-base-0);
    }

    tr td {
      width: 30%;
    }

    tr td:first-child {
      width: 40%;
    }
  }
}
