.Layer__ledger-account__index {
  background-color: var(--color-base-0);
  width: 100%;
  // transform: scale(0.5), translateY(-100);
  // opacity: 0.4;
  transition:
    transform 200ms ease-out,
    opacity 300ms ease-out;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.Layer__ledger-account__panel {
  min-height: 800px;
}

.Layer__ledger-account-table .Layer__table-row--active {
  background-color: var(--color-base-50);
}

.Layer__ledger-account__panel .Layer__panel__sidebar {
  background-color: var(--color-base-50);

  .Layer__ledger-account__entry-details .Layer__details-list {
    background: var(--color-base-0);
  }
}

.Layer__ledger-account__header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  padding-bottom: var(--spacing-md);
  align-items: flex-start;
  justify-content: flex-start;
}

.Layer__ledger-account__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-3xs);
}

.Layer__ledger-account__title {
  font-size: 24px;
}

.Layer__ledger-account__balance-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.Layer__ledger-account__balance-label {
  color: var(--color-base-600);
}

.Layer__ledger-account__entry-details__line-items {
  padding: var(--spacing-md);
}

.Layer__ledger-account__entry-details__table td {
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: 12px;
  color: var(--color-base-600);
}

.Layer__ledger-account__entry-details__table__total-row td {
  font-variation-settings: 'wght' var(--font-weight-bold);
  color: var(--color-base-900);
}

.Layer__table.Layer__ledger-account__entry-details__table th,
.Layer__ledger-account__entry-details__table__total-row td {
  padding: var(--spacing-lm) var(--spacing-md);
}

.Layer__ledger-account__pagination {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md);
  padding-bottom: 0;

  .Layer__pagination {
    margin-bottom: 0;
  }
}

@container (max-width: 1400px) {
  .Layer__ledger-account__header {
    padding: var(--spacing-md);
  }
}
