.Layer__link-accounts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.Layer__link-accounts__box {
  box-shadow: 0px 0px 0px 1px var(--base-transparent-4);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-xl) var(--spacing-lg);
  width: 100%;
  max-width: 672px;
  background-color: var(--color-base-0);
}

.Layer__link-accounts__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.Layer__link-accounts__data-status-container {
  min-height: 60px;
}

.Layer__link-accounts__footer {
  padding-top: var(--spacing-lg);
  border-top: 1px solid var(--border-color);
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}
