.Layer__loader {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-md);
  font-size: var(--text-sm);
  color: var(--text-color-primary);
}

.Layer__loader--as-badge {
  height: 21px;
  width: 21px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-base-100);

  &.Layer__loader--info {
    background-color: var(--color-info-bg);
    color: var(--color-info-fg);
  }

  &.Layer__loader--success {
    background-color: var(--color-info-success-bg);
    color: var(--color-info-success-fg);
  }

  &.Layer__loader--error {
    background-color: var(--color-info-error-bg);
    color: var(--color-info-error-fg);
  }

  &.Layer__loader--warning {
    background-color: var(--color-info-warning-bg);
    color: var(--color-info-warning-fg);
  }
}

.Layer__loader--with-bg {
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-base-400);
  color: var(--text-color-primary);
}

.Layer__skeleton-loader__row {
  height: 63px;
  padding: 0 var(--spacing-md);
  border-bottom: 1px solid var(--border-color);
}

.Layer__skeleton-loader__row__group {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

.Layer__skeleton-loader {
  height: 12px;
  width: 100%;
  border-radius: 4px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.Layer__anim--skeleton-loading {
  border-radius: 4px;
  background: var(--color-base-100);
  background:
    linear-gradient(
      110deg,
      var(--color-base-100) 0%,
      var(--color-base-50) 28%,
      var(--color-base-100) 50%,
      var(--color-base-100) 100%
    );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.Layer__syncing-component {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  padding: var(--spacing-md);

  &.Layer__syncing-component--with-border {
    padding: 0 var(--spacing-md);
    border-left: 1px solid var(--border-color);
    margin-left: var(--spacing-md);
  }

  .Layer__syncing-component__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4xs);

    .Layer__syncing-component__title {
      font-size: var(--text-sm);
      font-weight: 540;
      color: var(--text-color-primary);
    }

    .Layer__syncing-component__message {
      font-size: var(--text-sm);
      font-weight: 460;
      color: var(--color-base-500);
    }
  }

  .Layer__icon-btn {
    box-shadow:
      0 1px 2px 0 var(--base-transparent-6, rgb(17 17 17 / 6%)),
      0 0 0 1px var(--base-300, #eaeaea);
    color: var(--color-base-1000);

    svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.Layer__bank-transactions__header--mobile .Layer__syncing-component.Layer__syncing-component--with-border {
  padding: 0;
  padding-left: var(--spacing-sm);
  border-width: 0;
  margin-left: 0;
}
