.Layer__loader {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-md);
  font-size: var(--text-sm);
  color: var(--text-color-primary);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Layer__anim--rotating {
  animation: rotating 2s linear infinite;
}
