.Layer__loader {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--spacing-md);
  font-size: var(--text-sm);
  color: var(--text-color-primary);
}

.Layer__skeleton-loader__row {
  height: 63px;
  padding: 0 var(--spacing-md);
  border-bottom: 1px solid var(--border-color);
}

.Layer__skeleton-loader__row__group {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Layer__anim--rotating {
  animation: rotating 2s linear infinite;
}
