.Layer__notification-card {
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--color-base-300);
  border-radius: var(--border-radius-xs);
  padding: var(--spacing-2xs) var(--spacing-xs);
  min-height: 52px;
  background-color: var(--color-base-0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Layer__skeleton-loader {
    margin-top: 3px;
    margin-bottom: 2px;
  }
}

.Layer__notification-card__main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
  align-items: flex-start;

  & > .Layer__text {
    color: var(--color-base-700);
  }
}

.Layer__txs-to-review {
  .Layer__badge--error {
    color: var(--color-info-error-fg);
    background-color: var(--color-base-50);
    font-variation-settings: 'wght' var(--font-weight-bold);
  }

  .Layer__badge--success {
    color: var(--color-info-success-fg);
    background-color: var(--color-base-50);
    font-variation-settings: 'wght' var(--font-weight-bold);
  }
}
