.Layer__onboarding {
  transition:
    max-height 500ms ease-out,
    opacity 550ms ease-out,
    transform 500ms ease-out;
}

.Layer__onboarding__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-3xl);
}

.Layer__onboarding .Layer__actionable_row {
  width: 640px;
  max-width: 90%;
}
