.Layer__onboarding {
  transition:
    max-height 500ms ease-out,
    opacity 550ms ease-out,
    transform 500ms ease-out;
}

.Layer__onboarding__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-3xl);
  box-sizing: border-box;
}

.Layer__onboarding .Layer__actionable_row {
  max-width: 90%;
  width: 640px;
}

.Layer__meeting-reminder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing-lg);
  width: 100%;
  max-width: 450px;
  box-shadow:
    0px 1px 2px 0px var(--base-transparent-6),
    0px 0px 0px 1px var(--color-base-300);
  border-radius: var(--border-radius-xs);
}

.Layer__meeting-reminder__header {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: var(--spacing-lg);
  border-bottom: 1px solid var(--color-base-300);
  gap: var(--spacing-xs);
}

.Layer__meeting-reminder__header__subtitle {
  color: var(--text-color-secondary);
}

.Layer__meeting-reminder__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding: var(--spacing-lg) 0;
  color: var(--text-color-secondary);
  gap: var(--spacing-3xs);
}

.Layer__meeting-reminder__content-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  .Layer__meeting-reminder__green-circle {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3b9c63;
  }
}

.Layer__onboarding-calendar {
  display: flex;
  flex-direction: column;
  min-width: 840px;
  min-height: 800px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px var(--base-transparent-4);
  background: #fff;
  border-radius: var(--border-radius-xs);

  .calendly-inline-widget {
    min-height: 800px;
    width: 100%;
    padding: var(--spacing-lg);
  }
}

.Layer__onboarding-calendar__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-base-300);
  gap: var(--spacing-md);
  padding: var(--spacing-lg);

  img {
    height: 35px;
  }
}

.Layer__onboarding-calendar__call-details {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.Layer__onboarding-calendar__call-detail {
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.Layer__onboarding-calendar__heading {
  max-width: 190px;
  text-align: center;
  padding-bottom: var(--spacing-xs);
}
