.Layer__panel {
  flex: 1;
  display: flex;
  height: 100%;
}

.Layer__panel__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding-bottom: var(--spacing-lg);
}

.Layer__panel.Layer__panel--open {
  .Layer__panel__content {
    width: calc(100% - 480px);
    border-right: 1px solid var(--color-base-300);
  }
}

.Layer__panel .Layer__panel__content .Layer__component-header {
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.Layer__panel__sidebar {
  width: 480px;
  max-width: 0;
  position: -webkit-sticky;
  position: sticky;
  max-height: 0;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: max-width 180ms ease-in-out;
  background: var(--color-base-0);
  height: 100%;
  border-left: 1px solid var(--color-base-300);

  .Layer__panel__sidebar-content {
    width: 480px;
    height: 100%;
    opacity: 0.2;
    transition: opacity 180ms ease-in-out;
  }
}

.Layer__panel.Layer__panel--open .Layer__panel__sidebar {
  max-width: 480px;
  margin-left: -1px;
  max-height: none;

  .Layer__panel__sidebar-content {
    opacity: 1;
  }
}
