.Layer__panel {
  flex: 1;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.Layer__panel__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding-bottom: var(--spacing-lg);
}

.Layer__panel.Layer__panel--open {
  .Layer__panel__content {
    width: calc(100% - 480px);
    border-right: 1px solid var(--color-base-300);
  }
}

.Layer__panel .Layer__panel__content .Layer__component-header {
  top: 0;
  z-index: auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

.Layer__panel__sidebar {
  width: 480px;
  max-width: 0;
  position: -webkit-sticky;
  position: sticky;
  max-height: 0;
  top: 0;
  overflow-x: hidden;
  transition: max-width 180ms ease-in-out;
  background: var(--color-base-0);
  height: 100%;
  border-left: 1px solid var(--color-base-300);
  border-top-right-radius: var(--border-radius-sm);
  z-index: 100;

  .Layer__panel__sidebar-content {
    width: 480px;
    height: 100%;
    opacity: 0.2;
    transition: opacity 180ms ease-in-out;
  }
}

.Layer__panel__sidebar--default {
  max-width: none;
  width: 100%;
  flex: 1;
  .Layer__panel__sidebar-content {
    width: 100%;
  }
}

.Layer__panel.Layer__panel--open .Layer__panel__sidebar {
  max-width: 480px;
  margin-left: -1px;
  max-height: none;

  .Layer__panel__sidebar-content {
    opacity: 1;
  }
}

@container (max-width: 1024px) {
  .Layer__panel__sidebar {
    position: absolute;
    max-width: 100%;
    width: 100%;
    border-width: 0;
    border-radius: var(--border-radius-sm);
    opacity: 0.2;
    transform: translateY(-50px) scale(0.96);
    transition:
      transform 120ms ease-in-out,
      opacity 120ms ease-in-out;

    .Layer__panel__sidebar-content {
      position: sticky;
      top: 0;
      height: min-content;
    }
  }

  .Layer__panel--open .Layer__panel__sidebar {
    overflow: unset;
  }

  .Layer__panel.Layer__panel--open .Layer__panel__sidebar {
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    display: flex;
    max-height: 100%;
    justify-content: center;
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .Layer__panel.Layer__panel--open {
    .Layer__panel__content {
      width: 100%;
    }
  }
}
