.Layer__panel_view-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  container-type: inline-size;
}

.Layer__panel_view-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--color-base-200);
  container-type: inline-size;
}

.Layer__panel_view-header__content {
  padding: var(--spacing-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1406px;
}

.Layer__panel_view-header__controls {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

@container (max-width: 760px) {
  .Layer__panel_view-header__content {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);

    .Layer__heading {
      align-self: flex-start;
    }
  }
}
