.Layer__date-picker {
  position: relative;
  display: inline-block;

  .Layer__dropdown-toggle {
    box-shadow: 0px 1px 2px 0px var(--base-transparent-6),
      0px 0px 0px 1px var(--color-base-300);
    border-radius: var(--spacing-2xs);
    padding: var(--spacing-3xs) var(--spacing-xs) var(--spacing-3xs);
    min-height: var(--spacing-2xl);
    min-width: 180px;
    cursor: pointer;
    text-align: left;
    padding-left: var(--spacing-lm);
    gap: 20px;
    border: 1px solid transparent;
    background-color: var(--color-white);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Layer__chevron {
      display: flex;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .Layer__dropdown-menu {
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 1px 2px 0px var(--base-transparent-6),
      0px 0px 0px 1px var(--color-base-300);
    border-radius: var(--spacing-2xs);
    background-color: var(--color-white);
    width: 256px;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    .Layer__view-options {
      padding: var(--spacing-xs);
      margin-bottom: var(--spacing-4xs);
    }

    .Layer__compare-options-wrapper {
      border-top: 1px solid var(--color-base-200);
      padding: var(--spacing-md) var(--spacing-sm) var(--spacing-sm);

      &:first-child {
        border-top: transparent;
      }
    }

    .Layer__compare-options {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
  }

  .Layer__option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0px var(--spacing-xs);
    max-height: 28px;
    min-height: 28px;

    &:hover {
      border-radius: var(--spacing-3xs);
      background: var(--color-base-100);
      max-width: max-content;
    }

    &.Layer__selected {
      border-radius: var(--spacing-3xs);
      background: var(--color-base-100);
      max-width: max-content;
    }

    .Layer__tick {
      margin-left: 10px;
      padding-top: 2px;
      color: var(--color-base-900);
    }
  }

  .Layer__compare-header {
    color: var(--color-base-500);
    font-size: 11px;
    padding: 0 0 var(--spacing-sm) var(--spacing-xs);
    position: relative;
  }
}
