.Layer__date-picker {
  position: relative;
  display: inline-block;

  .Layer__dropdown-toggle {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    min-height: var(--spacing-2xl);
    min-width: 180px;
    padding: var(--spacing-3xs) var(--spacing-xs) var(--spacing-3xs);
    padding-left: var(--spacing-lm);
    border-radius: var(--spacing-2xs);
    border: 1px solid transparent;
    box-shadow:
      0 1px 2px 0 var(--base-transparent-6),
      0 0 0 1px var(--color-base-300);
    background-color: var(--color-white);
    cursor: pointer;
    font-size: 14px;
    text-align: left;

    .Layer__chevron {
      display: flex;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .Layer__dropdown-menu {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 256px;
    border-radius: var(--spacing-2xs);
    box-shadow:
      0 1px 2px 0 var(--base-transparent-6),
      0 0 0 1px var(--color-base-300);
    margin-top: 5px;
    background-color: var(--color-white);
    opacity: 0;
    animation: fade-in 0.3s forwards;

    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }

    .Layer__view-options {
      padding: var(--spacing-xs);
      margin-bottom: var(--spacing-4xs);
    }

    .Layer__compare-options-wrapper {
      padding: var(--spacing-md) var(--spacing-sm) var(--spacing-sm);
      border-top: 1px solid var(--color-base-200);

      &:first-child {
        border-top: transparent;
      }
    }

    .Layer__compare-options {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .Layer__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 28px;
    max-height: 28px;
    padding: 0 var(--spacing-xs);
    cursor: pointer;
    font-size: 14px;

    &:hover {
      max-width: max-content;
      border-radius: var(--spacing-3xs);
      background: var(--color-base-100);
    }

    &.Layer__selected {
      max-width: max-content;
      border-radius: var(--spacing-3xs);
      background: var(--color-base-100);
    }

    .Layer__tick {
      padding-top: 2px;
      margin-left: 10px;
      color: var(--color-base-900);
    }
  }

  .Layer__compare-header {
    position: relative;
    padding: 0 0 var(--spacing-sm) var(--spacing-xs);
    font-size: 11px;
    color: var(--color-base-500);
  }
}
