.Layer__pill {
  background-color: var(--bank-transaction-buttons-selected-background-color);
  color: var(--bank-transaction-table-text-color);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  & svg {
    margin-right: 0.25rem;
  }
}
