.Layer__pill {
  position: relative;
  background-color: var(--badge-bg-color);
  color: var(--badge-color);
  border-radius: var(--badge-border-radius);
  font-size: var(--text-sm);
  padding: var(--spacing-2xs) var(--spacing-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  user-select: none;

  & svg {
    margin-right: 0.25rem;
  }
}

.Layer__pill--error {
  background-color: var(--color-info-error-bg);
  color: var(--color-info-error-fg);
}

.Layer__pill--info {
  background-color: var(--color-info-bg);
  color: var(--color-info-fg);
}

.Layer__pill--actionable {
  cursor: pointer;
}

.Layer__pill--actionable:hover {
  opacity: 0.7;
}