.Layer__profit-and-loss {
  background-color: white;
  padding: 0.25rem;

  * {
    color: var(--text-color);
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
  }
}

.Layer__profit-and-loss--no-wrapper {
  * {
    color: var(--text-color);
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
  }
}

.Layer__profit-and-loss__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Layer__profit-and-loss-table {
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1rem;
  overflow: hidden;
}

.Layer__profit-and-loss-table__outflows {
  margin-top: 1rem;
}

.Layer__profit-and-loss-row {
  padding: 1em;
  background-color: var(--background-color);
  font-size: 1em;
}

.Layer__profit-and-loss-row__children {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transition-speed);
}

.Layer__profit-and-loss-row__children--expanded {
  grid-template-rows: 1fr;
}

.Layer__profit-and-loss-row__children--content {
  min-height: 0;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.Layer__profit-and-loss-row__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  svg {
    stroke: var(--text-color);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    transition: transform var(--transition-speed);
    transform: rotate(-90deg);
  }
}

.Layer__profit-and-loss-row__label--expanded {
  svg {
    transform: rotate(0deg);
  }
}
.Layer__profit-and-loss-row__value--expanded {
  color: transparent;
  user-select: none;
}

.Layer__profit-and-loss-row__value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Layer__profit-and-loss-row__label--display-children-true {
  font-weight: bold;
}

.Layer__profit-and-loss-row__value--display-children-true {
  font-weight: bold;
}

.Layer__profit-and-loss-row__label--display-children-false {
  font-weight: normal;
  svg {
    visibility: hidden;
  }
}

.Layer__profit-and-loss-row__label--display-children-false {
  font-weight: normal;
  svg {
    visibility: hidden;
  }
}

.Layer__profit-and-loss-row__label--variant-summation {
  font-weight: bold;
  border-top: 1px solid var(--border-color);
}
.Layer__profit-and-loss-row__value--variant-summation {
  font-weight: bold;
  border-top: 1px solid var(--border-color);
}

.Layer__profit-and-loss-row__value--amount-positive {
  &::before {
    content: '$';
  }
}

.Layer__profit-and-loss-row__value--amount-negative {
  &::before {
    content: '-$';
  }
}

.Layer__profit-and-loss-row__label--depth-0 {
  font-weight: 700;
}

.Layer__profit-and-loss-row__value--depth-0 {
  font-weight: 700;
}

.Layer__profit-and-loss-row__label--depth-1 {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 0.9em;
}

.Layer__profit-and-loss-row__value--depth-1 {
  font-size: 0.9em;
}

.Layer__profit-and-loss-date-picker {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);
}

.Layer__profit-and-loss-date-picker__button {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  border: 0;
  border-radius: var(--corner-radius);

  &:active {
    background-color: var(--active);
  }
}

.Layer__profit-and-loss-date-picker__button-icon path {
  stroke: var(--text-color);
}

.Layer__profit-and-loss-date-picker__label {
  flex: 1;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Layer__profit-and-loss-chart__bar--income {
  fill: var(--bar-color-income);
}

.Layer__profit-and-loss-chart__bar--expenses {
  fill: var(--bar-color-expenses);
}

.Layer__profit-and-loss-chart .recharts-cartesian-axis-tick-value tspan {
  font-size: 0.75rem;
}

.Layer__profit-and-loss-chart .recharts-legend-wrapper {
  margin-top: -1.25rem;
}

.Layer__profit-and-loss-chart .recharts-legend-item-text {
  font-size: 1rem;
  vertical-align: middle;
}

.Layer__profit-and-loss-chart .recharts-legend-item {
  fill: var(--bar-color-income);
  vertical-align: middle;
}

.Layer__profit-and-loss-chart .legend-item-0 {
  fill: var(--bar-color-income);
}

.Layer__profit-and-loss-chart .legend-item-1 {
  fill: var(--bar-color-expenses);
}

.Layer__profit-and-loss-chart__selection-indicator {
  height: 0.25rem;
  fill: var(--indicator-color);
  transition: x 0.5s;
}

.Layer__profit-and-loss-summaries {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.Layer__profit-and-loss-summaries--vertical {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;

  .Layer__profit-and-loss-summaries__summary {
    &:first-child {
      margin-left: 0;
    }
  }
}

.Layer__profit-and-loss-summaries__summary {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--corner-radius);
  padding: 1.5rem;
  margin-right: 1.5rem;

  &:first-child {
    margin-left: 1.5rem;
  }
}

.Layer__profit-and-loss-summaries__title {
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 0.75rem;
}

.Layer__profit-and-loss-summaries__month {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.Layer__profit-and-loss-summaries__amount,
.Layer__profit-and-loss-summaries__amount--positive {
  font-weight: 600;
  font-size: 1.5rem;

  &::before {
    content: '$';
  }
}

.Layer__profit-and-loss-summaries__amount--negative {
  &::before {
    content: '-$';
  }
}
