.Layer__profit-and-loss-detailed-charts__header--tablet,
.Layer__profit-and-loss-detailed-charts__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  box-shadow: 0 -1px 0 0 var(--color-base-300) inset;

  button.Layer__btn.Layer__btn--icon-only {
    height: 32px;
    min-height: 32px;
    width: 32px;
    padding: 0;
  }
}

header.Layer__profit-and-loss-detailed-charts__header--tablet {
  display: none;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: flex-start;
}

@container (max-width: 1023px) and (min-width: 768px) {
  header.Layer__profit-and-loss-detailed-charts__header {
    display: none;
  }

  header.Layer__profit-and-loss-detailed-charts__header--tablet {
    display: flex;
  }
}

.Layer__profit-and-loss-detailed-charts__head {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);

  .title {
    color: var(--color-base-800);
  }

  .date {
    color: var(--color-base-500);
  }

  & > .Layer__text {
    margin: 0;
  }
}

.Layer__profit-and-loss-detailed-charts {
  width: 100%;
  border-radius: var(--border-radius-sm);
  background: var(--color-base-0);

  .chart-field {
    width: 100%;
  }

  .chart-container {
    box-sizing: border-box;
    height: 280px;
    width: 100%;
    padding-top: var(--spacing-2xl);
    padding-right: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
    padding-left: var(--spacing-md);

    @container (max-width: 280px) {
      & {
        width: 100%;
      }
    }
  }

  .recharts-responsive-container {
    box-shadow: none;

    path:focus,
    g:focus {
      outline: none;
    }
  }

  .pie-center-label__title,
  .pie-center-label__share {
    fill: var(--color-base-600);
    font-size: 12px;
  }

  .pie-center-label__value {
    fill: var(--text-color-primary);
    font-size: 14px;
  }

  .details-container {
    padding: var(--spacing-md);
    padding-top: var(--spacing-2xs);

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: var(--spacing-2xs) var(--spacing-xs);
        font-size: 12px;
        text-align: left;
        transition: color 150ms ease-out;

        &:last-child,
        &.value-col {
          text-align: right;
        }
      }

      th {
        padding-bottom: var(--spacing-sm);
        border-bottom: 1px solid var(--color-base-300);
        cursor: pointer;
        color: var(--color-base-500);
        transition: color 150ms ease-out;

        &:hover {
          color: var(--color-base-800);
        }

        &.sort--asc,
        &.sort--desc {
          color: var(--color-base-1000);
        }
      }
    }

    .Layer__sort-arrows {
      position: relative;
      top: 1px;
    }

    .share-cell-content {
      display: flex;
      gap: var(--spacing-2xs);
      align-items: center;
      justify-content: flex-end;

      .share-icon {
        height: 12px;
        width: 12px;
        border-radius: 2px;
      }
    }

    .category-cell-content {
      display: flex;
      gap: var(--spacing-2xs);
      align-items: center;

      .share-icon {
        height: 12px;
        width: 12px;
        border-radius: 2px;
      }
    }

    .value-cell-content {
      display: flex;
      gap: var(--spacing-xs);
      align-items: center;
      justify-content: flex-end;

      .Layer__profit-and-loss-detailed-table__pct {
        width: 4ch;
        margin-inline-start: var(--spacing-xs);
        color: var(--color-base-500);
      }
    }
  }

  .details-container--mobile {
    table {
      th,
      td {
        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .Layer__profit-and-loss-detailed-table__row {
      height: 2.5rem;
    }
  }
}

.Layer__profit-and-loss .Layer__panel__sidebar .Layer__panel__sidebar-content {
  width: 100%;
}

.Layer__profit-and-loss .Layer__panel__sidebar .Layer__profit-and-loss-detailed-charts {
  width: 100%;
}

.Layer__profit-and-loss-detailed-table__row {
  border-radius: 2px;
  background: transparent;
  transition: background-color 300ms ease-out;

  .category-col,
  .value-col {
    color: var(--text-color-primary);
  }

  .type-col,
  .share-col {
    color: var(--color-base-500);
  }

  &.active {
    background: var(--color-base-50);

    .category-col,
    .value-col,
    .type-col,
    .share-col {
      color: var(--color-base-1000);
    }
  }
}

.Layer__profit-and-loss-detailed-charts__pie {
  transition: fill 1000ms ease-out;

  &.inactive {
    fill: var(--color-base-300);
  }
}

.Layer__profit-and-loss-detailed-charts .header--tablet {
  display: none;
}

@container (max-width: 1023px) {
  .Layer__profit-and-loss-detailed-charts {
    height: 100%;
    width: 100%;
  }
}

@container (max-width: 1023px) and (min-width: 768px) {
  .Layer__profit-and-loss-detailed-charts {
    .Layer__profit-and-loss-detailed-charts__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .chart-field {
        display: flex;
        flex-direction: column;

        max-width: 300px;
      }

      .chart-container {
        max-width: 300px;
      }
    }

    .Layer__profit-and-loss-detailed-charts__table-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .header--tablet {
      display: flex;
      flex-direction: column;
      padding-top: var(--spacing-lg);
      padding-left: var(--spacing-xl);

      .Layer__text {
        margin: 0;
      }

      .title {
        font-size: 24px;
      }
    }
  }
}

@container (max-width: 767px) {
  .Layer__profit-and-loss-detailed-charts {
    .Layer__profit-and-loss-detailed-charts__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Layer__profit-and-loss-detailed-charts__table-wrapper {
      width: 100%;
    }

    .Layer__profit-and-loss-detailed-charts__head {
      .date {
        display: none;
      }
    }
  }
}
