.Layer__component-container .Layer__profit-and-loss {
  display: flex;
  align-items: stretch;
  background-color: white;
}

.Layer__profit-and-loss__main-panel {
  flex: 1;
}

.Layer__profit-and-loss__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Layer__profit-and-loss-table {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  background-color: var(--color-base-100);
}

.Layer__profit-and-loss-table__loader-container {
  padding: var(--spacing-2xl);
}

.Layer__profit-and-loss-table__loader-container {
  min-height: 950px;
}

.Layer__profit-and-loss-table__outflows {
  padding-top: var(--spacing-2xs);
}

.Layer__profit-and-loss-row {
  padding: 1em;
  background-color: var(--background-color);
  font-size: 1em;

  &.Layer__profit-and-loss-row__value--depth-0,
  &.Layer__profit-and-loss-row__label--depth-0 {
    background-color: var(--color-base-0);
  }

  &:not(.Layer__profit-and-loss-row__value--depth-0),
  &:not(.Layer__profit-and-loss-row__label--depth-0) {
    box-shadow: 0px -1px 0px 0px var(--color-base-300) inset;
  }
}

.Layer__profit-and-loss-row__children {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transition-speed);
}

.Layer__profit-and-loss-row__children--expanded {
  grid-template-rows: 1fr;
}

.Layer__profit-and-loss-row__children--content {
  min-height: 0;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
}

.Layer__profit-and-loss-row__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Layer__profit-and-loss-row__label__title {
    display: flex;
    align-items: center;
  }

  svg.Layer__profit-and-loss-row__label__chevron {
    color: var(--color-base-600);
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    transition: transform var(--transition-speed);
    transform: rotate(-90deg);
  }
}

.Layer__profit-and-loss-row__label.Layer__profit-and-loss-row__label--display-children-true:hover,
.Layer__profit-and-loss-row__label.Layer__profit-and-loss-row__label--display-children-true:hover
  + .Layer__profit-and-loss-row__value,
.Layer__profit-and-loss-row__value.Layer__profit-and-loss-row__value--display-children-true:hover,
.Layer__profit-and-loss-row__value.Layer__profit-and-loss-row__value--display-children-true:hover
  + .Layer__profit-and-loss-row__label {
  background: var(--color-base-50);
}

.Layer__profit-and-loss-row__label--expanded {
  svg.Layer__profit-and-loss-row__label__chevron {
    transform: rotate(0deg);
  }
}
.Layer__profit-and-loss-row__value--expanded {
  user-select: none;
}

.Layer__profit-and-loss-row__value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Layer__profit-and-loss-row__label--display-children-true {
  cursor: pointer;
  transition: opacity var(--transition-speed);
  &:hover {
    opacity: 0.82;
  }
}

.Layer__profit-and-loss-row__label--display-children-false {
  font-weight: normal;
  svg.Layer__profit-and-loss-row__label__chevron {
    visibility: hidden;
    display: none;
  }
}

.Layer__profit-and-loss-row__value--variant-summation.Layer__profit-and-loss-row__value
  + .Layer__profit-and-loss-row__label,
.Layer__profit-and-loss-row__value--variant-summation.Layer__profit-and-loss-row__value
  + .Layer__profit-and-loss-row__label
  + .Layer__profit-and-loss-row__value {
  border-top: 1px solid var(--color-base-300);
}

.Layer__profit-and-loss-row__label--variant-summation.Layer__profit-and-loss-row__label--depth-0,
.Layer__profit-and-loss-row__value--variant-summation.Layer__profit-and-loss-row__value--depth-0 {
  margin-bottom: var(--spacing-2xs);
  &:last-child,
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .Layer__text {
    color: var(--color-base-1000);
  }
}

.Layer__profit-and-loss-row__label--variant-summation.Layer__profit-and-loss-row__label--depth-0 {
  padding-left: 22px;
  .Layer__text,
  .Layer__text.Layer__text--md {
    font-size: var(--text-lg);
  }
}

.Layer__profit-and-loss-row__value--amount-positive {
  .Layer__text::before {
    content: '$';
  }
}

.Layer__profit-and-loss-row__value--amount-negative {
  .Layer__text::before {
    content: '-$';
  }
}

.Layer__profit-and-loss-row__label--depth-0 {
  .Layer__text {
    color: var(--color-base-800);
    font-variation-settings: 'wght' var(--font-weight-bold);
    margin: 0;
  }
}

.Layer__profit-and-loss-row__value--depth-0 {
  .Layer__text {
    color: var(--color-base-800);
    font-variation-settings: 'wght' var(--font-weight-bold);
    margin: 0;
  }
}

.Layer__profit-and-loss-row__label--depth-1 {
  padding-right: var(--spacing-md);
  padding-left: calc(var(--spacing-5xl) + var(--spacing-md));
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  .Layer__text {
    color: var(--color-base-700);
    font-variation-settings: 'wght' var(--font-weight-normal);
    margin: 0;
  }
}

.Layer__profit-and-loss-row__value--depth-1 {
  .Layer__text {
    color: var(--color-base-700);
    font-variation-settings: 'wght' var(--font-weight-normal);
    margin: 0;
  }
}

.Layer__profit-and-loss-chart .recharts-cartesian-axis-tick-value tspan {
  font-size: 0.75rem;
}

.Layer__profit-and-loss-chart .recharts-legend-wrapper {
  margin-top: -46px;
}

.Layer__profit-and-loss-chart .recharts-legend-item-text {
  font-size: 12px;
  color: var(--color-base-700);
  vertical-align: middle;
}

.Layer__profit-and-loss-chart .recharts-legend-item {
  fill: var(--bar-color-income);
  vertical-align: middle;
}

.Layer__profit-and-loss-chart .legend-item-0 {
  fill: var(--bar-color-income);
}

.Layer__profit-and-loss-chart .legend-item-1 {
  fill: var(--bar-color-expenses);
}

.Layer__profit-and-loss-chart .legend-item-2 {
  fill: var(--base-transparent-16-light);
}

.Layer__profit-and-loss-chart__selection-indicator {
  stroke: var(--chart-indicator-color);
  fill: none;
  transition: opacity 0.1s linear;
}

/** ---- */
.Layer__profit-and-loss__chart_with_summaries {
  display: flex;
  align-items: stretch;
  border-radius: var(--border-radius-sm);
  box-shadow:
    0px 0px 0px 1px rgba(16, 24, 40, 0.04),
    0px 2px 4px 0px rgba(16, 24, 40, 0.06),
    0px 4px 12px 0px rgba(16, 24, 40, 0.08);
  margin-left: var(--spacing-xl);
  margin-right: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.Layer__profit-and-loss__chart_with_summaries__summary-col {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-md);
}

.Layer__profit-and-loss__chart_with_summaries__chart-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--spacing-md);
}

.Layer__profit-and-loss-summaries {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-md);
  max-width: 1406px;
}

.Layer__profit-and-loss-summaries.flex-col {
  flex-direction: column;
}

.Layer__profit-and-loss-summaries__summary {
  display: flex;
  flex: 1;
  gap: var(--spacing-xs);
  align-items: center;
  box-shadow: 0px 0px 0px 1px var(--color-base-300);
  border-radius: var(--border-radius-xs);
  padding: var(--spacing-4xs);
  min-height: 52px;
  box-sizing: border-box;
  background-color: var(--color-base-0);

  &.Layer__actionable {
    cursor: pointer;
    &:hover {
      background: var(--color-base-50);
    }
  }

  &.active {
    box-shadow: 0px 0px 0px 1px var(--color-base-200);
    background: var(--color-base-50);
  }

  .mini-chart {
    background: var(--color-base-50);
    border-radius: 6px;
    border-width: 0;
    box-shadow: none;
  }

  &.net-profit {
    padding-left: var(--spacing-xs);
    min-height: 56px;
  }

  &.Layer__actionable.net-profit {
    background: var(--color-base-50);
    border-color: transparent;
    box-shadow: none;
  }
}

.Layer__profit-and-loss-summaries__loader {
  height: 17px;
  display: flex;
  align-items: center;

  .Layer__skeleton-loader {
    height: 14px;
  }
}

.Layer__profit-and-loss-summaries__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);
}

.Layer__profit-and-loss-summaries__title {
  color: var(--color-base-700);
  font-size: var(--text-sm);
}

.Layer__profit-and-loss-summaries__month {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.Layer__profit-and-loss-summaries__amount,
.Layer__profit-and-loss-summaries__amount--positive {
  color: var(--color-base-900);
  font-size: var(--text-md);

  &::before {
    content: '$';
  }
}

.Layer__profit-and-loss-summaries__amount--negative {
  &::before {
    content: '-$';
  }
}

.Layer__profit-and-loss-row__children--content {
  min-height: 0;
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  background-color: var(--color-base-50);
}

.Layer__profit-and-loss-chart__bar--loading {
  fill: var(--color-base-50);
  animation: layer_chart_bar_loading_anim 2s linear infinite;
}

.Layer__profit-and-loss-chart__bar--income {
  fill: var(--bar-color-income);
}

.Layer__profit-and-loss-chart__bar--expenses {
  fill: var(--bar-color-expenses);
}

.Layer__chart-container--loading .Layer__profit-and-loss-chart__bar--expenses {
  fill: var(--color-base-50);
  animation: layer_chart_bar_loading_anim 2s linear infinite;
}

.Layer__chart-container--loading .Layer__profit-and-loss-chart__bar--income {
  fill: var(--color-base-100);
  animation: layer_chart_bar_loading_anim 2s linear infinite;
}

@keyframes layer_chart_bar_loading_anim {
  0% {
    fill: var(--color-base-50);
  }
  50% {
    fill: var(--color-base-200);
  }
  100% {
    fill: var(--color-base-50);
  }
}

.Layer__profit-and-loss-row__label--depth-0.Layer__profit-and-loss-row__label--display-children-false {
  padding-left: 22px;
}

#layer-bar-stripe-pattern rect {
  fill: var(--color-base-400);
}

#layer-bar-stripe-pattern line {
  stroke: var(--color-base-400);
}

#layer-bar-stripe-pattern-dark rect {
  fill: var(--color-base-900);
}

#layer-bar-stripe-pattern-dark line {
  stroke: var(--color-base-900);
}

@container (min-width: 1024px) {
  .Layer__profit-and-loss-row__label--depth-0 {
    padding-left: var(--spacing-xl);
  }

  .Layer__profit-and-loss-row__label--depth-0.Layer__profit-and-loss-row__label--display-children-false {
    padding-left: calc(var(--spacing-xl) + 6px);
  }

  .Layer__component-container
    .Layer__profit-and-loss-row__label--depth-0.Layer__profit-and-loss-row__label--variant-summation {
    padding-left: calc(var(--spacing-xl) + 6px);
  }

  .Layer__profit-and-loss-row__value {
    padding-right: var(--spacing-xl);
  }

  .Layer__profit-and-loss__chart_with_summaries__summary-col {
    padding-right: var(--spacing-xs);
  }

  .Layer__profit-and-loss__chart_with_summaries__chart-col {
    padding-left: var(--spacing-xs);
  }
}

@container (max-width: 1023px) and (min-width: 760px) {
  .Layer__profit-and-loss-summaries,
  .Layer__profit-and-loss-summaries.flex-col {
    flex-direction: row;
  }

  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-left: var(--spacing-md);
    margin-right: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }
}

@container (max-width: 759px) and (min-width: 500px) {
  .Layer__profit-and-loss-summaries,
  .Layer__profit-and-loss-summaries.flex-col {
    flex-direction: column;
  }

  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--spacing-md);
    box-shadow: none;
  }
}

@container (max-width: 500px) {
  .Layer__profit-and-loss-summaries,
  .Layer__profit-and-loss-summaries.flex-col {
    flex-direction: row;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 6px 1px;
  }

  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--spacing-md);
    box-shadow: none;
  }

  .Layer__profit-and-loss-summaries__summary {
    min-width: 150px;
  }
}

.Layer__profit-and-loss-row__detailed-chart-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-base-100);
  color: var(--color-base-600);
  cursor: pointer;
  transition:
    color 150ms ease-out,
    background-color 150ms ease-out;

  &:hover {
    background: var(--color-base-200);
    color: var(--color-base-900);
  }
}
