.Layer__statement-of-cash-flow {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);

  .Layer__panel_view-header__controls {
    gap: 0;
  }

  * {
    font-family: var(--font-family);
    font-feature-settings:
      'cv10' on,
      'cv01' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
  }

  .Layer__statement-of-cash-flow__title {
    display: inline;
    flex: 1;
    margin: 0;
    font-size: var(--text-heading);
  }

  @container (max-width: 800px) {
    .Layer__statement-of-cash-flow__header {
      flex-direction: column;
      gap: var(--spacing-sm);
    }
  }

  @container (max-width: 540px) {
    .Layer__statement-of-cash-flow__header {
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--spacing-sm);

      .Layer__statement-of-cash-flow__actions {
        flex-wrap: wrap;
      }

      .Layer__statement-of-cash-flow__actions__date-picker {
        flex-wrap: wrap;
        gap: var(--spacing-xs);
      }
    }
  }
}

.Layer__statement-of-cash-flow__header {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: var(--spacing-sm) var(--spacing-md);

  &.Layer__statement-of-cash-flow__header--no-title {
    .Layer__statement-of-cash-flow__actions {
      flex: 1;
    }
  }

  .Layer__statement-of-cash-flow__actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    justify-content: space-between;

    .Layer__statement-of-cash-flow__actions__date-picker {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-xs);
    }
  }
}
