.Layer__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e2e2e2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  .Layer__table-header {
    position: relative;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--text-sm);
    line-height: 140%;
    font-weight: var(--font-weight-normal);
    text-align: left;
    color: var(--text-color-secondary);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings:
      'cv10' on,
      'cv05' on,
      'cv08' on,
      'ss03' on;
    text-overflow: ellipsis;
    letter-spacing: -0.06px;

    .Layer__table-cell {
      border-top: none;
    }

    .Layer__table-cell-content {
      font-size: var(--text-sm);
      color: var(--text-color-secondary);
    }
  }

  .Layer__table-cell {
    height: var(--spacing-5xl);
    padding: 0;
    border-top: 1px solid var(--border-color);
    font-size: var(--text-md);
    text-align: left;
    color: var(--text-color-secondary);

    .Layer__table-cell-content {
      box-sizing: border-box;
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      padding: var(--spacing-sm) var(--spacing-md);
      transition: all var(--transition-speed) ease-out;
    }
  }
}

.Layer__table-cell {
  height: auto;

  & > .Layer__table-cell-content {
    overflow: hidden;
    transition: all 50ms ease-out;
  }
}

.Layer__table.with-cell-separators > tbody > tr > td:first-child .Layer__table-cell-content::after,
.Layer__table.with-cell-separators > tbody > tr > td:last-child .Layer__table-cell-content::after,
.Layer__table.with-cell-separators > thead > tr > th:first-child.Layer__table-header::after,
.Layer__table.with-cell-separators > thead > tr > th:last-child.Layer__table-header::after {
  display: none;
}

.Layer__table-state-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  width: 100%;
  padding: var(--spacing-2xl) var(--spacing-sm);
}

.Layer__component--as-widget .Layer__table-state-container {
  height: calc(100% - 160px);
}

.Layer__table-header {
  position: relative;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--text-sm);
  line-height: 140%;
  font-weight: var(--font-weight-normal);
  text-align: left;
  color: var(--text-color-secondary);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
  text-overflow: ellipsis;
  letter-spacing: -0.06px;
}

.Layer__table-header.Layer__table-header--primary {
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
}

.Layer__table-cell-content {
  box-sizing: border-box;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all var(--transition-speed) ease-out;
}

.Layer__table-header.Layer__table-cell--amount,
.Layer__table-cell--amount {
  justify-content: flex-end;
  text-align: right;
}

@container (min-width: 1400px) {
  .Layer__table tr td:first-child .Layer__table-cell-content,
  .Layer__table tr th:first-child.Layer__table-cell .Layer__table-cell-content,
  .Layer__table tr th:first-child.Layer__table-header .Layer__table-cell-content {
    padding-left: var(--spacing-xl);
  }

  .Layer__table tr td:last-child .Layer__table-cell-content,
  .Layer__table tr th:last-child.Layer__table-cell .Layer__table-cell-content,
  .Layer__table tr th:last-child.Layer__table-header .Layer__table-cell-content {
    padding-right: var(--spacing-xl);
  }
}
