.Layer__heading {
  color: var(--text-color-primary);
  font-size: var(--text-heading);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: -0.12px;
  margin: 0;
  align-self: center;
}

.Layer__heading--secondary,
.Layer__heading.Layer__heading--secondary {
  color: var(--text-color-primary);
  font-size: var(--text-heading-sm);
  font-weight: var(--font-weight-bold);
}

.Layer__heading--view,
.Layer__heading.Layer__heading--view {
  color: var(--text-color-primary);
  font-size: var(--text-heading-view);
  font-weight: var(--font-weight-bold);
}

.Layer__heading--page,
.Layer__heading.Layer__heading--page {
  color: var(--text-color-primary);
  font-size: var(--text-heading-page);
  font-weight: var(--font-weight-bold);
}

.Layer__text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
  line-height: 140%;
  margin: 0;
}

.Layer__text--sm {
  font-size: var(--text-sm);
}

.Layer__text--md {
  font-size: var(--text-md);
}

.Layer__text--lg {
  font-size: var(--text-lg);
}

.Layer__text--bold,
.Layer__text.Layer__text--bold {
  font-weight: var(--font-weight-bold);
}

.Layer__text--error {
  color: var(--color-danger);
}

.Layer__label {
  color: var(--color-base-500);
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
  overflow: hidden;
}
