.Layer__heading {
  align-self: center;
  margin: 0;
  font-size: var(--text-heading);
  line-height: 140%;
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
  letter-spacing: -0.12px;
}

.Layer__heading--secondary,
.Layer__heading.Layer__heading--secondary {
  font-size: var(--text-heading-sm);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__heading--view,
.Layer__heading.Layer__heading--view {
  font-size: var(--text-heading-view);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__heading--page,
.Layer__heading.Layer__heading--page {
  font-size: var(--text-heading-page);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__heading--left {
  align-self: flex-start;
}

.Layer__heading--center {
  align-self: center;
}

.Layer__heading--right {
  align-self: flex-end;
}

.Layer__text {
  margin: 0;
  line-height: 140%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
}

.Layer__text--sm {
  font-size: var(--text-sm);
}

.Layer__text--md {
  font-size: var(--text-md);
}

.Layer__text--lg {
  font-size: var(--text-lg);
}

.Layer__text--bold,
.Layer__text.Layer__text--bold {
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__text--error {
  color: var(--color-danger);
}

.Layer__text[data-status='error'] {
  color: var(--color-danger);

  &[data-inverted] {
    color: var(--color-info-error);
  }
}

.Layer__text[data-status='warning'] {
  color: var(--color-info-warning-fg);

  &[data-inverted] {
    color: var(--color-info-warning-bg);
  }
}

.Layer__text[data-status='success'] {
  color: var(--color-success);

  &[data-inverted] {
    color: var(--color-info-success-bg);
  }
}

.Layer__text[data-status='disabled'] {
  color: var(--color-base-500);
}

.Layer__text[data-status='info'] {
  color: var(--color-info-fg);

  &[data-inverted] {
    color: var(--color-info-bg);
  }
}

.Layer__text[data-ellipsis] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Layer__label {
  overflow: hidden;
  font-weight: var(--font-weight-normal);
  color: var(--color-base-500);
  white-space: nowrap;
}