.Layer__text {
  margin: 0;
  line-height: 140%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'cv10' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
}

.Layer__text--sm {
  font-size: var(--text-sm);
}

.Layer__text--md {
  font-size: var(--text-md);
}

.Layer__text--lg {
  font-size: var(--text-lg);
}

.Layer__text--bold,
.Layer__text.Layer__text--bold {
  font-weight: var(--font-weight-bold);
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.Layer__text--error {
  color: var(--color-danger);
}

.Layer__text[data-status='error'] {
  color: var(--color-danger);

  &[data-inverted] {
    color: var(--color-info-error);
  }
}

.Layer__text[data-status='warning'] {
  color: var(--color-info-warning-fg);

  &[data-inverted] {
    color: var(--color-info-warning-bg);
  }
}

.Layer__text[data-status='success'] {
  color: var(--color-success);

  &[data-inverted] {
    color: var(--color-info-success-bg);
  }
}

.Layer__text[data-status='disabled'] {
  color: var(--color-base-500);
}

.Layer__text[data-status='info'] {
  color: var(--color-info-fg);

  &[data-inverted] {
    color: var(--color-info-bg);
  }
}

.Layer__text[data-ellipsis] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Layer__label {
  overflow: hidden;
  font-weight: var(--font-weight-normal);
  color: var(--color-base-500);
  white-space: nowrap;
}
