.Layer__justify--center {
  justify-content: center;
}

.Layer__justify--start {
  justify-content: flex-start;
}

.Layer__justify--end {
  justify-content: flex-end;
}

.Layer__justify--space-between {
  justify-content: space-between;
}

.Layer__nowrap {
  white-space: nowrap;
}

.Layer__border-top {
  border-top: 1px solid var(--border-color);
}

.Layer__show-lg {
  display: none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating-ccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.Layer__anim--rotating {
  animation: rotating 2s linear infinite;
}

@container (min-width: 1401px) {
  .Layer__hidden-xl {
    display: none;
  }

  .Layer__show-xl {
    display: flex;
  }
}

@container (min-width: 1024px) and (max-width: 1400px) {
  .Layer__hidden-lg {
    display: none;
  }

  .Layer__show-lg {
    display: flex;
  }
}

@container (min-width: 1024px) and (max-width: 1400px) {
  .Layer__hidden-md {
    display: none;
  }
}

@container (min-width: 500px) and (max-width: 1024px) {
  .Layer__hidden-sm {
    display: none;
  }
}

@container (max-width: 499px) {
  .Layer__hidden-xs {
    display: none;
  }
}

$paddings: 4xs 3xs 2xs xs sm md lm lg xl 2xl 3xl 5xl;

@each $padding in $paddings {
  [data-pb="#{$padding}"] {
    padding-block: var(--spacing-#{$padding});
  }
}
