.Layer__component,
.Layer__Portal,
.Layer__view,
.Layer__select__menu-portal,
.Layer__tooltip,
.Layer__UI__tooltip,
.Layer__toasts-container,
.Layer__drawer,
.Layer__variables,
.Layer__tasks-component {
  /* Explicit Colors */
  --color-black: #1a1a1a;
  --color-white: white;
  --color-blue: hsl(217deg 100% 92%);
  --color-info: #0968f8;
  --color-info-bg: #d6e6ff;
  --color-info-fg: #0056d7;
  --color-info-success: hsl(145deg 45% 42%);
  --color-info-success-bg: hsl(145deg 59% 86%);
  --color-info-success-fg: hsl(145deg 63% 29%);
  --color-info-warning: hsl(43deg 100% 44%);
  --color-info-warning-bg: hsl(43deg 100% 84%);
  --color-info-warning-fg: hsl(43deg 88% 26%);
  --color-info-error: hsl(0deg 76% 50%);
  --color-info-error-bg: hsl(0deg 83% 86%);
  --color-info-error-fg: hsl(0deg 88% 32%);
  --color-info-standard: hsl(217deg 100% 92%);
  --color-info-standard-bg: hsl(0% 0% 7% / 6%);
  --color-info-standard-fg: hsl(0% 0% 27% / 100%);
  --color-dark-h: 0;
  --color-dark-s: 0%;
  --color-dark-l: 7%;
  --color-dark: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l));
  --color-light-h: 0;
  --color-light-s: 0%;
  --color-light-l: 90%;
  --color-light: hsl(var(--color-light-h) var(--color-light-s) var(--color-light-l));

  /* Base Colors */
  --color-base-0: #fff;
  --color-base-50: hsl(var(--color-dark-h) 1% 98%);
  --color-base-100: hsl(var(--color-dark-h) 1% 94%);
  --color-base-200: hsl(var(--color-dark-h) 1% 91%);
  --color-base-300: hsl(var(--color-dark-h) 2% 88%);
  --color-base-400: hsl(var(--color-dark-h) 2% 85%);
  --color-base-500: hsl(var(--color-dark-h) 3% 53%);
  --color-base-600: hsl(var(--color-dark-h) 7% 40%);
  --color-base-700: hsl(var(--color-dark-h) 9% 27%);
  --color-base-800: hsl(var(--color-dark-h) 12% 20%);
  --color-base-900: hsl(var(--color-dark-h) 15% 14%);
  --color-base-1000: hsl(var(--color-dark-h) 20% 7%);

  /* View Sizing */
  --max-component-width: 1408px;

  /* Transparency */
  --base-transparent-1: hsl(220deg 43% 11% / 1%);
  --base-transparent-2: hsl(220deg 43% 11% / 2%);
  --base-transparent-4: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 4%);
  --base-transparent-5: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 5%);
  --base-transparent-6: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 6%);
  --base-transparent-8: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 8%);
  --base-transparent-10: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 10%);
  --base-transparent-12: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 12%);
  --base-transparent-16: hsl(var(--color-dark-h) var(--color-dark-s) var(--color-dark-l) / 16%);
  --base-transparent-16-light: hsl(var(--color-light-h) var(--color-light-s) var(--color-light-l) / 16%);

  --color-primary: var(--color-dark);
  --color-accent: var(--color-light);

  /*
   * The variables are not defined; they must explicitly overridden.
   *
   * --bg-brand-primary
   * --fg-brand-primary
   *
   * --bg-brand-accent
   * --fg-brand-accent
   */

  /* Other Colors */
  --color-secondary: var(--color-base);
  --color-success: var(--color-info-success);
  --color-danger: var(--color-info-error);
  --color-danger-dark: hsl(349deg 30% 30%);
  --color-danger-light: hsl(var(--color-info-error-h) var(--color-info-error-s) var(--color-info-error-l) / 40%);
  --text-color-primary: var(--color-dark);
  --text-color-secondary: var(--color-base-600);
  --bg-element-focus: var(--color-base-50);

  /* Extended Customization */
  --font-family: 'InterVariable', 'Inter', sans-serif;
  --font-family-numeric: 'InterVariable', 'Inter', sans-serif;
  --text-2xs: 10px;
  --text-xs: 11px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 20px;
  --text-heading: 24px;
  --text-heading-secondary: 20px;
  --text-heading-page: var(--text-heading);
  --text-heading-view: var(--text-heading-secondary);
  --text-heading-2xs: 12px;
  --text-heading-xs: 14px;
  --text-heading-sm: 16px;
  --text-heading-md: var(--text-heading);
  --text-heading-lg: 36px;
  --text-heading-xl: 48px;
  --text-heading-2xl: 56px;
  --text-heading-3xl: 64px;
  --font-weight-normal: 460;
  --font-weight-bold: 540;
  --spacing-4xs: 2px;
  --spacing-3xs: 4px;
  --spacing-2xs: 6px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lm: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 36px;
  --spacing-3xl: 40px;
  --spacing-5xl: 52px;
  --bg-color: var(--color-white);
  --border-color: var(--color-base-200);
  --border-radius-4xs: 2px;
  --border-radius-3xs: 4px;
  --border-radius-2xs: 6px;
  --border-radius-xs: 8px;
  --border-radius-sm: 12px;
  --border-radius: 16px;
  --border-radius-5xl: 52px;
  --text-color-transaction-credit: var(--color-info-success);
  --text-color-varying-amount: var(--color-base-700);
  --input-border-radius: var(--border-radius-2xs);
  --input-font-size: var(--text-md);
  --input-border-color: var(--color-base-300);
  --input-placeholder-color: var(--color-base-500);
  --label-color: var(--color-base-700);
  --btn-font-size: var(--text-md);
  --btn-border-radius: var(--border-radius-2xs);
  --btn-color: var(--color-black);
  --btn-bg-color: var(--color-white);
  --btn-color-primary: var(--color-white);
  --btn-bg-color-primary: var(--color-black);

  --btn-color-hover: var(--fg-brand-primary, var(--color-white));
  --btn-bg-color-hover: var(--bg-brand-primary, var(--color-primary));

  --btn-color-icon: var(--color-black);
  --btn-bg-color-icon: var(--color-base-50);

  --btn-color-icon-hover: var(--fg-brand-accent, var(--color-primary));
  --btn-bg-color-icon-hover: var(--bg-brand-accent, var(--color-accent));

  --btn-secondary-color: var(--color-black);
  --btn-secondary-bg-color: var(--color-white);
  --btn-tertiary-color: var(--color-black);
  --btn-tertiary-bg-color: var(--color-white);

  --badge-color: var(--fg-brand-accent, var(--color-primary));
  --badge-fg-color: var(--fg-brand-accent, var(--color-primary));
  --badge-bg-color: var(--bg-brand-accent, var(--color-accent));

  --badge-color-info: var(--color-info);
  --badge-fg-color-info: var(--color-info-fg);
  --badge-bg-color-info: var(--color-info-bg);
  --badge-color-success: var(--color-info-success);
  --badge-fg-color-success: var(--color-info-success-fg);
  --badge-bg-color-success: var(--color-info-success-bg);
  --badge-color-warning: var(--color-info-warning);
  --badge-fg-color-warning: var(--color-info-warning-fg);
  --badge-bg-color-warning: var(--color-info-warning-bg);
  --badge-bg-color-warning-dark: #ca9204;
  --badge-color-error: var(--color-info-error);
  --badge-fg-color-error: var(--color-info-error-fg);
  --badge-bg-color-error: var(--color-info-error-bg);
  --badge-fg-color-standard: var(--color-info-standard-fg);
  --badge-bg-color-standard: var(--color-info-standard-bg);
  --badge-border-radius: var(--border-radius-sm);
  --table-bg: var(--color-white);
  --tooltip-color: var(--color-white);
  --tooltip-bg-color: var(--color-base-800);
  --bar-color-income: var(--color-light);
  --bar-color-expenses: var(--color-dark);
  --chart-indicator-color: var(--color-base-700);
  --z-index-mobile-panel: 106;

  /* Transitions */
  --transition-speed: 0.25s;

  /* 5. STYLES: */
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-feature-settings:
    'cv10' on,
    'cv01' on,
    'cv05' on,
    'cv08' on,
    'ss03' on;
}

@media (width <= 768px) {
  .Layer__component,
  .Layer__Portal,
  .Layer__view,
  .Layer__select__menu-portal,
  .Layer__tooltip,
  .Layer__UI__tooltip,
  .Layer__toasts-container,
  .Layer__drawer,
  .Layer__variables,
  .Layer__tasks-component {
    --text-heading: 20px;
  }
}
