.Layer__view {
  position: relative;

  .Layer__view-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
    container-type: inline-size;

    .Layer__toggle {
      border-radius: 6px;

      .Layer__toggle-option input + span {
        border-radius: 6px;
      }
    }

    .Layer__toggle__thumb {
      border-radius: 6px;
    }
  }

  .Layer__view-header {
    box-sizing: border-box;
    position: relative;

    display: flex;
    overflow: auto;
    width: 100%;
    max-width: 100%;

    padding: 0 var(--spacing-md);
    border-bottom: 1px solid var(--border-color);
    container-type: inline-size;

    .Layer__header__row:last-child {
      border-width: 0;
    }
  }

  .Layer__view-header__title + .Layer__view-header__children {
    width: min-content;
  }

  .Layer__view-header__title {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 44px;
    padding: var(--spacing-md) var(--spacing-sm);
  }

  .Layer__view-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1460px;
  }

  .Layer__view-header--paddings {
    .Layer__view-header__content {
      padding: var(--spacing-md);

      .Layer__view-header__children {
        gap: var(--spacing-md);
      }
    }
  }

  .Layer__view-header__children {
    display: flex;
    width: 100%;
  }

  .Layer__view-header__actions {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }

  &.Layer__view--panel {
    .Layer__view-main {
      padding: 0;
    }

    .Layer__view-header {
      position: relative;
      padding: 0;
    }

    .Layer__view-header__content {
      max-width: 1406px;
    }
  }
}

.Layer__view-notifications {
  :first-child {
    border-top-left-radius: var(--border-radius-2xs);
    border-top-right-radius: var(--border-radius-2xs);
  }
}
