.transactions {
  --transaction-buttons-border-color: #D0D5DD;
  --transaction-buttons-selected-background-color: #E0E9FF;
  --transaction-table-background-color: white;
  --transaction-table-border-color: #EAECF0;
  --transaction-table-text-color: #101828;
}

.transactions {
  margin: 3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--transaction-table-border-color);
  background-color: var(--transaction-table-background-color);
  overflow: hidden;
}

.transactions header {
  display: flex;
  padding: 1rem;
}

.transactions header h1 {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.transactions header div {
  display: flex;
  font-size: 1rem;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.transactions .transaction-table {
  display: grid;
  grid-template-columns: auto repeat(4, 1fr) repeat(3, auto);
  gap: 1px 0px;
  background-color: var(--transaction-table-border-color);
  border-top: 1px solid var(--transaction-table-border-color);
  border-radius: 0.6rem;
}

.transactions .transaction-table div {
  padding: 1rem;
  background-color: white;
  overflow: clip;
  color: var(--transaction-table-text-color);
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transactions .transaction-table div select {
  border: 2px solid var(--transaction-table-border-color);
  border-radius: 0.6rem;
  background-color: var(--transaction-table-background-color);
  padding: 0.6rem 0.8rem;
}

.transactions .transaction-table div.header {
  font-weight: bold;
}

.transactions .transaction-table div.transaction-expand {
  cursor: pointer;
}

.transactions .transaction-table div.expand-area {
  grid-column: 1 / -1;
  margin-top: -1px;
}

.transactions .transaction-table div.expand-content {
  padding: 1rem;
  text-align: center;
}

.transactions .radio-group {
}

.transactions .radio-group input {
  position: absolute;
  opacity: 0;
}

.transactions .radio-group div {
  padding: 0.6rem 1rem;
  border: 1px solid var(--transaction-buttons-border-color);
  border-right: 0;
  border-radius: 0;
}

.transactions .radio-group label:first-of-type div {
  border-start-start-radius: 0.6rem;
  border-end-start-radius: 0.6rem;
}

.transactions .radio-group label:last-of-type div {
  border-right: 1px solid var(--transaction-buttons-border-color);
  border-start-end-radius: 0.6rem;
  border-end-end-radius: 0.6rem;
}

.transactions .radio-group input:checked + div {
  background: var(--transaction-buttons-selected-background-color);
}
