.Layer__bankTransactionsListItemCategory__List {
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-md);
}

.Layer__bankTransactionsListItemCategory__Mobile {
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-md);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  border-top: 1px solid var(--color-base-400);
  background-color: var(--color-base-100);
}
