.Layer__ViewPanel {
  display: flex;
  flex: 1;
  align-items: flex-start;
  height: 100%;
}

.Layer__ViewPanel__Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--spacing-lg);
}

.Layer__ViewPanel[data-open] .Layer__ViewPanel__Content {
  width: calc(100% - 480px);
  border-right: 1px solid var(--color-base-300);
}

.Layer__ViewPanel .Layer__ViewPanel__Content .Layer__ComponentHeader {
  z-index: auto;
  top: 0;
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
  background: var(--color-base-0);
  backdrop-filter: blur(6px);
}

.Layer__ViewPanel__Sidebar {
  position: sticky;
  z-index: 10;

  top: 0;
  overflow: hidden;
  height: 100%;
  max-height: 0;
  width: 480px;
  max-width: 0;
  border-top-right-radius: var(--border-radius-sm);
  border-left: 1px solid var(--color-base-300);
  background: var(--color-base-0);

  &[data-default-height] {
    flex: 1;
    width: 100%;
    max-width: none;
  }
}

.Layer__ViewPanel__SidebarContent {
  height: 100%;
  width: 480px;
  min-width: 240px;
  opacity: 0.2;
  transition: opacity 180ms ease-in-out;
}

.Layer__ViewPanel__Sidebar[data-default-height] .Layer__ViewPanel__SidebarContent {
  width: 100%;
}

.Layer__ViewPanel[data-open] .Layer__ViewPanel__Sidebar {
  overflow-y: auto;
  max-height: none;
  max-width: 480px;
  margin-left: -1px;
}

.Layer__ViewPanel[data-open] .Layer__ViewPanel__SidebarContent {
  opacity: 1;
}

@container (min-width: 1025px) {
  .Layer__ViewPanel__Sidebar[data-floating] {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@container (max-width: 1024px) {
  .Layer__ViewPanel__Sidebar {
    position: absolute;
    width: 100%;
    max-width: 100%;
    border-radius: var(--border-radius-sm);
    border-width: 0;
    opacity: 0.2;
    transform: translateY(-50px) scale(0.96);
    transition:
      transform 120ms ease-in-out,
      opacity 120ms ease-in-out;
  }

  .Layer__ViewPanel__Sidebar .Layer__ViewPanel__SidebarContent {
    position: sticky;
    top: 0;
    height: min-content;
  }

  .Layer__ViewPanel[data-open] .Layer__ViewPanel__Sidebar {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .Layer__ViewPanel[data-open] .Layer__ViewPanel__Content {
    width: 100%;
    border-right: none;
  }
}
