.Layer__TaxOverview {
  inline-size: min(100%, 1406px);
  container-type: inline-size;

  &__PrimaryColumn {
    flex: 1 1 0%;
    min-width: 0;
  }

  &__SecondaryColumn {
    flex: 0 0 38%;
    max-width: 32rem;
  }
}
