.Layer__UI__FieldError {
  padding-block-start: var(--spacing-3xs);

  font-size: var(--text-xs);
  color: var(--color-danger);
}

.Layer__UI__TextField,
.Layer__UI__DateField {
  display: grid;

  grid-template-areas:
    'label'
    'input'
    'errorMessage';

  &[data-inline] {
    grid-template-areas:
      'label input'
      '. errorMessage';

    align-items: center;

    &[data-textarea] {
      align-items: flex-start;
    }
  }

  &[data-readonly] {
    [slot='input'] {
      background-color: var(--bg-muted);
    }
  }

  > [slot='errorMessage'] {
    grid-area: errorMessage;
  }
}
