.Layer__call-booking {
  padding: var(--spacing-lg);

  .Layer__call-booking-details {
    width: 100%;
  }

  .Layer__call-booking-actions {
    width: 100%;
    margin-top: var(--spacing-md);
  }

  .Layer__call-booking-state {
    text-align: center;
  }
}

// Responsive design for smaller screens
@media (width <= 480px) {
  .Layer__call-booking {
    padding: var(--spacing-md);
  }
}

.Layer__call-booking-actions {
  position: relative;
}

.Layer__call-booking-add-to-calendar-dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: var(--spacing-xs);
  border-radius: 8px;
  border: 1px solid var(--outline-subtle);
  margin-top: var(--spacing-xs);
  background-color: var(--color-white);
}
