.Layer__UI__Button {
  all: unset;
  display: inline-grid;

  grid-template-rows: minmax(0, 1fr);
  grid-auto-columns: auto;
  grid-auto-flow: column;

  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  block-size: var(--size);
  min-inline-size: 0;

  padding-inline: var(--spacing-md);

  border-radius: var(--btn-border-radius);
  outline: none;
  cursor: pointer;
  user-select: none;

  font-size: var(--text-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);

  appearance: none;
  white-space: nowrap;
  vertical-align: middle;

  --size: 2.25rem;

  &[data-inset] {
    --size: 2rem;
  }

  &[data-icon] {
    min-inline-size: var(--size);

    padding-inline: 0;
  }

  &[data-ellipsis] {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &[data-focus-visible] {
    outline: 1px auto -webkit-focus-ring-color;
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &[data-variant='ghost'] {
    border: none;

    background-color: transparent;
    color: var(--button-fg-ghost);

    &[data-pending],
    &[data-disabled] {
      background-color: transparent;
      color: var(--button-fg-disabled);
    }

    &[data-hovered]:not([data-disabled], [data-pressed]) {
      background-color: var(--button-bg-ghost-hovered);
    }

    &[data-pressed]:not([data-focus-visible]) {
      background-color: var(--button-bg-ghost-pressed);
    }
  }

  &[data-variant='outlined'] {
    border: 1px solid var(--button-border-color-ghost);

    background-color: transparent;
    color: var(--button-fg-ghost);

    &[data-pending],
    &[data-disabled] {
      background-color: transparent;
      color: var(--button-fg-disabled);
    }

    &[data-hovered]:not([data-pressed], [data-focus-visible]) {
      outline: 1px solid var(--outline-default);
    }

    &[data-pressed]:not([data-focus-visible]) {
      border-color: var(--button-border-color-ghost-active);
      outline: 2px solid var(--outline-default);
    }
  }

  &[data-variant='solid'] {
    background-color: var(--button-bg-default);
    color: var(--button-fg-default);

    &[data-disabled],
    &[data-pending] {
      background-color: var(--button-bg-disabled);
      color: var(--button-fg-disabled);
    }

    &[data-hovered]:not([data-disabled], [data-pressed]) {
      outline: 1px solid var(--outline-default);
      background-color: var(--button-bg-active);
    }

    &[data-pressed]:not([data-focus-visible]) {
      outline: 2px solid var(--outline-default);
      background-color: var(--button-bg-active);
    }
  }

  &[data-variant='text'] {
    --size: inherit;

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-inline: 0;
    border: none;
    background-color: transparent;

    &[data-hovered]:not([data-disabled], [data-pressed]) {
      text-decoration: underline;
    }

    &[data-pressed]:not([data-focus-visible]) {
      text-decoration: none;
    }
  }

  &[data-variant='branded'] {
    background-color: var(--bg-brand-accent, var(--color-accent));
    color: var(--fg-brand-accent, var(--color-primary));
  }
}

.Layer__ButtonTransparentContent {
  opacity: 0;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.Layer__ButtonSpinnerContainer {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 1rem;
  place-self: center;
}
