.Layer__UI__Button {
  all: unset;
  align-items: center;
  appearance: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  display: inline-flex;
  min-inline-size: 0;
  justify-content: center;
  outline: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  gap: 0.5rem;

  &[data-icon] {
    padding-inline: 0;
  }

  &[data-variant="solid"] {
    background-color: var(--button-bg-default);
    color: var(--button-fg-default);

    &[data-hovered] {
      background-color: var(--button-bg-active);
    }
  }

  &[data-focus-visible] {
    outline-style: solid;
    outline-offset: 0.12rem;
    outline-color: var(--button-bg-default);
  }

  &[data-variant="ghost"] {
    background-color: transparent;
    color: var(--button-fg-ghost);
    border: 2px solid transparent;

    &[data-hovered] {
      background-color: var(--button-bg-ghost-active);
      color: var(--button-fg-ghost-active);
      border-color: var(--button-outline-ghost-active);
    }

    &[data-focus-visible] {
      outline-style: solid;
      outline-color: var(--button-outline-ghost-active);
    }
  }

  &[data-size="sm"] {
    --min-size: 1.5rem;

    min-block-size: var(--min-size);
    font-size: var(--text-sm);

    &[data-icon] {
      min-inline-size: var(--min-size);
    }

    &:not([data-icon]) {
      padding-inline: var(--spacing-xs);
    }
  }

  &[data-size="md"] {
    --min-size: 2rem;

    min-block-size: var(--min-size);
    font-size: var(--text-md);

    &[data-icon] {
      min-inline-size: var(--min-size);
    }

    &:not([data-icon]) {
      padding-inline: var(--spacing-md);
    }
  }

  &[data-size="lg"] {
    --min-size: 2.25rem;

    min-block-size: var(--min-size);
    font-size: var(--text-lg);

    &[data-icon] {
      min-inline-size: var(--min-size);
    }

    &:not([data-icon]) {
      padding-inline: var(--spacing-lg);
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: var(--button-fg-disabled);
    background-color: var(--button-bg-disabled);
  }

  &[data-pending] {
    cursor: progress;
    background-color: var(--button-bg-disabled);
  }
}

.Layer__ButtonTransparentContent {
  opacity: 0;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.Layer__ButtonSpinnerContainer {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  place-self: center;
  height: 16px;

  &[data-size="lg"] {
    height: 20px;
  }
}
