.Layer__UI__DropdownMenu__Popover {
  &[data-entering] {
    animation: popover-slide 120ms;
  }

  &[data-exiting] {
    animation: popover-slide reverse 120ms;
  }
}

@keyframes popover-slide {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Layer__UI__DropdownMenu__Dialog {
  display: grid;
  gap: var(--spacing-xs);
  overflow: hidden;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-color);
  background: var(--color-base-0);

  &[data-variant='compact'] {
    padding: 0;
  }
}

.Layer__UI__DropdownMenu__MenuItem {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-3xs);
  border: 1px solid var(--border-color);

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: var(--color-base-50);
  }

  &[data-variant='compact'] {
    gap: 0;
    border-radius: 0;
    border: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.Layer__UI__DropdownMenu__Menu {
  display: grid;
  gap: var(--spacing-3xs);

  &[data-variant='compact'] {
    gap: 0;
  }
}
