.Layer__UI__DropdownMenu__Popover {
  &[data-entering] {
    animation: popover-slide 120ms;
  }

  &[data-exiting] {
    animation: popover-slide reverse 120ms;
  }
}

@keyframes popover-slide {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.Layer__UI__DropdownMenu__Dialog {
  display: grid;
  gap: var(--spacing-xs);
  overflow: hidden;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-color);
  outline: none;
  background: var(--color-base-0);

  &[data-variant='compact'] {
    padding: 0;
  }
}

.Layer__UI__DropdownMenu__MenuItem {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-3xs);
  border: 1px solid var(--border-color);

  outline: none;

  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover,
  &[data-focused] {
    background-color: var(--color-base-50);
  }

  &[data-focus-visible] {
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: 2px;
  }

  &[data-variant='compact'] {
    gap: 0;
    border-radius: 0;
    border: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

.Layer__UI__DropdownMenu__Menu {
  display: grid;
  gap: var(--spacing-3xs);
  outline: none;

  &[data-variant='compact'] {
    gap: 0;
  }
}
