.Layer__StripeConnectBanner__wrapper {
  box-sizing: border-box;
  width: clamp(48rem, 100%, 1406px);
  padding: 0 var(--spacing-lg);
  padding-block-end: var(--spacing-md);
}

.Layer__StripeConnectBanner {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 4px;
  border: 1px solid var(--badge-color-info);
  border-left: 4px solid var(--badge-color-info);
  background-color: var(--badge-bg-color-info);
}

.Layer__StripeConnectBanner__icon {
  flex-shrink: 0;
}

.Layer__StripeConnectBanner__content {
  flex: 1;
}

.Layer__StripeConnectBanner__description {
  color: var(--color-base-700);
}

.Layer__StripeConnectBanner--incomplete {
  background-color: var(--badge-bg-color-warning);
  border-color: var(--badge-color-warning);
  border-left-color: var(--badge-color-warning);
}

.Layer__StripeConnectBanner--pending {
  background-color: var(--color-base-100);
  border-color: var(--color-base-300);
  border-left-color: var(--color-base-400);
}

@container (max-width: 560px) {
  .Layer__StripeConnectBanner {
    flex-direction: column;
    align-items: flex-start;
  }
}
