.Layer__NewToggleOption {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: transparent;
  color: var(--text-color-secondary);

  &::before {
    position: absolute;
    z-index: -2;
    inset: 0;
    border-radius: 6px;
    background: transparent;
    content: '';
    transition: background-color 150ms;
  }

  &[data-hovered]:not([data-disabled], [data-selected]) {
    color: var(--text-color-primary);

    &::before {
      background-color: var(--color-base-200);
    }
  }
}

.Layer__NewToggleOption-SelectionIndicator {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  box-shadow:
    0 0 0 1px var(--color-base-300),
    0 1px 1px 0 rgb(0 0 0 / 4%),
    0 2px 3px 0 rgb(0 0 0 / 4%),
    0 3px 4px 0 rgb(0 0 0 / 2%),
    0 4px 5px 0 rgb(0 0 0 / 1%);
  background: var(--color-white);
  transition-property: translate, width;
  transition-duration: 200ms;
}
