.Layer__mileage-card {
  width: 100%;
}

.Layer__mileage-card__panelGrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1.5fr;
  min-height: 150px;
  border-radius: var(--spacing-sm);
  border: 1px solid var(--base-transparent-10);
  background: var(--color-base-50);
}
