.Layer__compare__table__wrapper {
  .Layer__profit-and-loss-compare-table__sticky-cell {
    position: sticky;
    z-index: 1;
    left: 0;
    background-color: inherit;
    white-space: nowrap;
  }
}
