.Layer__UI__DateSegment {
  padding: 1px;
  border-radius: var(--border-radius-4xs);

  &[data-focused] {
    outline: none;
    background-color: var(--color-base-400);
  }

  &[data-hovered] {
    background-color: var(--color-base-400);
  }

  &:not([data-interactive]) {
    background-color: transparent;
  }
}

.Layer__UI__DateInput {
  &[data-pointer-events='none'] {
    pointer-events: none;
  }
}

.Layer__UI__DatePicker {
  .Layer__UI__FieldError {
    padding-block-start: 0;
  }

  &[data-disabled] {
    color: var(--color-base-500);
  }
}
