.Layer__TaxSummaryCard {
  padding: var(--spacing-md);
  border-block-end: 1px solid var(--color-base-200);

  &__Inner {
    overflow: hidden;
    border-radius: var(--spacing-sm);
    border: 1px solid var(--color-base-200);
    background: var(--color-base-0);
  }

  &__Header,
  &__Body {
    display: flex;
  }

  &__Header {
    border-block-end: 1px solid var(--color-base-200);
  }

  &__HeaderCell,
  &__BodyCell {
    position: relative;
    flex: 1;
    padding: var(--spacing-lg);
  }

  &__HeaderCell--overview,
  &__BodyCell--overview {
    flex: 0 0 26%;
    min-width: 240px;
  }

  &__HeaderCell--section,
  &__BodyCell--section {
    &:not(:first-child) {
      border-inline-start: 1px solid var(--color-base-200);
    }
  }

  &__HeaderConnector {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: var(--color-base-0);
  }

  &__PlusConnector {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    border: 1px solid var(--color-base-200);
    background: var(--color-base-0);
    color: var(--color-base-500);
  }

  &__Formula,
  &__FormulaLabels {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    row-gap: var(--spacing-3xs);
    column-gap: var(--spacing-md);
    align-items: baseline;
    width: fit-content;
  }

  &__FormulaLabels > .Layer__Span {
    justify-self: start;
  }

  &__FormulaLabel {
    padding: 2px var(--spacing-2xs);
    border-radius: var(--border-radius-2xs);
    background: var(--color-base-100);
  }

  &__FormulaLabelPlaceholder {
    visibility: hidden;
  }

  &__Overview--mobile {
    padding: var(--spacing-lg);
    padding-block-end: var(--spacing-sm);
  }

  &__OverviewHeader {
    width: 100%;
  }

  &__OverviewLabel {
    flex: 1;
    min-width: 0;
  }

  &__TaxesDueLabel {
    flex-shrink: 0;
    white-space: nowrap;
  }

  &__DetailsToggleContainer {
    padding: 0 var(--spacing-lg) var(--spacing-lg);

    .Layer__UI__Button {
      text-decoration: underline;
    }
  }

  &--mobile {
    .Layer__TaxSummaryCard__Inner {
      padding-bottom: var(--spacing-lg);
    }

    .Layer__TaxSummaryCard__Header,
    .Layer__TaxSummaryCard__Body {
      display: block;
    }

    .Layer__TaxSummaryCard__HeaderCell,
    .Layer__TaxSummaryCard__BodyCell {
      min-width: 0;
      padding: 0;
      border: 0;
    }

    .Layer__TaxSummaryCard__Breakdown {
      padding: var(--spacing-md);
      border-radius: var(--border-radius-xs);
      background: var(--color-base-50);
    }

    .Layer__TaxSummaryCard__Formula,
    .Layer__TaxSummaryCard__FormulaLabels {
      grid-template-columns: max-content auto max-content auto max-content;
      column-gap: var(--spacing-xs);
      justify-content: space-between;
      width: 100%;
    }

    .Layer__TaxSummaryCard__FormulaLabel {
      white-space: nowrap;
    }

    .Layer__TaxSummaryCard__MobileConnector {
      color: var(--color-base-300);
    }

    .Layer__TaxSummaryCard__MobileConnectorLine {
      flex: 1;
      border-block-start: 1px solid var(--color-base-200);
    }
  }
}
