.Layer__TaxSummaryCard--mobile {
  border-block-start: 1px solid var(--color-base-200);

  @media (width > 760px) {
    border: none;
  }
}

@media (width >= 760px) {
  .Layer__TaxDetails {
    .Layer__card {
      border-radius: 0;
    }
  }

  .Layer__Stack.Layer__TaxDetails__ExpandableCardsWrapper {
    border-radius: 0;
  }
}

.Layer__TaxSummaryCard__MobileToggleWrapper {
  margin-top: var(--spacing-md);
}
