.Layer__TaxSummaryCard {
  width: 100%;
  border-block-end: 1px solid var(--color-base-200);

  &__Overview {
    min-width: 200px;
    padding: var(--spacing-lg);
    border-inline-end: 1px solid var(--color-base-200);
  }

  &__Breakdown {
    flex: 1;
    padding: var(--spacing-lg);
    padding-block-end: var(--spacing-xl);
  }

  &__Section {
    padding-block-end: var(--spacing-md);
    border-block-end: 1px solid var(--color-base-100);

    &:last-child {
      padding-block-end: 0;
      border-block-end: none;
    }
  }

  &__Grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: var(--spacing-3xs);
    column-gap: var(--spacing-md);
    align-items: baseline;
    width: fit-content;

    > .Layer__Span {
      text-align: right;
    }

    &--mobile {
      grid-template-columns: 1fr auto 1fr auto 1fr;
      column-gap: var(--spacing-sm);
      width: 100%;
    }
  }

  &__SectionGroup {
    display: contents;

    > .Layer__Span:first-child {
      grid-column: 1 / -1;
      text-align: left;
    }

    &:not(:first-child) > .Layer__Span:first-child {
      padding-block-start: var(--spacing-md);
      margin-block-start: var(--spacing-3xs);
      border-block-start: 1px solid var(--color-base-100);
    }
  }

  &--mobile {
    width: 100%;
  }

  &__OverviewCard {
    padding: var(--spacing-lg);
  }

  &__BreakdownCard {
    padding: var(--spacing-lg);
  }
}

.Layer__TaxDetails__CardHeading > .Layer__Span.Layer__MoneySpan {
  height: fit-content;
  margin-block: auto;
}
