.Layer__bookkeping-status {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);

  .Layer__bookkeping-status__icon-wrapper {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-info-fg);
    background: var(--color-info-bg);
    margin-top: -1px;
  }

  &[data-status='warning'] {
    .Layer__bookkeping-status__icon-wrapper {
      color: var(--color-info-warning-fg);
      background: var(--color-info-warning-bg);
    }
  }

  &[data-status='success'] {
    .Layer__bookkeping-status__icon-wrapper {
      color: var(--color-info-success-fg);
      background: var(--color-info-success-bg);
    }
  }

  &[data-status='error'] {
    .Layer__bookkeping-status__icon-wrapper {
      color: var(--color-info-error-fg);
      background: var(--color-info-error-bg);
    }
  }

  &[data-emphasize='true'][data-status='warning'] {
    padding: var(--spacing-xs);
    padding-bottom: var(--spacing-2xs);
    border-radius: var(--border-radius-3xs);
    color: var(--color-info-warning-bg);
    background: var(--badge-bg-color-warning-dark);

    .Layer__bookkeping-status__icon-wrapper {
      color: var(--color-info-warning-bg);
      background: var(--badge-bg-color-warning-dark);
    }
  }
}
