.Layer__UI__DataState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &[data-spacing] {
    padding: var(--spacing-xl);
  }

  &[data-reset] {
    gap: var(--spacing-xs);
  }

  &[data-inline] {
    flex-direction: row;
    gap: var(--spacing-xs);
    min-inline-size: 0;
  }
}

.Layer__UI__DataState__Icon {
  display: flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: var(--spacing-3xs);
  box-shadow: 0 0 0 1px var(--color-base-300);
  margin-bottom: var(--spacing-md);
  background: transparent;
  color: var(--fg-default);

  &[data-status='neutral'] {
    box-shadow: none;
    background: var(--bg-muted);
    color: var(--fg-default);
  }

  &[data-status='success'] {
    box-shadow: none;
    background: var(--color-info-success-bg);
    color: var(--color-info-success-fg);
  }

  &[data-status='error'] {
    box-shadow: none;
    background: var(--color-info-error-bg);
    color: var(--color-info-error-fg);
  }
}

.Layer__UI__DataState[data-reset] .Layer__UI__DataState__Icon,
.Layer__UI__DataState[data-inline] .Layer__UI__DataState__Icon {
  margin-bottom: 0;
}

.Layer__UI__DataState__Text {
  min-inline-size: 0;
}

.Layer__UI__DataState__Title {
  display: block;
  margin-bottom: var(--spacing-2xs);
}

.Layer__UI__DataState__Description {
  display: block;
  margin-bottom: var(--spacing-xl);
}

.Layer__UI__DataState[data-reset] .Layer__UI__DataState__Description,
.Layer__UI__DataState[data-inline] .Layer__UI__DataState__Title,
.Layer__UI__DataState[data-inline] .Layer__UI__DataState__Description {
  margin-bottom: 0;
}
