.Layer__TaxBanner {
  container: tax-banner / inline-size;
  max-width: 1406px;
}

@container tax-banner (max-width: 500px) {
  .Layer__TaxBanner .Layer__UI__Banner__iconContainer {
    display: none;
  }

  .Layer__TaxBanner .Layer__UI__Banner[data-direction='row'] {
    flex-direction: column;
    align-items: stretch;
  }
}

@container tax-banner (max-width: 400px) {
  .Layer__TaxBanner .Layer__UI__Banner__actions,
  .Layer__TaxBanner .Layer__UI__Banner__actions .Layer__UI__Button {
    inline-size: 100%;
  }
}
