.Layer__UI__Table__TaxDetails {
  width: 100%;

  .Layer__UI__Table-TableHeader {
    display: none;
  }

  .Layer__UI__Table-Row,
  .Layer__UI__Table-TableHeader > tr {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(4rem, 8rem);

    &[data-depth='0'] {
      .Layer__Span {
        font-size: var(--text-lg);
        font-weight: var(--font-weight-bold);
      }

      @media (width <= 500px) {
        .Layer__Span {
          font-size: var(--text-md);
        }
      }
    }
  }

  .Layer__UI__Table-Column__TaxDetails--Amount,
  .Layer__UI__Table-Cell__TaxDetails--Amount {
    justify-content: flex-end;
    text-align: right;
  }
}

.Layer__TaxDetails {
  &__ExpandableCardsWrapper {
    overflow: hidden;
    border-radius: var(--spacing-sm);
  }
}

@media (width >= 760px) {
  .Layer__TaxDetails {
    .Layer__card {
      border-radius: 0;
    }

    &__ExpandableCardsWrapper {
      border-radius: 0;
    }
  }
}
