@container (max-width: 500px) {
  .Layer__TaxEstimatesHeader.Layer__TaxEstimatesHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .Layer__TaxEstimatesHeader__ComboBoxContainer {
    width: 100%;
  }
}
