.Layer__ProfitAndLossDetailedChartsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-lg);
  box-shadow: 0 -1px 0 0 var(--color-base-300) inset;

  button.Layer__btn.Layer__btn--icon-only {
    block-size: 2rem;
    min-block-size: 2rem;
    inline-size: 2rem;
    padding: 0;
  }
}

.Layer__ProfitAndLossDetailedChartsHeader--tablet {
  gap: var(--spacing-md);
  align-items: center;
  justify-content: flex-start;
}

.Layer__ProfitAndLossDetailedChartsHeader__head {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);
}

@container (max-width: 767px) {
  .Layer__ProfitAndLossDetailedChartsHeader--desktop .Layer__ProfitAndLossDetailedChartsHeader__date {
    display: none;
  }
}
