.Layer__VehicleManagementDetail {
  .Layer__BaseDetailView__Header {
    height: auto;
    padding-block: var(--spacing-md);
  }
}

.Layer__VehicleManagementDetailHeader {
  width: 100%;
}

.Layer__VehicleManagementDetailHeader__mobile {
  width: 100%;
}

.Layer__VehicleManagementDetailHeader__mobile-top {
  width: 100%;
}
