.Layer__VehicleCard {
  box-shadow: 0 0 0 1px var(--border-color);

  .Layer__VehicleCard__Header {
    flex: 1;
    min-width: 0;
  }

  .Layer__VehicleCard__Icon {
    min-height: 20px;
    min-width: 20px;
    color: var(--color-base-400);
  }
}
