.Layer__BulkActionsModule {
  max-width: 100%;
}

.Layer__BulkActionsModule__SelectedItemsContainer {
  flex-shrink: 0;
  height: 2.25rem;
  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--color-base-300);
  background-color: var(--color-base-100);
}
