.Layer__BulkActionsModule__SelectedItemsContainer {
    border: 1px solid var(--color-base-300);
    border-radius: var(--border-radius-xs);
}

.Layer__BulkActionsModule__SelectedItems {
    min-width: 7.5rem;
}

.Layer__BulkActionsModule__Divider {
    width: 1px;
    height: 2rem;
    background-color: var(--color-base-300);
}
