.Layer__header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Layer__header--sticky {
  position: sticky;
  z-index: 10;
  top: 0;
  background: var(--color-base-0);
  backdrop-filter: blur(6px);
}

.Layer__header--top-rounded {
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}
