.Layer__loader--as-badge {
  height: 21px;
  width: 21px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-base-100);

  &.Layer__loader--info {
    background-color: var(--color-info-bg);
    color: var(--color-info-fg);
  }

  &.Layer__loader--success {
    background-color: var(--color-info-success-bg);
    color: var(--color-info-success-fg);
  }

  &.Layer__loader--error {
    background-color: var(--color-info-error-bg);
    color: var(--color-info-error-fg);
  }

  &.Layer__loader--warning {
    background-color: var(--color-info-warning-bg);
    color: var(--color-info-warning-fg);
  }
}
