.Layer__due-status {
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  &--sm {
    flex-direction: row;
    gap: var(--spacing-3xs);
    align-items: center;
  }

  &[data-status='today'] {
    .Layer__P[data-weight='bold'] {
      color: var(--color-info-warning);
    }
  }

  &[data-status='soon'] {
    .Layer__P[data-weight='bold'] {
      color: var(--color-base-800);
    }
  }

  &[data-status='before'] {
    .Layer__P[data-weight='bold'] {
      color: var(--color-base-800);
    }
  }
}
