.Layer__actionable_row {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--color-base-300);
  background: var(--color-base-0);
  container-type: inline-size;

  /* Stack vertically when container is too narrow */
  @container (max-width: 30rem) {
    flex-direction: column;
    align-items: stretch;

    .Layer__actionable_row__action {
      justify-content: flex-end;
    }
  }
}

.Layer__actionable_row__main {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.Layer__actionable_row__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: var(--border-radius-3xs);
  box-shadow: 0 0 3px 0 var(--base-transparent-4) inset;
  background-color: var(--color-base-100);
}

.Layer__actionable_row__action {
  display: flex;
}

.Layer__actionable_row__description {
  font-size: var(--text-sm);
  color: var(--color-base-500);
}
