.Layer__profit-and-loss-header__bookkeeping-status {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.Layer__profit-and-loss__header {
  flex-direction: column;
  gap: var(--spacing-2xs);
}

.Layer__profit-and-loss-header__right-content {
  flex: 1 1 auto;
  min-width: 0;
}

@container (width < 460px) {
  .Layer__profit-and-loss-header__bookkeeping-status {
    position: static;
    height: 18px;
    width: 260px;

    .Layer__bookkeeping-status {
      white-space: normal;
    }
  }
}
