.Layer__Switch {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: var(--text-md);

  [slot='indicator'] {
    height: 18px;
    width: 36px;
    border-radius: 1rem;
    border: 2px solid var(--outline-default);
    background: var(--bg-default);
    transition: all 200ms;

    &::before {
      display: block;
      height: 14px;
      width: 1rem;
      border-radius: 16px;
      background: var(--color-black);
      content: '';
      transition: all 200ms;
    }
  }

  &[data-selected] {
    [slot='indicator'] {
      border-color: var(--color-black);
      background: var(--color-black);

      &::before {
        background: var(--color-white);
        transform: translateX(100%);
      }
    }
  }
}
