.Layer__Switch {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  [slot='indicator'] {
    display: flex;
    align-items: center;
    height: 1.25rem;
    width: 2.25rem;
    border-radius: 1rem;
    border: 1px solid var(--outline-default);
    background: var(--bg-default);
    transition: all 200ms;

    &::before {
      height: 1rem;
      width: 1rem;
      border-radius: 0.5rem;
      background: var(--color-black);
      content: '';
      transition: all 200ms;
    }
  }

  &[data-selected] {
    [slot='indicator'] {
      border-color: var(--color-base-1000);
      background: var(--color-black);

      &::before {
        background: var(--color-white);
        transform: translateX(1.125rem);
      }
    }
  }
}
