.Layer__AmountInput {
  box-sizing: border-box;
  position: relative;
  max-height: 36px;
  padding: 8px;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--color-base-0);
  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);
  color: var(--color-base-1000);

  &.Layer__AmountInput--Error {
    border: 1px solid var(--color-danger);
  }

  &:disabled {
    background-color: var(--color-base-100);
    color: var(--color-base-800);
  }

  &:focus,
  &:active,
  &:focus-visible {
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__AmountInput__Tooltip {
  position: relative;
  flex: 0;
}

@media screen and (resolution >= 2dppx) {
  .Layer__view,
  .Layer__component,
  .Layer__Portal {
    .Layer__AmountInput {
      height: 36px;
      font-size: 16px;
    }
  }
}
