.Layer__UI__Input {
  min-inline-size: 0;
  padding-inline: var(--spacing-xs);

  outline: none;

  background-color: transparent;

  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);

  vertical-align: middle;

  &[data-inset] {
    padding-inline: 0;

    border: none;
  }

  &[data-placement='first'] {
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
  }
}
