.Layer__UI__TextArea {
  box-sizing: content-box;
  min-block-size: 5lh;

  &::-webkit-scrollbar-track {
    margin-block: 2px;
  }

  padding-block: var(--spacing-xs);
  padding-inline-start: var(--spacing-xs);
  padding-inline-end: var(--spacing-3xs);

  border-radius: var(--input-border-radius);
  border: 1px solid var(--border-color);

  background-color: var(--color-base-0);

  font-size: var(--input-font-size);
  line-height: 140%;
  font-family: var(--font-family);

  $resizes: both horizontal vertical none;

  @each $resize in $resizes {
    &[data-resize="#{$resize}"] {
      resize: $resize;
    }
  }

  &[data-focused] {
    border-color: var(--color-base-800);
    outline: 2px solid var(--outline-default);
  }

  &[data-disabled] {
    cursor: not-allowed;
  }
}
