.Layer__UnifiedReports__HeaderButtons {
  justify-content: flex-end;
  min-width: 15rem;
  max-width: 24rem;

  &--mobile {
    width: 100%;
    min-width: 0;
    max-width: none;
  }
}

@container unified-reports (max-width: 500px) {
  .Layer__UnifiedReports__HeaderButtons {
    width: 100%;
    min-width: 0;
    max-width: none;
  }
}
