.Layer__UI__Table__UnifiedReports {
  width: max-content;
  min-width: 100%;
  border-bottom: 1px solid var(--color-base-300);

  .Layer__UI__Table-TableHeader .Layer__UI__Table-Column[data-header-tone='shaded'] {
    background-color: var(--color-base-100);
  }

  .Layer__UI__Table-Column,
  .Layer__UI__Table-Cell {
    display: table-cell;
    min-width: 6rem;
    max-width: 16rem;
  }
}
