.Layer__BankTransactionsHeaderListView {
  position: sticky;
  z-index: 1;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  align-items: stretch;
  width: 100%;

  &--mobile {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;

    .Layer__syncing-component {
      padding: 0 var(--spacing-xs);
      border-width: 0;
      margin-left: 0;
    }

    .Layer__syncing-component.Layer__syncing-component--with-border {
      padding: 0;
      padding-left: var(--spacing-sm);
      border-width: 0;
      margin-left: 0;
    }
  }

  &--mobile,
  &--with-date-picker {
    flex-direction: column;

    .Layer__bank-transactions__header__content {
      padding-left: var(--spacing-3xs);
    }
  }

  &--with-date-picker#{&}--mobile .Layer__MonthPicker__InputGroup {
    margin-right: 4px;
  }
}

@container (max-width: 1400px) {
  .Layer__BankTransactionsHeaderListView {
    row-gap: var(--spacing-sm);
    padding-top: var(--spacing-md);
    padding-right: var(--spacing-md);
    padding-left: var(--spacing-md);
  }
}

@container (max-width: 760px) {
  .Layer__BankTransactionsHeaderListView {
    position: sticky;
    z-index: 2;
    top: 0;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    box-shadow: 0 -1px 0 0 rgb(23 51 45 / 16%) inset;
    background-color: var(--table-bg);

    &--mobile {
      padding-bottom: var(--spacing-2xs);
      box-shadow: none;
    }
  }
}
