.Layer__BankTransactionsSubmitButton {
  display: contents;

  &[data-active] .Layer__UI__Button:not([data-disabled]) .Layer__ButtonIconBox {
    background-color: var(--btn-bg-color-icon-hover);
    color: var(--btn-color-icon-hover);
  }

  &[data-error] .Layer__UI__Button {
    color: var(--color-danger);
  }
}

.Layer__bank-transaction-row:hover .Layer__BankTransactionsSubmitButton:not([data-error]) {
  .Layer__UI__Button:not([data-disabled]) {
    background-color: var(--btn-bg-color-hover);
    color: var(--btn-color-hover);
  }

  .Layer__UI__Button:not([data-disabled]) .Layer__ButtonIconBox {
    background-color: var(--btn-bg-color-icon-hover);
    color: var(--btn-color-icon-hover);
  }
}
