.Layer__BankTransactionsActions {
  display: grid;
  grid-template-areas:
    'toggle . download-upload'
    'search search search';

  grid-template-columns: auto minmax(0, 1fr) auto;
  gap: var(--spacing-xs);
  align-items: center;
  height: 2.5rem;

  @container (min-width: 768px) {
    grid-template-areas: 'toggle . search download-upload';
    grid-template-columns: auto minmax(0, 2fr) 15rem auto;
  }

  > [slot='toggle'] {
    grid-area: toggle;
  }

  > [slot='search'] {
    grid-area: search;
  }

  > [slot='download-upload'] {
    grid-area: download-upload;
  }
}
