.Layer__UI__Link {
  position: relative;
  display: inline;

  outline: none;
  cursor: pointer;

  font-size: var(--text-md);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);

  color: var(--link-color, var(--color-base-900));
  text-decoration: none;

  &[data-ellipsis] {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-inline-size: 100%;
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: var(--color-base-500);
    pointer-events: none;
  }

  // Sizes
  $sizes: xs sm md lg;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      font-size: var(--text-#{$size});
    }
  }

  // Weights
  $weights: normal bold;

  @each $weight in $weights {
    &[data-weight='#{$weight}'] {
      font-weight: var(--font-weight-#{$weight});
    }
  }

  // Spacing
  $spacings: 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 5xl;

  @each $spacing in $spacings {
    &[data-pb='#{$spacing}'] {
      padding-block: var(--spacing-#{$spacing});
    }

    &[data-pbe='#{$spacing}'] {
      padding-block-end: var(--spacing-#{$spacing});
    }

    &[data-pbs='#{$spacing}'] {
      padding-block-start: var(--spacing-#{$spacing});
    }
  }
}
