.Layer__platform-onboarding {
  container-type: inline-size;
}

.Layer__platform-onboarding-layout {
  box-sizing: border-box;
  position: relative;
  padding: var(--spacing-lg);
}

.Layer__platform-onboarding__back-button-container {
  position: absolute;
  top: var(--spacing-lg);
  left: var(--spacing-lg);
  max-width: calc(672px + 2 * var(--spacing-xl));
  margin: auto;
  margin-bottom: var(--spacing-lg);

  @container (width < 969px) {
    position: static;
  }
}

.Layer__platform-onboarding-layout__box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  max-width: 672px;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 0 0 1px var(--base-transparent-4);
  margin: auto;
  margin-bottom: var(--spacing-md);
  background: var(--color-base-0);

  @container (width < 500px) {
    padding: var(--spacing-md);
  }
}

.Layer__platform-onboarding-layout__footer {
  max-width: 1200px;
  padding: var(--spacing-lg) 0;
  margin: auto;

  @container (width < 500px) {
    padding: var(--spacing-md) 0;
  }
}

.Layer__platform-onboarding__welcome,
.Layer__platform-onboarding__summary {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  align-items: flex-start;
  max-width: 510px;
  margin-bottom: var(--spacing-lg);
}

.Layer__platform-onboarding__welcome-footer__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: flex-start;
  max-width: 672px;
  padding: 0 var(--spacing-xl);
  margin: auto;

  @container (width < 500px) {
    padding: 0 var(--spacing-md);
  }
}

.Layer__platform-onboarding__welcome-footer__header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.Layer__platform-onboarding__welcome-footer__images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  align-items: flex-start;
  max-width: 1200px;
  padding-top: var(--spacing-5xl);
  margin: auto;

  @container (width < 640px) {
    flex-direction: column;
    align-items: center;
  }

  .Layer__platform-onboarding__welcome-footer__image {
    flex: 1;
    max-width: 360px;

    .Layer__platform__onboarding__welcome-footer__image-wrapper {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      gap: var(--spacing-2xl);
      align-items: center;
      border-radius: 12px;
      box-shadow:
        0 0 0 1px
        var(--base-transparent-4, rgb(16 24 40 / 4%));

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .Layer__platform__onboarding__welcome-footer__image-text {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
      align-items: center;
      justify-content: center;
      max-width: 27ch;
      padding: 36px 0;
      margin: auto;
      text-align: center;
    }
  }
}
