.Layer__InvoiceForm {
  .Layer__InvoiceForm__Field__Customer,
  .Layer__InvoiceForm__Field__Email,
  .Layer__InvoiceForm__Field__Address {
    grid-template-columns: 8rem auto;
    width: clamp(28rem, 100%, 44rem);
  }

  .Layer__InvoiceForm__Field__InvoiceNo,
  .Layer__InvoiceForm__Field__Terms,
  .Layer__InvoiceForm__Field__SentAt,
  .Layer__InvoiceForm__Field__DueAt {
    grid-template-columns: 8rem auto;
    width: clamp(16rem, 100%, 24rem);
  }

  min-width: 54rem;
}

.Layer__InvoiceForm__TermsComboBox {
  display: grid;
  align-items: center;
}
