.Layer__InvoiceForm {
  .Layer__InvoiceForm__Field__Customer,
  .Layer__InvoiceForm__Field__Email,
  .Layer__InvoiceForm__Field__Address {
    grid-template-columns: 8rem auto;
    width: clamp(28rem, 100%, 44rem);
  }

  .Layer__InvoiceForm__Field__InvoiceNo,
  .Layer__InvoiceForm__Field__Terms,
  .Layer__InvoiceForm__Field__SentAt,
  .Layer__InvoiceForm__Field__DueAt {
    grid-template-columns: 8rem auto;
    width: clamp(16rem, 100%, 24rem);
  }

  min-width: 54rem;
}

.Layer__InvoiceForm__TermsComboBox {
  display: grid;
  align-items: center;
}

.Layer__InvoiceForm__PaymentMethodsLayout {
  width: 100%;
}

.Layer__InvoiceForm__PreviewSection {
  flex: 2;
  min-width: 0;
}

.Layer__InvoiceForm__PreviewPlaceholder {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 8.5 / 11;
  border-radius: var(--border-radius-md);
  border: 1px dashed var(--color-base-300);
  background-color: var(--color-base-50);
}
