.Layer__InvoiceForm {
  min-width: 32rem;

  .Layer__InvoiceForm__Field__Customer,
  .Layer__InvoiceForm__Field__Email,
  .Layer__InvoiceForm__Field__Address {
    grid-template-columns: 8rem 24rem;
  }

  .Layer__InvoiceForm__LineItem {
    display: grid;
    grid-template-columns:
      minmax(10rem, 1.5fr)
      minmax(12rem, 2fr)
      minmax(5rem, 0.75fr)
      minmax(6rem, 0.75fr)
      minmax(6rem, 0.75fr)
      minmax(3rem, 0.25fr)
      auto;

    width: 100%;
    min-width: 45rem;
  }
}

.Layer__InvoiceForm__Terms {
  padding: var(--spacing-lg) var(--spacing-2xl);
}

.Layer__InvoiceForm__LineItems {
  padding: var(--spacing-lg) var(--spacing-2xl);
  background-color: var(--color-base-50);
}

.Layer__InvoiceForm__Metadata {
  border-top: 1px solid var(--color-base-300);
}

.Layer__InvoiceForm__TotalFields {
  max-width: 30rem;
}

.Layer__InvoiceForm__AdditionalTextFields {
  flex: 1;
  min-width: 20rem;
  max-width: 32rem;
}

.Layer__InvoiceForm__TotalRow {
  display: grid;
  grid-template-columns: auto 1fr;

  height: 2.5rem;

  &--withField {
    grid-template-columns:
      minmax(7.5rem, 1fr)
      7.5rem
      minmax(7.5rem, 1fr);
  }
}
