.Layer__DeprecatedHeader {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg);
}
