.Layer__UI__Heading {
  max-inline-size: 60rem;

  margin: 0;

  font-size: var(--text-heading-secondary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);

  color: var(--color-base-700);
  text-wrap: pretty;

  &[data-variant='subtle'] {
    color: var(--fg-subtle);
  }

  $spacings: 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 5xl;

  @each $spacing in $spacings {
    &[data-pbe="#{$spacing}"] {
      padding-block-end: var(--spacing-#{$spacing});
    }
  }

  @each $spacing in $spacings {
    &[data-pie="#{$spacing}"] {
      padding-inline-end: var(--spacing-#{$spacing});
    }
  }

  $sizes: 2xs, xs, sm;

  @each $size in $sizes {
    &[data-size="#{$size}"] {
      font-size: var(--text-heading-#{$size});
    }
  }

  &[data-size='lg'] {
    font-size: var(--text-heading-secondary);
  }

  &[data-size='xl'] {
    font-size: var(--text-heading);
  }

  $alignments: left right justify;

  @each $alignment in $alignments {
    &[data-align=#{$alignment}] {
      text-align: $alignment;
    }
  }

  &[data-align='center'] {
    max-inline-size: unset;
    text-align: center;
  }

  $weights: normal bold;

  @each $weight in $weights {
    &[data-weight=#{$weight}] {
      font-weight: var(--font-weight-#{$weight});
    }
  }
}
