.Layer__UI__Heading {
  all: unset;

  color: var(--color-base-700);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-heading-secondary);

  &[data-size="sm"] {
    font-size: var(--text-heading-sm);
  }

  &[data-size="lg"] {
    font-size: var(--text-heading-secondary);
  }

  $paddings: 2xs xs sm md lg;
  @each $padding in $paddings {
    &[data-pbe="#{$padding}"] {
      padding-block-end: var(--spacing-#{$padding});
    }
  }
}
