.Layer__MoneyText {
  overflow-x: hidden;
  color: var(--color-base-800);
  text-overflow: ellipsis;

  &[data-bold] {
    font-weight: var(--font-weight-bold);
    font-variation-settings: 'wght' var(--font-weight-bold);
  }

  $sizes: xs sm md lg;

  @each $size in $sizes {
    &[data-size="#{$size}"] {
      font-size: var(--text-#{$size});
    }
  }

  &[data-positive]::before {
    content: '$';
  }

  &[data-negative]::before {
    content: '-$';
  }
}
