.Layer__MoneySpan {
  white-space: nowrap;

  &[data-positive]::before {
    content: '$';
  }

  &[data-negative]::before {
    content: '-$';
  }

  &[data-display-plus-sign]::before {
    content: '+$';
  }

  &.Layer__MoneySpan-green {
    color: #1b7742;
  }
}
