.Layer__MoneySpan {
  white-space: nowrap;

  &[data-positive]::before {
    content: '$';
  }

  &[data-negative]::before {
    content: '-$';
  }

  &[data-display-plus-sign]::before {
    content: '+$';
  }
}

.Layer__green-money-span {
  color: var(--info-green-fg, #1b7742);
}
