.Layer__P {
  margin: 0;

  color: var(--color-base-700);
  font-size: var(--text-md);

  max-inline-size: min(80ch, 60rem);
  text-wrap: pretty;

  &[data-variant=subtle] {
    color: var(--fg-subtle)
  }

  $sizes: xs sm md lg;
  @each $size in $sizes {
    &[data-size="#{$size}"] {
      font-size: var(--text-#{$size});
    }
  }

  $spacings: 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 5xl;
  @each $spacing in $spacings {
    &[data-pbe="#{$spacing}"] {
      padding-block-end: var(--spacing-#{$spacing});
    }
    &[data-pbs="#{$spacing}"] {
      padding-block-start: var(--spacing-#{$spacing});
    }
  }

  $alignments: left center right justify;
  @each $alignment in $alignments {
    &[data-align=#{$alignment}] {
      text-align: $alignment;
    }
  }
}
