.Layer__DateSelection {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 12rem));
  gap: var(--spacing-xs);
  min-width: 18.5rem;

  &--mobile {
    grid-template-columns: repeat(2, minmax(6.75rem, 10rem));
    gap: var(--spacing-3xs);
    min-width: 16rem;
  }

  .Layer__tooltip-trigger {
    padding-top: 0;
  }
}
