.Layer__DateSelection {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 12rem));
  min-width: 18.5rem;
}

.Layer__DateRangeSelection {
  display: grid;
  grid-template-columns: 9rem repeat(2, minmax(10rem, 12rem));
}
