.Layer__GlobalDateRangeSelection {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: var(--spacing-xs);

  &--compact {
    grid-template-columns: repeat(2, minmax(6.75rem, 1fr));

    > :first-child {
      grid-column: 1 / -1;
    }
  }

  .Layer__tooltip-trigger {
    padding-top: 0;
  }
}
