.Layer__MobileList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.Layer__MobileList__Item {
  display: grid;
  grid-template-areas: 'content';
  grid-template-columns: 1fr;

  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);

  box-shadow:
    0 4px 4px 0 var(--color-base-100),
    0 2px 2px 0 var(--color-base-200);

  &[data-selection-mode='multiple'],
  &[data-selection-mode='single'] {
    grid-template-areas: 'selection content';
    grid-template-columns: auto 1fr;
  }
}
