.Layer__MobileSelectionDrawerWithTrigger__Trigger {
  width: 100%;
}

.Layer__MobileSelectionDrawerWithTrigger__Content {
  padding-inline: var(--spacing-sm);

  .Layer__SearchField {
    inline-size: 100%;
  }

  .Layer__MobileListItem {
    transition: background-color 120ms ease;

    &[data-hovered] {
      background-color: var(--bg-element-focus);
    }
  }
}
