.Layer__TripsMobileList {
  .Layer__TripsView__EmptyState,
  .Layer__TripsView__ErrorState {
    padding: var(--spacing-sm);
    padding-top: var(--spacing-lg);
    border-radius: var(--border-radius-sm);

    border: 1px solid var(--border-color);
    background-color: var(--color-base-0);
  }
}

.Layer__TripsMobileListItem {
  width: 100%;
  min-width: 0;
}

.Layer__TripsMobileListItem__LeftContent {
  min-width: 0;
}
