.Layer__UnifiedReports {
  container: unified-reports / inline-size;

  overflow: hidden;
  max-height: 100vh;
  min-width: clamp(23rem, 100%, var(--layout-max-content-width));
}

.Layer__UnifiedReports__Body {
  max-height: calc(100vh - var(--layout-header-height-lg));
}

.Layer__UnifiedReports__Sidebar {
  flex-shrink: 0;
  overflow-y: auto;
  width: clamp(14rem, 16vw, 24rem);
  border-right: 1px solid var(--color-base-300);
}

.Layer__UnifiedReports__Content {
  overflow-y: auto;
  min-width: 0;
}
