.Layer__csv-upload__copy-template-headers-button-group {
  box-sizing: border-box;
  padding: var(--spacing-3xs);
  border-radius: var(--border-radius-3xs);
  background-color: var(--color-base-200);

  .Layer__UI__Button {
    flex: 1 1 auto;
  }
}
