.Layer__InvoiceTable {
  width: clamp(48rem, 100%, 1406px);
}

.Layer__UI__Table__InvoiceTable {
  table-layout: fixed;
  width: 100%;

  .Layer__UI__Table-Row,
  .Layer__UI__Table-TableHeader > tr {
    display: grid;
    grid-template-columns:
      minmax(8rem, 10%)
      minmax(6.75rem, 15%)
      minmax(11.75rem, 35%)
      minmax(7.75rem, 15%)
      minmax(10rem, 25%)
      3.75rem;
  }

  .Layer__UI__Table-Column__InvoiceTable,
  .Layer__UI__Table-Cell__InvoiceTable {
    &--Total {
      justify-content: flex-end;
      border-right: 1px solid var(--color-base-300);
    }
  }
}

.Layer__InvoiceTable__StatusFilter {
  width: 11rem;
}
