.Layer__InvoiceForm__Metadata {
  border-top: 1px solid var(--color-base-300);
}

.Layer__InvoiceForm__TotalFields {
  max-width: 28rem;
}

.Layer__InvoiceForm__AdditionalTextFields {
  flex: 1;
  min-width: 20rem;
  max-width: 32rem;
}
