.Layer__component-container .Layer__profit-and-loss {
  display: flex;
  align-items: stretch;
  background-color: var(--color-base-0);
}

.Layer__profit-and-loss__chart_with_summaries {
  display: flex;
  align-items: stretch;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  margin-right: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  margin-left: var(--spacing-xl);
}

.Layer__profit-and-loss__chart_with_summaries__summary-col {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md) var(--spacing-md);
  padding: var(--spacing-md);
}

.Layer__profit-and-loss__chart_with_summaries__chart-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--spacing-md);
}

@container (min-width: 1024px) {
  .Layer__profit-and-loss__chart_with_summaries__summary-col {
    padding-right: var(--spacing-xs);
  }

  .Layer__profit-and-loss__chart_with_summaries__chart-col {
    padding-left: var(--spacing-xs);
  }
}

@container (max-width: 1023px) and (min-width: 760px) {
  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-right: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    margin-left: var(--spacing-md);
  }
}

@container (max-width: 759px) and (min-width: 500px) {
  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: var(--spacing-md);
    margin-left: 0;
  }
}

@container (max-width: 500px) {
  .Layer__profit-and-loss__chart_with_summaries {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: var(--spacing-md);
    margin-left: 0;
  }
}
