.Layer__PickerDropdownIndicator {
  display: flex;
  align-items: center;
  justify-content: center;

  block-size: var(--size);
  min-inline-size: var(--size);

  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
  color: var(--color-base-600);

  --size: 1.25rem;
}
