.Layer__DebitCreditPill {
  display: inline-flex;
  align-items: center;

  height: 20px;
  font-size: 11px;
  padding: 2px 6px;

  border: none;
  outline: none;
  cursor: pointer;

  border-radius: var(--border-radius-5xl);


  &--debit {
    background-color: var(--badge-bg-color-warning);
    color: var(--badge-fg-color-warning);
  }

  &--credit {
    background-color: var(--badge-bg-color-success);
    color: var(--badge-fg-color-success);
  }
}
