.Layer__ComponentContainer.Layer__journal {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.Layer__journal .Layer__ViewPanel {
  max-inline-size: 100%;
}

.Layer__journal .Layer__ViewPanel__Sidebar .Layer__ViewPanel__SidebarContent {
  width: 100%;
}

@container (max-width: 760px) {
  .Layer__ComponentContainer.Layer__journal {
    overflow: auto;
  }
}
