.Layer__TaxTable {
  width: 100%;
  table-layout: fixed;

  &__Header {
    display: none;
  }

  .Layer__UI__Table-Row {
    display: grid;
    grid-template-columns:
      minmax(6rem, 60%)
      minmax(4rem, 40%);

    &--mobile {
      height: auto;
    }
  }

  .Layer__UI__Table-Cell {
    &:last-child {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.Layer__TaxTable__LabelWithIcon {
  display: flex;
  align-items: stretch;
  padding-left: var(--spacing-md);

  .Layer__Span {
    color: var(--color-base-500);
  }
}

.Layer__TaxTable__IconCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  min-width: 2.5rem;
}

.Layer__TaxTable__Icon {
  font-size: var(--text-lg);
  font-weight: 400;
  color: var(--color-base-500);
}

.Layer__TaxTable__Separator {
  align-self: stretch;
  width: 1px;
  background-color: var(--color-base-300);
}

.Layer__TaxTable__Label {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-sm);
}

.Layer__UI__Table-Row {
  &.Layer__TaxTable__Row--nested {
    background-color: var(--color-base-50);

    .Layer__UI__Table-Cell:first-child {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  &.Layer__TaxTable__Row--empty {
    height: var(--spacing-md);
  }

  &.Layer__TaxTable__Row--section-total {
    border-bottom: 1px solid var(--color-border);
  }

  &.Layer__TaxTable__Row--total {
    border-top: 2px solid var(--color-border);
  }
}
