.Layer__TaxTable {
  width: 100%;
  table-layout: fixed;

  &__Header {
    display: none;
  }

  .Layer__UI__Table-Row {
    display: grid;
    grid-template-columns:
      minmax(6rem, 60%)
      minmax(4rem, 40%);

    &--mobile {
      height: auto;
    }
  }

  .Layer__UI__Table-Cell {
    &:nth-child(2) {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.Layer__UI__Table-Row {
  &.Layer__TaxTable__Row--nested {
    background-color: var(--color-base-50);

    .Layer__UI__Table-Cell:first-child {
      padding-left: var(--spacing-lg);
    }
  }

  &.Layer__TaxTable__Row--empty {
    height: var(--spacing-md);
  }

  &.Layer__TaxTable__Row--section-total {
    border-bottom: 1px solid var(--color-border);
  }

  &.Layer__TaxTable__Row--total {
    border-top: 2px solid var(--color-border);
  }
}
