.Layer__TransactionsSearchField {
  display: grid;
  grid-template-areas: 'icon search';
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;

  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--border-color);
  padding-inline-end: var(--spacing-3xs);

  &[data-focus-within] {
    outline: 2px solid var(--outline-subtle);
  }

  & > [slot=icon] {
    grid-area: icon;
    inline-size: 2rem;
    block-size: 2rem;
  }
  & > [slot=search] {
    grid-area: search;
  }
}
