.Layer__ListBox {
  display: flex;
  flex-direction: column;

  max-block-size: 20rem;
}

.Layer__ListBoxSection {
  display: flex;
  flex-direction: column;

  padding-block: var(--spacing-xs);

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }

  & > [slot='header'],
  & > .Layer__ListBoxItem {
    padding-inline: var(--spacing-sm);
  }
}

.Layer__ListBoxItem {
  padding-block: var(--spacing-xs);

  /*
   * Allocate space for the focus outline.
   */
  border: 2px solid transparent;

  cursor: pointer;

  &[data-hovered] {
    background: var(--color-base-50);
  }

  &[data-focused] {
    background: var(--color-base-50);
  }

  &[data-focus-visible] {
    outline-offset: -2px;
    outline: 2px solid var(--outline-default);
  }

  &[data-selected] {
    background: var(--color-base-100);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
