.Layer__bank-transaction-row__category-hstack {
  max-width: 100%;
}

.Layer__bank-transaction-row__category-open {
  > .Layer__Span {
    display: flex;
    gap: var(--spacing-3xs);
    align-items: center;
  }
}

.Layer__bank-transaction-row__category {
  overflow: hidden;
  width: 100%;
}

.Layer__bank-transaction-row {
  transition: all var(--transition-speed) ease-in-out;
  opacity: 0.3;

  &.initial-load {
    transform: scale(0.9);
    opacity: 0;
  }

  &.show {
    transform: scale(1);
    opacity: 1;
  }
}

.Layer__bank-transaction-row__actions-cell {
  width: 0%;
  border-left: 1px solid var(--border-color);
  transition: border 5s ease-out;
}

.Layer__bank-transaction-row__actions-cell--open {
  border-left: 1px solid transparent;
}

.Layer__bank-transaction-row.Layer__bank-transaction-row--expanded {
  td {
    vertical-align: top;
  }
}

.Layer__bank-transaction-row__expanded-td {
  padding: 0;
}
