.Layer__bank-transaction-row__category-hstack {
  max-width: 100%;
}

.Layer__bank-transaction-row__category-open {
  padding-block-start: 0.875rem;
}

.Layer__bank-transaction-row__category {
  overflow: hidden;
  width: 100%;
}
