.Layer__bank-transaction-row {
  &__category-hstack {
    max-width: 100%;
  }

  &__category-open {
    padding-block-start: 0.875rem;
  }

  &__category {
    overflow: hidden;
    width: 100%;
  }
}
