.Layer__MileageDeductionChart {
  .recharts-responsive-container {
    box-sizing: border-box;
    padding: 0;
  }
}

.Layer__MileageDeductionChart__bar--deduction {
  fill: var(--bar-color-income);

  &:hover {
    opacity: 0.8;
  }
}
