.Layer__mileage-chart {
  .recharts-responsive-container {
    box-sizing: border-box;
  }
}

.Layer__mileage-chart__bar--deduction {
  fill: var(--bar-color-income);

  &:hover {
    opacity: 0.8;
  }
}
