.Layer__csv-upload {
  position: relative;
  height: 6rem;
  padding: var(--spacing-xs);
  border-radius: var(--spacing-3xs);
  border: 1px dashed var(--color-base-300);
  background: var(--color-base-100);
  transition: border-color 0.5s, background-color 0.5s;

  &--drag-active {
    background: var(--color-base-200);
    border-color: var(--color-base-500);
  }
}

.Layer__csv-upload__browse-link {
  all: unset;
  cursor: pointer;
  text-decoration: underline;

  &:focus,
  &:active,
  &:focus-visible {
    border-radius: 2px;
    box-shadow:
      0 0 0 3px rgb(26 26 26 / 8%),
      0 0 0 1px var(--color-base-700);
    outline: none;
  }
}

.Layer__csv-upload__error-message {
  position: absolute;
  bottom: var(--spacing-sm);
  left: var(--spacing-sm);

  .Layer__data-state__icon {
    background: var(--color-base-0);
  }
}

.Layer__csv-upload__file-row {
  height: 2rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-3xs);
  border: 1px solid var(--color-base-300);
  background: var(--color-base-100);
}

.Layer__csv-upload__file-row--drop-target {
  height: 6rem;
}

.Layer__csv-upload__copy-template-headers-button-group {
  box-sizing: border-box;
  padding: var(--spacing-3xs);
  border-radius: var(--border-radius-3xs);
  background-color: var(--color-base-200);

  .Layer__btn {
    flex: 1 1 auto;
  }
}

.Layer__CsvUpload__Table__wrapper {
  border-radius: var(--border-radius-3xs);
  border: 1px solid var(--border-color);
  outline-offset: 1px;

  .Layer__UI__VirtualizedTable__container {
    border-radius: inherit;
  }

  .Layer__UI__VirtualizedTable__header {
    background-color: var(--bg-subtle);
  }

  .Layer__UI__VirtualizedTable__header > tr {
    display: grid;
  }

  .Layer__UI__VirtualizedTable__header > tr,
  .Layer__UI__VirtualizedTable__row {
    grid-template-columns: 68px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  .Layer__UI__Table-Column,
  .Layer__UI__Table-Cell {
    border-left: 1px solid var(--border-color);

    &:first-child {
      padding-left: 0;
      border-left: none;
    }
  }

  .Layer__UI__Table-Column {
    padding: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .Layer__UI__Table-Cell {
    &:has(.Layer__CsvUpload__Table__cell-content--row-error) {
      background-color: var(--color-info-error-bg);
    }
  }
}

.Layer__CsvUpload__Table__header-cell-content {
  padding: var(--spacing-sm) var(--spacing-md);

  &--row {
    margin-left: auto;
  }
}

.Layer__CsvUpload__Table__cell-content {
  display: block;
  align-content: center;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--error {
    color: var(--color-info-error-fg);
  }

  &--row {
    text-align: end;
  }
}
