:root {
  --pnl-detail-date-col-width: 12%;
  --pnl-detail-type-col-width: 12%;
  --pnl-detail-account-col-width: 18%;
  --pnl-detail-description-col-width: 38%;
  --pnl-detail-amount-col-width: 10%;
  --pnl-detail-balance-col-width: 10%;
}

.Layer__UI__Table__ProfitAndLossDetailReport {
  table-layout: fixed;
  width: 100%;

  .Layer__UI__Table-Column__ProfitAndLossDetailReport {
    &--Date {
      width: var(--pnl-detail-date-col-width);
      min-width: 7rem;
      color: var(--color-base-600);
    }

    &--Type {
      width: var(--pnl-detail-type-col-width);
    }

    &--Account {
      width: var(--pnl-detail-account-col-width);
      min-width: 10rem;
    }

    &--Description {
      width: var(--pnl-detail-description-col-width);
      min-width: 12rem;
    }

    &--Amount {
      width: var(--pnl-detail-amount-col-width);
      min-width: 7.5rem;
      text-align: right;
      justify-content: flex-end;
    }

    &--Balance {
      width: var(--pnl-detail-balance-col-width);
      min-width: 7.5rem;
      text-align: right;
      justify-content: flex-end;
    }
  }

  .Layer__UI__Table-Cell__ProfitAndLossDetailReport {
    &--Date {
      width: var(--pnl-detail-date-col-width);
      min-width: 7rem;
    }

    &--Type {
      width: var(--pnl-detail-type-col-width);

      button {
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-feature-settings: inherit;
      }
    }

    &--Account {
      width: var(--pnl-detail-account-col-width);
      min-width: 10rem;
      color: var(--color-base-600);
    }

    &--Description {
      width: var(--pnl-detail-description-col-width);
      min-width: 12rem;
    }

    &--Amount {
      width: var(--pnl-detail-amount-col-width);
      min-width: 7.5rem;
      text-align: right;
    }

    &--Balance {
      width: var(--pnl-detail-balance-col-width);
      min-width: 7.5rem;
      text-align: right;
    }
  }
}

.Layer__profit-and-loss-detail-report__total-row {
  display: grid;
  grid-template-columns:
    var(--pnl-detail-date-col-width)
    var(--pnl-detail-type-col-width)
    var(--pnl-detail-account-col-width)
    var(--pnl-detail-description-col-width)
    var(--pnl-detail-amount-col-width)
    var(--pnl-detail-balance-col-width);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  border-top: 1px solid var(--color-base-300);
}

.Layer__profit-and-loss-detail-report__total-label {
  grid-column: 1;
  padding-left: var(--spacing-md);
}

.Layer__profit-and-loss-detail-report__total-amount {
  grid-column: 5;
  justify-content: right;
  padding-right: var(--spacing-sm);
}




