.Layer__MileageTrackingStats__YearSelector {
  width: 8rem;
}

.Layer__MileageTrackingStats__Content {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg);
  padding: var(--spacing-md);

  @container (width <= 760px) {
    flex-direction: column;
  }
}

.Layer__MileageTrackingStats__Cards {
  min-width: 12rem;
}

.Layer__MileageTrackingStats__Chart {
  flex: 1;

  @container (width <= 760px) {
    order: -1;
  }
}

.Layer__MileageTrackingStats__Card {
  box-sizing: border-box;

  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);

  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--border-color);
}
