.Layer__InvoiceRefundForm {
  --form-field-label-inline-size: 8rem;
  --form-field-control-inline-size: auto;

  .Layer__InvoiceRefundForm__Field__InvoiceNo,
  .Layer__InvoiceRefundForm__Field__CompletedAt,
  .Layer__InvoiceRefundForm__Field__PaymentMethod {
    min-width: 16rem;
  }

  .Layer__InvoiceRefundForm__Field__InvoiceNo,
  .Layer__InvoiceRefundForm__Field__PaymentMethod {
    display: grid;
    grid-template-columns: var(--form-field-label-inline-size) var(--form-field-control-inline-size);
  }

  .Layer__InvoiceRefundForm__Field__Amount {
    --form-field-label-inline-size: auto;
    --form-field-control-inline-size: 8rem;
  }

  .Layer__InvoiceRefundForm__FormError {
    height: 4rem;

    padding-inline: var(--spacing-md);
    border-bottom: 1px solid var(--border-color);
  }

  .Layer__InvoiceRefundForm__Section {
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--border-color);
  }
}
