.Layer__UI__VirtualizedTable__container {
  position: relative;
  overflow: auto;
}

.Layer__UI__VirtualizedTable__state-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Layer__UI__VirtualizedTable {
  display: grid;
}

.Layer__UI__VirtualizedTable__header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: grid;
}

.Layer__UI__VirtualizedTable__cell,
.Layer__UI__VirtualizedTable__header-cell {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.Layer__UI__VirtualizedTable__header-cell {
  background-color: var(--color-base-0);
}

.Layer__UI__VirtualizedTable__row {
  position: absolute;
  display: grid;
  width: 100%;
}

.Layer__UI__VirtualizedTable__cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  align-content: center;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
