.Layer__reports {
  overflow: hidden;
}

.Layer__reports .Layer__ViewPanel__Content {
  border-radius: var(--border-radius-sm);
}

@container (min-width: 1024px) {
  .Layer__reports .Layer__ViewPanel__Content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
