.Layer__ReportsSelector {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;

  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-2xs);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-base-1000);

  transition: background-color 0.2s;

  &__chevron {
    color: var(--color-base-700);
  }
}

.Layer__reports-selector-drawer {
  height: 100%;

  &__header {
    border-bottom: 1px solid var(--color-base-200);
  }

  &__options {
    flex: 1;
    overflow-y: auto;
  }

  &__option {
    display: flex;
    align-items: center;
    min-height: 56px;

    width: 100%;
    padding: var(--spacing-md) var(--spacing-lg);
    border: none;
    border-bottom: 1px solid var(--color-base-100);

    background: var(--color-base-0);
    cursor: pointer;
    text-align: left;
    color: var(--color-base-1000);

    transition: background-color 0.2s;

    &:hover {
      background: var(--color-base-50);
    }

    &:active {
      background: var(--color-base-100);
    }

    &--selected {
      background: var(--color-primary-50);
      color: var(--color-primary-900);

      &:hover {
        background: var(--color-primary-100);
      }

      &:active {
        background: var(--color-primary-150);
      }
    }
  }
}

.Layer__Reports__header-row {
  padding-block-start: 0.5rem;
  padding-block-end: 0.75rem;
}
