.Layer__DataTableHeader__Filters {
  height: 4.25rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__DataTableHeader__Header {
  height: 4.75rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__PaginatedDataTable__Pagination {
  border-top: 1px solid var(--border-color);
}
