.Layer__DataTableHeader__Filters {
  height: 4.25rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__DataTableHeader__Header {
  height: 4.75rem;
  border-bottom: 1px solid var(--border-color);
}

.Layer__PaginatedDataTable__Pagination {
  border-top: 1px solid var(--border-color);
}

.Layer__DataTable__EmptyState__Row {
  height: fit-content;
}

.Layer__DataTable__EmptyState__Cell {
  grid-column: 1 / -1;
  justify-content: center;
}
