.Layer__UI__Table__CategorizationRulesTable {
  table-layout: fixed;
  width: 100%;

  .Layer__UI__Table-Row,
  .Layer__UI__Table-TableHeader > tr {
    display: grid;
    grid-template-columns:
      minmax(2rem, 50%)
      minmax(2rem, 50%);
  }
}
