.Layer__UI__Table__CategorizationRulesTable {
  table-layout: fixed;
  width: 100%;

  .Layer__UI__Table-Row,
  .Layer__UI__Table-TableHeader > tr {
    display: grid;
    grid-template-columns:
      minmax(8rem, 6fr)
      minmax(6rem, 3fr)
      minmax(7rem, 4fr)
      minmax(8rem, 6fr)
      2.25rem
      2.25rem;
  }

  .Layer__UI__Table-Cell__CategorizationRulesTable {
    &--Edit,
    &--Delete {
      justify-content: end;
    }
  }
}
