.Layer__CategorizationRulesTable {
  border: none;
}

.Layer__UI__Table__CategorizationRulesTable {
  table-layout: fixed;
  width: 100%;

  .Layer__UI__Table-Row,
  .Layer__UI__Table-TableHeader > tr {
    display: grid;
    grid-template-columns:
      minmax(8rem, 32%)
      minmax(7rem, 20%)
      minmax(8rem, 40%)
      auto;
  }

  .Layer__UI__Table-Cell__CategorizationRulesTable {
    &--Delete {
      justify-content: end;
    }
  }
}
