.Layer__detail-report-breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-3xs);
  gap: var(--spacing-md);
  height: 44px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Layer__detail-report-breadcrumb__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);
}

.Layer__detail-report-breadcrumb__path {
  display: flex;
  align-items: center;
  // gap: var(--spacing-3xs);
  white-space: nowrap;

  > span {
    display: flex;
    align-items: center;
    gap: var(--spacing-3xs);
  }
}

.Layer__detail-report-breadcrumb__segment {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-md);
  color: var(--color-base-600);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--color-black);
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid var(--color-info);
    outline-offset: 1px;
  }
}

.Layer__detail-report-breadcrumb__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-base-500);
}

.Layer__detail-report-breadcrumb__current {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-md);
  color: var(--text-color-primary);
}

.Layer__detail-report-breadcrumb__subtitle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}