.Layer__tax-estimate__overview {
  background: var(--color-base-0);
}

.Layer__tax-estimate__row-label {
  height: 2rem;
  margin-top: var(--spacing-xs);
}

.Layer__tax-estimate__section-item {
  padding: var(--spacing-lg);
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }
}

.Layer__tax-estimate__overview-total {
  width: 15rem;
  border-right: 1px solid var(--color-base-300);
}

.Layer__tax-estimate__agi-table,
.Layer__tax-estimate__federal-taxes-table,
.Layer__tax-estimate__state-taxes-table,
.Layer__tax-estimate__payments-table {
  width: 100%;

  .Layer__table-row {
    border-bottom: 1px solid var(--color-base-200);
  }

  .Layer__table-cell {
    vertical-align: middle;
  }
}

.Layer__tax-estimate__deduction-item {
  padding-inline-start: var(--spacing-xl);
}

.Layer__tax-estimate__separator-row {
  padding: var(--spacing-sm) 0;
  border-bottom: 1px solid var(--color-base-300);
}

.Layer__tax-estimate__agi-total-label,
.Layer__tax-estimate__agi-total-amount {
  color: var(--color-success-600);
}

.Layer__tax-estimate__tooltip {
  color: var(--color-base-100);
}

.Layer__tax-estimate__owed-label,
.Layer__tax-estimate__owed-amount {
  font-weight: var(--font-weight-bold);
  color: var(--color-error-600);
}
