.Layer__tax-estimate {
  max-width: 1460px;

  @media (width <= 1024px) {
    max-width: 50rem;
  }

  .Layer__input-group,
  .Layer__UI__DatePicker,
  .Layer__separator {
    @media (width <= 1024px) {
      width: 100%;
    }
  }

  .Layer__input {
    width: 100%;
  }
}

.Layer__tax-estimate__overview-container,
.Layer__tax-estimate__details-container {
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-base-300);

  .Layer__separator {
    width: 100%;
  }
}

.Layer__tax-estimate-view__header-actions {
  width: auto;
  min-width: 8rem;
}
